<h4>Bordered Tables</h4>
<p>Alternatively if you would like to add borders to all cells add the <code>table--border</code> class to the <code>&#x3C;table&#x3E;</code> element.</p>
<h6>Demo:</h6>
<table class="table--border">
  <thead>
    <tr>
      <td>#</td>
      <td>Header Column 1</td>
      <td>Header Column 2</td>
      <td>Header Column 3</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Body Column</td>
      <td>Body Column</td>
      <td>Body Column</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Body Column</td>
      <td>Body Column</td>
      <td>Body Column</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Body Column</td>
      <td>Body Column</td>
      <td>Body Column</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Body Column</td>
      <td>Body Column</td>
      <td>Body Column</td>
    </tr>
  </tbody>
</table>
<h6>Markup:</h6>
<pre>&#x3C;table class=&#x22;<mark>table--border</mark>&#x22;&#x3E;...&#x3C;/table&#x3E;</pre>