<h1>Input</h1>
<section class="container">
  <p>This is what the most used inputs look like by default. By changing the <code>type</code> attribute these <code>&#x3C;input&#x3E;</code> elements take on different roles.</p>
  <p>For a comprehensive list of attributes see the <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input" title="MDN Web Docs for input elements">MDN Web Docs</a>.</p>
  <h6>Attributes:</h6>
  <ul role="group">
    <li role="listitem"><code>type</code> : the most important and most powerful attribute for an input element</li>
    <li role="listitem"><code>id</code> : match this attribute with the corresponding <code>for</code> 
      attribute that is on the <code>&#x3C;label&#x3E;</code> element</li>
    <li role="listitem"><code>aria-label</code> : defines a label for the element (only used when label text not visible on screen)</li>
    <li role="listitem"><code>title</code></li>
    <li role="listitem"><code>placeholder</code></li>
  </ul>
  <hr>
  <p>All form elements, such as <code>input</code> elements, should always have associated labels.</p>
  <table id="documentation-table">
    <tbody>
      <tr *ngFor="let inputType of inputTypes">
        <td><code>&#x3C;input type=&#x22;{{ inputType }}&#x22;&#x3E;</code></td>
        <td><input type="{{ inputType }}" class="input" title="{{ inputType }} input example"></td>
      </tr>
      <tr>
        <td><code>&#x3C;select&#x3E;&#x3C;select&#x3E;</code></td>
        <td>
          <div class="select">
            <select aria-label="select input example">
              <option>Option 1</option>
            </select>
          </div>
        </td>
      </tr>
      <tr>
        <td><code>&#x3C;textarea&#x3E;&#x3C;/textarea&#x3E;</code></td>
        <td><textarea class="input" aria-label="textarea input example"></textarea></td>
      </tr>
    </tbody>
  </table>
</section>