<h4>Native Radio</h4>
<p>When we have radio inputs, by default, they are wrapped with a <code>label</code> element with a class of <code>.radio</code>. Be sure to add <code>type="radio"</code> as an attribute.</p>
<h6>Demo:</h6>
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Label 1
</label>
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Label 2
</label>
<h6>Markup:</h6>
<pre>&#x3C;label class=&#x22;<mark>radio</mark>&#x22;&#x3E;
  &#x3C;input type=&#x22;radio&#x22; name=&#x22;&#x22; id=&#x22;&#x22; value=&#x22;&#x22; checked&#x3E;Label 1
&#x3C;/label&#x3E;</pre>
<h4>Native Inline Radio</h4>
<p>Similar to our default radio inputs, modify the radio class and add <code>--inline</code> to the radio class on the <code>label</code> element for a series of radio that you want to appear alongside eachother.</p>
<h6>Demo:</h6>
<label class="radio--inline">
    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Label 1
</label>
<label class="radio--inline">
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Label 2
</label>
<h6>Markup:</h6>
<pre>&#x3C;label class=&#x22;<mark>radio--inline</mark>&#x22;&#x3E;
  &#x3C;input type=&#x22;radio&#x22; name=&#x22;&#x22; id=&#x22;&#x22; value=&#x22;&#x22;&#x3E;Label 1
&#x3C;/label&#x3E;
&#x3C;label class=&#x22;<mark>radio--inline</mark>&#x22;&#x3E;
  &#x3C;input type=&#x22;radio&#x22; name=&#x22;&#x22; id=&#x22;&#x22; value=&#x22;&#x22;&#x3E;Label 2
&#x3C;/label&#x3E;</pre>