<section class="paragraph">
  <h2 class="section__title">radio</h2>
  <div class="container">
    <p>Radio elements, by default, are wrapped with a <code>label</code> element and a <code>.radio</code> class. Be sure to add <code>type="radio"</code> as an attribute.</p>
    <h6>Demo:</h6>
    <label class="radio">
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Label 1
    </label>
    <label class="radio">
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Label 2
    </label>
    <h6>Markup:</h6>
<pre>&#x3C;label class=&#x22;<mark>radio</mark>&#x22;&#x3E;
  &#x3C;input type=&#x22;radio&#x22; name=&#x22;&#x22; id=&#x22;&#x22; value=&#x22;&#x22; checked&#x3E;Label 1
&#x3C;/label&#x3E;</pre>
    <h4>Radio Inline</h4>
    <p>To modify the radio elements to be inline with eachother add <code>--inline</code> to the radio class on the <code>label</code> element.</p>
    <h6>Demo:</h6>
    <label class="radio--inline">
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Label 1
    </label>
    <label class="radio--inline">
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Label 2
    </label>
    <h6>Markup:</h6>
<pre>&#x3C;label class=&#x22;<mark>radio--inline</mark>&#x22;&#x3E;
  &#x3C;input type=&#x22;radio&#x22; name=&#x22;&#x22; id=&#x22;&#x22; value=&#x22;&#x22;&#x3E;Label 1
&#x3C;/label&#x3E;
&#x3C;label class=&#x22;<mark>radio--inline</mark>&#x22;&#x3E;
  &#x3C;input type=&#x22;radio&#x22; name=&#x22;&#x22; id=&#x22;&#x22; value=&#x22;&#x22;&#x3E;Label 2
&#x3C;/label&#x3E;</pre>
  </div>
</section>