<h1>Checkbox</h1>
<section class="container">
  <p>Checkbox elements, by default, are wrapped with a <code>label</code> element and a <code>.checkbox</code> class. Be sure to add <code>type="checkbox"</code> as an attribute.</p>
  <p>A basic checkbox has an input wrapped by a label.</p>
  <h6>Demo:</h6>
  <label for="checkbox1" class="checkbox">
    <input type="checkbox" id="checkbox1" name="checkbox1">Checkbox 1
  </label>
  <label for="checkbox2" class="checkbox">
    <input type="checkbox" id="checkbox2" name="checkbox2">Checkbox 2
  </label>
  <h6>Markup:</h6>
<pre>&#x3C;label class=&#x22;<mark>checkbox</mark>&#x22; for=&#x22;&#x22;&#x3E;
  &#x3C;input type=&#x22;<mark>checkbox</mark>&#x22; id=&#x22;&#x22; name=&#x22;&#x22;&#x3E;Checkbox 1
&#x3C;/label&#x3E;
&#x3C;label class=&#x22;<mark>checkbox</mark>&#x22; for=&#x22;&#x22; &#x3E;
  &#x3C;input type=&#x22;<mark>checkbox</mark>&#x22; id=&#x22;&#x22; name=&#x22;&#x22;&#x3E;Checkbox 2
&#x3C;/label&#x3E;</pre>
  <hr>
  <h4>Checkbox Inline Group</h4>
  <p>It is best practice to enclose checkbox inputs inside of an <code>form-group</code> element. Wrapping the checkboxes keeps the corresponding question inline with the <code>checkbox</code> elements.</p>
  <h6>Demo:</h6>
  <div class="form-group">
    <label class="checkbox" aria-label="question for checkbox1">The question for radio:</label>
    <label class="checkbox">
      <input type="checkbox">Checkbox 1
    </label>
    <label class="checkbox">
      <input type="checkbox" >Checkbox 2
    </label>
  </div>
  <h6>Markup:</h6>
<pre>&#x3C;div class=&#x22;<mark>form-group</mark>&#x22;&#x3E;
  &#x3C;label class=&#x22;checkbox&#x22; aria-label=&#x22;&#x22;&#x3E;Question:&#x3C;/label&#x3E;
  &#x3C;label class=&#x22;<mark>checkbox</mark>&#x22; for=&#x22;&#x22;&#x3E;
    &#x3C;input type=&#x22;<mark>checkbox</mark>&#x22; id=&#x22;&#x22; name=&#x22;&#x22;&#x3E;Checkbox 1
  &#x3C;/label&#x3E;
  &#x3C;label class=&#x22;<mark>checkbox</mark>&#x22; for=&#x22;&#x22;&#x3E;
    &#x3C;input type=&#x22;<mark>checkbox</mark>&#x22; id=&#x22;&#x22; name=&#x22;&#x22;&#x3E;Checkbox 1
  &#x3C;/label&#x3E;
&#x3C;/div&#x3E;</pre>
  <hr>
  <h4>Checkbox Group Stacked</h4>
  <p></p>
  <h6>Demo:</h6>
  <div class="form-group--stacked">
    <label class="checkbox" aria-label="question for checkbox2">The question for radio:</label>
    <label class="checkbox">
      <input type="checkbox">Checkbox 1
    </label>
    <label class="checkbox">
      <input type="checkbox" >Checkbox 2
    </label>
  </div>
  <h6>Markup:</h6>
<pre>&#x3C;div class=&#x22;<mark>form-group--stacked</mark>&#x22;&#x3E;
  &#x3C;label class=&#x22;<mark>checkbox</mark>&#x22; for=&#x22;&#x22;&#x3E;
    &#x3C;input type=&#x22;<mark>checkbox</mark>&#x22; id=&#x22;&#x22; name=&#x22;&#x22;&#x3E;Checkbox 1
  &#x3C;/label&#x3E;
  &#x3C;label class=&#x22;<mark>checkbox</mark>&#x22; for=&#x22;&#x22;&#x3E;
    &#x3C;input type=&#x22;<mark>checkbox</mark>&#x22; id=&#x22;&#x22; name=&#x22;&#x22;&#x3E;Checkbox 1
  &#x3C;/label&#x3E;
&#x3C;/div&#x3E;</pre>
</section>