<section class="paragraph">
  <h2 class="section__title">Checkbox</h2>
  <div class="container">
    <p>Checkbox elements, by default, are wrapped with a <code>label</code> element and a <code>.checkbox</code> class. Be sure to add <code>type="checkbox"</code> as an attribute.</p>
    <h6>Demo:</h6>
    <label class="checkbox">
      <input type="checkbox" value="">Label 1
    </label>
    <label class="checkbox">
      <input type="checkbox" value="" >Label 2
    </label>
    <h6>Markup:</h6>
<pre>&#x3C;label class=&#x22;<mark>checkbox</mark>&#x22;&#x3E;
  &#x3C;input type=&#x22;checkbox&#x22; value=&#x22;&#x22;&#x3E;Label 1
&#x3C;/label&#x3E;</pre>
    <hr>
    <h4>Checkbox Inline</h4>
    <p>For a series of checkbox inputs all on the same line modify the checkbox class adding <code>--inline.</code></p>
    <h6>Demo:</h6>
    <label class="checkbox--inline">
      <input type="checkbox" value="">Label Inline 1
    </label>
    <label class="checkbox--inline">
      <input type="checkbox" value="" >Label Inline 2
    </label>
    <h6>Markup:</h6>
<pre>&#x3C;label class=&#x22;<mark>checkbox--inline</mark>&#x22;&#x3E;
  &#x3C;input type=&#x22;checkbox&#x22; id=&#x22;&#x22; value=&#x22;&#x22;&#x3E;Label Inline 1
&#x3C;/label&#x3E;
&#x3C;label class=&#x22;<mark>checkbox--inline</mark>&#x22;&#x3E;
  &#x3C;input type=&#x22;checkbox&#x22; id=&#x22;&#x22; value=&#x22;&#x22;&#x3E;Label Inline 2
&#x3C;/label&#x3E;</pre>
  </div>
</section>