<h4>Native Checkbox</h4>
<p>When we have checkbox inputs, by default, they are wrapped with a <code>label</code> element with a class of <code>.checkbox</code>. Be sure to add <code>type="checkbox"</code> as an attribute.</p>
<h6>Demo:</h6>
<label class="checkbox">
  <input type="checkbox" value="">Label 1
</label>
<label class="checkbox">
  <input type="checkbox" value="" >Label 2
</label>
<h6>Markup:</h6>
<pre>&#x3C;label class=&#x22;<mark>checkbox</mark>&#x22;&#x3E;
  &#x3C;input type=&#x22;checkbox&#x22; value=&#x22;&#x22;&#x3E;Label 1
&#x3C;/label&#x3E;</pre>
<h4>Native Inline Checkbox</h4>
<p>Similar to our default checkbox inputs, modify the checkbox class and add <code>--inline</code> to the checkbox class on the <code>label</code> element for a series of checkboxes that you want to appear alongside eachother.</p>
<h6>Demo:</h6>
<label class="checkbox--inline">
  <input type="checkbox" value="">Label Inline 1
</label>
<label class="checkbox--inline">
  <input type="checkbox" value="" >Label Inline 2
</label>
<h6>Markup:</h6>
<pre>&#x3C;label class=&#x22;<mark>checkbox--inline</mark>&#x22;&#x3E;
  &#x3C;input type=&#x22;checkbox&#x22; id=&#x22;&#x22; value=&#x22;&#x22;&#x3E;Label Inline 1
&#x3C;/label&#x3E;
&#x3C;label class=&#x22;<mark>checkbox--inline</mark>&#x22;&#x3E;
  &#x3C;input type=&#x22;checkbox&#x22; id=&#x22;&#x22; value=&#x22;&#x22;&#x3E;Label Inline 2
&#x3C;/label&#x3E;</pre>