<section class="paragraph" id="typography">
	<h4 class="section__title"><i class="fas fa-hashtag icon--pad--right" aria-hidden="true"></i>typography</h4>
	<div class="container">
	  <p>This section covers fonts, heading tags, heading classes, lead paragraph text, body copy, and blockquotes.</p>
	  <p>To use these fonts just extend their placeholders where you need them</p>
	  <br>
	  <p>Digital Fonts</p>
	  <p class="arial-bold-text">Arial Bold: Var = $arial,  Font-weight: 600</p>
	  <p class="arial-text">Arial: Var = $arial, Font-weight: 400</p>
	  <br>
	  <h1 class="h1">Heading Level 1, Arial Bold</h1>
	  <h2 class="h2">Heading Level 2, Arial Bold</h2>
	  <h3 class="h3">Heading Level 3, Arial Bold</h3>
	  <h4 class="h4">Heading Level 4, Arial Bold</h4>
	  <h5 class="h5" style="text-decoration: none;">Heading Level 5, Arial Bold</h5>
	  <h6 class="h6">Heading Level 6, Arial Bold</h6>
	  <br>
	  <!-- <p class="lead">This paragraphy has class="lead" on it with the font Arial Regular. It has a larger font size than normal body copy and larger line-height. </p> -->
	  <p>This is normal body copy with Arial Regular. Bacon ipsum dolor amet meatloaf pariatur irure, swine ground round jerky brisket venison turducken hamburger pancetta anim aliquip. Sed ut sint ad jowl lorem nostrud dolore sunt et andouille pancetta kielbasa. Ham boudin tail do, alcatra tenderloin bresaola veniam. Capicola eu pig, nostrud doner sausage meatloaf bresaola. Pork belly tri-tip aliqua anim est magna pork chop jerky dolore fatback commodo irure.</p>
	  <br>
	  <blockquote>This is a blockquote. We probably won't use this often and if we do it will probably have a skin on it but this is our default view. If you add a <code>&lt;footer&gt;&lt;/footer&gt;</code> inside of a blockquote it will look like the example below. It will add ::before styles to the footer.
	  <footer>Source example here</footer>
	  </blockquote>
	  <br>
	  <!-- <label>This is a label, they usually go with inputs</label> -->
	</div>
</section>