<section class="paragraph">
  <h3 class="section__title" id="typography">
    <i class="icon fas fa-hashtag" aria-hidden="true"></i>
    <span>typography</span>
  </h3>
  <div class="container">
    <p>This section covers fonts, heading tags, heading classes, body copy, and blockquotes.</p>
    <h1 class="h1">Heading 1: 6em</h1>
    <h2 class="h2">Heading 2: 4em</h2>
    <h3 class="h3">Heading 3: 2.6em</h3>
    <h4 class="h4">Heading 4: 2em</h4>
    <h5 class="h5">Heading 5: 1.6em</h5>
    <h6 class="h6">Heading 6: 1.2em</h6>
    <p>This is normal body copy with Arial Regular. Bacon ipsum dolor amet meatloaf pariatur irure, swine ground round jerky brisket venison turducken hamburger pancetta anim aliquip. Sed ut sint ad jowl lorem nostrud dolore sunt et andouille pancetta kielbasa. Ham boudin tail do, alcatra tenderloin bresaola veniam. Capicola eu pig, nostrud doner sausage meatloaf bresaola. Pork belly tri-tip aliqua anim est magna pork chop jerky dolore fatback commodo irure.</p>
    <blockquote>This is a blockquote. We probably won't use this often and if we do it will probably have a skin on it but this is our default view. If you add a <code>&lt;footer&gt;&lt;/footer&gt;</code> inside of a blockquote it will look like the example below. It will add ::before styles to the footer.
    <footer>Source example here</footer>
    </blockquote>
    <h5>Text Formatting</h5>
    <ul>
      <li><code>&lt;strong&gt;</code> : <strong>Strong text</strong></li>
      <li><code>&lt;em&gt;</code> : <em>emphasized text</em></li>
      <li><code>&lt;u&gt;</code> : <u>underlined text</u></li>
      <li><code>&lt;s&gt;</code> : <s>text with a strike through it</s></li>
      <li><code>&lt;a&gt;</code> : <a>a link</a></li>
      <li><code>&lt;small&gt;</code> : <small>small text</small></li>
      <li><code>&lt;sup&gt;</code> : <sup>superscript text</sup></li>
      <li><code>&lt;sub&gt;</code> : <sub>this is subscript</sub></li>
      <li><code>&lt;code&gt;</code> : <code>this is code</code></li>
      <li><code>&lt;samp&gt;</code> : <samp>sample text</samp></li>
      <li><code>&lt;kbd&gt;</code> : <kbd>this is keyboard text</kbd></li>
      <li><code>&lt;mark&gt;</code> : <mark>marked text</mark></li>
    </ul>
  </div>
</section>