<p>The light switch component is a block element. The label is enclosed within it so that it will always be on the same line as its corresponding switch. The default switch resembles a light switch, dark and gray when off and golden when on. Colors are customizable along with the default skins that come with the element.</p>
<h6>Demo:</h6>
<div class="switch">
  <div class="switch__title">Light Switch</div>
  <input type="checkbox" aria-label="light switch toggle">
  <span>
    <span>Off</span>
    <span>On</span>
    <a></a>
  </span>
</div>
<h6>Markup:</h6>
<pre>&#x3C;div class=&#x22;<mark>switch</mark>&#x22;&#x3E;
  &#x3C;div class=&#x22;<mark>switch__title</mark>&#x22;&#x3E;Label&#x3C;/div&#x3E;
  &#x3C;input type=&#x22;checkbox&#x22; <mark>aria-label</mark>=&#x22;&#x22;&#x3E;
  &#x3C;span&#x3E;
    &#x3C;span&#x3E;Off&#x3C;/span&#x3E;
    &#x3C;span&#x3E;On&#x3C;/span&#x3E;
    &#x3C;a&#x3E;&#x3C;/a&#x3E;
  &#x3C;/span&#x3E;
&#x3C;/div&#x3E;</pre>
<hr>
<h4>Inline</h4>
<p>If you want a switch component to be inline with another element use <code>.switch--inline</code> class instead.</p>
<h6>Demo:</h6>
<div class="switch--inline">
  <div class="switch__title">Light Switch</div>
  <input type="checkbox" aria-label="light switch toggle">
  <span>
    <span>Off</span>
    <span>On</span>
    <a></a>
  </span>
</div>
<div class="switch--inline">
  <div class="switch__title">Light Switch</div>
  <input type="checkbox" aria-label="light switch toggle">
  <span>
    <span>Off</span>
    <span>On</span>
    <a></a>
  </span>
</div>
<h6>Markup:</h6>
<pre>&#x3C;div class=&#x22;<mark>switch--inline</mark>&#x22;&#x3E;...&#x3C;/div&#x3E;</pre>
<hr>
<h4>Skins</h4>
<p>All basic skins are available for this component.</p>
<p>Add the skin class to the input element inside the switch for the class to take affect.</p>
<div *ngFor="let color of colors">
  <h6>Demo: <code>switch--{{ color }}</code></h6>
  <div class="switch">
    <div class="switch__title">Light Switch</div>
    <input type="checkbox" class="skin-{{ color }}" aria-label="light switch toggle" checked>
    <span>
      <span>Off</span>
      <span>On</span>
      <a></a>
    </span>
  </div>
</div>
<h6>Markup:</h6>
<pre>&#x3C;div class=&#x22;switch&#x22;&#x3E;
  &#x3C;div class=&#x22;switch__title&#x22;&#x3E;Label&#x3C;/div&#x3E;
  &#x3C;input type=&#x22;checkbox&#x22; class=&#x22;<mark>skin-{{ '{' }}{{ '{' }} color {{ '}' }}{{ '}' }}</mark>&#x22; aria-label=&#x22;&#x22;&#x3E;
  ...
&#x3C;/div&#x3E;</pre>
<hr>
<h4>Color Customization</h4>
<p>To customize a switch with a specific color that isn't part of our default skins I recommend creating a new skin class.</p>
<pre>&#x3C;div class=&#x22;switch custom-skin&#x22;&#x3E;</pre>
<p>Inside your stylesheet target these elements:</p> 
<ul>
  <li><code>.switch input:checked + span</code> : targets the background color of the switch when it's on</li>
  <li><code>switch input:checked + span a</code> : targets the color of the circle when the switch is on</li>
</ul>