<h5 class="section__title">Switch Toggle</h5>
<div class="container">
  <div class="switch-toggle__wrapper">
    <span class="title">View</span>
    <div class="switch-toggle">
      <input id="d-c1" name="view-d-c" type="radio" checked="">
      <label for="d-c1" onclick="">Week</label>
      <input id="d-c2" name="view-d-c" type="radio">
      <label for="d-c2" onclick="">Month</label>
      <input id="d-c3" name="view-d-c" type="radio">
      <label for="d-c3" onclick="">Year</label>
      <a></a>
    </div>
  </div>
    <p>Example: Switch Toggle</p>
<pre>&lt;div class="switch-toggle__wrapper"&gt;<br />
&nbsp;&nbsp;&lt;span class="title"&gt;View&lt;/span&gt;<br />
&nbsp;&nbsp;&lt;div class="switch-toggle"&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;input id="" name="" type="radio" checked=""&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;label for="" onclick=""&gt;Week&lt;/label&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;input id="" name="" type="radio"&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;label for="" onclick=""&gt;Month&lt;/label&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;input id="" name="" type="radio"&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;label for="" onclick=""&gt;Year&lt;/label&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;a&gt;&lt;/a&gt;<br />
&nbsp;&nbsp;&lt;/div&gt;<br />
&lt;/div&gt;</pre>
  <p>If you want to add a skin just apply your own custom class to the <code>&lt;div class="switch-toggle"&gt;&lt;/div&gt;</code> and make you own custimizations. This an example of what you could customize.</p>
  <div class="switch-toggle__wrapper">
    <span class="title">View</span>
    <div class="switch-toggle skin-class">
      <input id="d-c14" name="view-d-c4" type="radio" checked="">
      <label for="d-c14" onclick="">Week</label>
      <input id="d-c24" name="view-d-c4" type="radio">
      <label for="d-c24" onclick="">Month</label>
      <input id="d-c34" name="view-d-c4" type="radio">
      <label for="d-c34" onclick="">Year</label>
      <a></a>
    </div>
  </div>
  <p>Example: Switch Toggle w/ custom skin</p>
<pre>.switch-toggle.&#123;skin-class&#125; &#123;<br />
&nbsp;&nbsp;background-color: #eeeeee;<br />
&nbsp;&nbsp;label &#123;<br />
&nbsp;&nbsp;&nbsp;&nbsp;color: #585858;<br />
&nbsp;&nbsp;&nbsp;&nbsp;text-shadow: none;<br />
&nbsp;&nbsp;&#125;<br />
&nbsp;&nbsp;a &#123;<br />
&nbsp;&nbsp;&nbsp;&nbsp;background-color: #5cb85c;<br />
&nbsp;&nbsp;&nbsp;&nbsp;border-color: #585858;<br />
&nbsp;&nbsp;&#125;<br />
&nbsp;&nbsp;input:checked + label &#123;<br />
&nbsp;&nbsp;&nbsp;&nbsp;color: #ffffff;<br />
&nbsp;&nbsp;&nbsp;&nbsp;text-shadow: 1px 1px 1px #191b1e;<br />
&nbsp;&nbsp;&#125;<br />
&#125;</pre>
</div>