////////// Skin Colors //////////

.skin-green {@include skin('skin-', $lego-green);}
.skin-gray {@include skin('skin-', $lego-gray);}
.skin-papaya {@include skin('skin-', $papaya);}
.skin-blue {@include skin('skin-', $true-blue);}
.skin-input {@include skin('skin-', $input-default);}

.skin-reverse-green {@include skin('skin-reverse-', $lego-green);}
.skin-reverse-gray {@include skin('skin-reverse-', $lego-gray);}
.skin-reverse-papaya {@include skin('skin-reverse-', $papaya);}
.skin-reverse-blue {@include skin('skin-reverse-', $true-blue);}
.skin-reverse-input {@include skin('skin-reverse-', $input-default);}

.link-green {@include skin('link-', $lego-green);}
.link-gray {@include skin('link-', $lego-gray);}
.link-papaya {@include skin('link-', $papaya);}
.link-blue {@include skin('link-', $true-blue);}
.link-white {@include skin('link-', $white);}


//////// Sizes //////////

.skin-lg {
  padding: 16px 30px !important;
  font-size: 18px !important;
  border-radius: 6px !important;
}

.skin-md {
  padding: 6px 12px !important;
  font-size: 14px !important;
  border-radius: 3px !important;
}

.skin-sm {
  padding: 3px 6px !important;
  font-size: 12px !important;
  border-radius: 3px !important;
}


