<section class="paragraph">
  <h4 class="section__title" id="cards"><i class="fas fa-hashtag icon--pad--right" aria-hidden="true"></i>cards</h4>
  <div class="container">
    <p>This is how you would build a card. See the <a href="#colors">Color</a> section below for an example of how cards look.</p>
    <div class="card">
      <span class="card__display lego-green"></span>
      <span class="card__title">Card Title</span>
      <span class="card__name">Card Name</span>
    </div>
    <p>Example: Card HTML</p>
<pre>&nbsp;&lt;div class="card"&gt;<br />
&nbsp;&nbsp;&lt;span class="card__display [class for img or background-color]"&gt;&lt;/span&gt;<br />
&nbsp;&nbsp;&lt;span class="card__title"&gt;Card Title&lt;/span&gt;<br />
&nbsp;&nbsp;&lt;span class="card__name"&gt;Card Name&lt;/span&gt;<br />
&nbsp;&lt;/div&gt;</pre>
  </div>
</section>