<h5 class="section__title">Switch Toggle</h5>
  <div class="container">
  <p><code>.switch</code> : Default switches that that take up the whole line.</p>
  <div class="switch">
    <strong class="title">Light Switch</strong>
    <input type="checkbox">
    <span>
      <span>Off</span>
      <span>On</span>
      <a></a>
    </span>
  </div>
  <div class="switch">
    <strong class="title">Light Switch</strong>
    <input type="checkbox" disabled>
    <span>
      <span>Off</span>
      <span>On</span>
      <a></a>
    </span>
  </div>
  <p><code>&lt;switch-inline&gt;</code> : If you want your switch to be an inline item alongside another item.</p>
  <div class="switch-inline">
    <strong class="title">Light Switch</strong>
    <input type="checkbox">
    <span>
      <span>Off</span>
      <span>On</span>
      <a></a>
    </span>
  </div>
  <div class="switch-inline">
    <strong class="title">Light Switch</strong>
    <input type="checkbox" disabled>
    <span>
      <span>Off</span>
      <span>On</span>
      <a></a>
    </span>
  </div>
  <br />
  <p>Example: Default Switch</p>
<pre>&lt;div class="switch"&gt;<br />
&nbsp;&nbsp;&lt;input type="checkbox"&gt;<br />
&nbsp;&nbsp;&lt;strong class="title"&gt;Light Switch&lt;/strong&gt;<br />
&nbsp;&nbsp;&lt;span&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;span&gt;Off&lt;/span&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;span&gt;On&lt;/span&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;a&gt;&lt;/a&gt;<br />
&nbsp;&nbsp;&lt;/span&gt;<br />
&lt;/div"&gt;</pre>
  <p>If you want to customize your switch i recomment making a skin and applying your styles there. <code>&lt;div class="switch skin"&gt;</code>Target that <code>.switch.skin a, .switch-inline.skin a, .switch-inline.skin a</code> tag and change the <code>background-color</code> to change the switch circle color.</p>
</div>