<h1>Breadcrumb</h1>
<section class="container">
  <p>Navigation is at the core of user experience. Breadcrumbs enable a user to understand where they've been, how they got there and show a way back if necessary. It can be infuriating if you’ve ever wanted to go back one or two screens but haven’t been given an option to do so. You find yourself clicking the home button and end up losing your place. Breadcrumbs prevent those situations from happening.</p>
  <p>Best practice: Use an ordered list for this component. It is a list and it does matter what order the list is in.</p>
  <hr>
  <h6>Demo:</h6>
  <ol class="breadcrumb">
    <li class="breadcrumb__item"><a href="#">Home</a></li>
    <li class="breadcrumb__item"><a href="#">About Us</a></li>
    <li class="breadcrumb__item active">Section 1</li>
  </ol>
  <h6>Markup:</h6>
<pre>&#x3C;ol class=&#x22;<mark>breadcrumb</mark>&#x22;&#x3E;
  &#x3C;li class=&#x22;<mark>breadcrumb__item</mark>&#x22;&#x3E;
    &#x3C;a href=&#x22;#&#x22;&#x3E;Home&#x3C;/a&#x3E;
  &#x3C;/li&#x3E;
  &#x3C;li class=&#x22;<mark>breadcrumb__item</mark>&#x22;&#x3E;
    &#x3C;a href=&#x22;#&#x22;&#x3E;Library&#x3C;/a&#x3E;
  &#x3C;/li&#x3E;
  &#x3C;li class=&#x22;<mark>breadcrumb__item active</mark>&#x22;&#x3E;
    Data
  &#x3C;/li&#x3E;
&#x3C;/ol&#x3E;</pre>
  <hr>
  <h4>Skins</h4>
  <p>All basic skins are available for this component.</p>
  <p><sup>*</sup>Note: The gray skin is not available for breadcrumbs. The default color for previous breadcrumb items is already gray.</p>
  <div *ngFor="let color of colors" class="breadcrumb skin--{{ color }}">
    <h6>Demo:</h6>
    <ol>
      <li class="breadcrumb__item"><a href="#">Home</a></li>
      <li class="breadcrumb__item"><a href="#">Exercises</a></li>
      <li class="breadcrumb__item active">{{ color }}</li>
    </ol>
    <h6>Markup:</h6>
<pre>&#x3C;ol class=&#x22;breadcrumb <mark>skin-{{ '{' }}{{ '{' }} color {{ '}' }}{{ '}' }}</mark>&#x22;&#x3E;...&#x3C;/ol&#x3E;</pre>
  </div>
</section>