<section class="paragraph">
  <h2 class="section__title" id="breadcrumbs">breadcrumbs</h2>
  <div class="container">
    <p>Breadcrumbs are used to help with navigation within an application. Have you ever just wanted to back a screen or two but you can't figure out how so you just end up clicking home and starting over again. Breadcrumbs help prevent those situations. They allow site visitors to always know where they are in relation to where they've been.</p>
    <p>Best practices: Use an ordered list for this component because it is a list and it does matter what order the list is in.</p>
    <h6>Demo:</h6>
    <ol class="breadcrumb">
      <li class="breadcrumb__item"><a href="#">Home</a></li>
      <li class="breadcrumb__item"><a href="#">About Us</a></li>
      <li class="breadcrumb__item active">Section 1</li>
    </ol>
    <h6>Markup:</h6>
<pre>&#x3C;ol class=&#x22;<mark>breadcrumb</mark>&#x22;&#x3E;
  &#x3C;li class=&#x22;<mark>breadcrumb__item</mark>&#x22;&#x3E;
    &#x3C;a href=&#x22;#&#x22;&#x3E;Home&#x3C;/a&#x3E;
  &#x3C;/li&#x3E;
  &#x3C;li class=&#x22;<mark>breadcrumb__item</mark>&#x22;&#x3E;
    &#x3C;a href=&#x22;#&#x22;&#x3E;Library&#x3C;/a&#x3E;
  &#x3C;/li&#x3E;
  &#x3C;li class=&#x22;<mark>breadcrumb__item active</mark>&#x22;&#x3E;
    Data
  &#x3C;/li&#x3E;
&#x3C;/ol&#x3E;</pre>
    <h4>Skins</h4>
    <p>The basic color skins are availible for this component. Just add the <code>.breadcrumb--{{ '{' }}color{{ '}' }}</code> with the <code>.breadcrumb</code>class. This will just alter the color used for the active <code>breadcrumb__item</code>.</p>
    <p>* NOTE: There is no gray default color because the defaut color for the previous breadcrumb links are already gray.</p>
    <h6>Demo:</h6>
    <ol class="breadcrumb breadcrumb--green">
      <li class="breadcrumb__item"><a href="#">Home</a></li>
      <li class="breadcrumb__item"><a href="#">Exercises</a></li>
      <li class="breadcrumb__item active">Green</li>
    </ol>
    <ol class="breadcrumb breadcrumb--red">
      <li class="breadcrumb__item"><a href="#">Home</a></li>
      <li class="breadcrumb__item"><a href="#">Practice</a></li>
      <li class="breadcrumb__item active">Red</li>
    </ol>
    <ol class="breadcrumb breadcrumb--blue">
      <li class="breadcrumb__item"><a href="#">Home</a></li>
      <li class="breadcrumb__item"><a href="#">Questions</a></li>
      <li class="breadcrumb__item active">Blue</li>
    </ol>
    <h6>Markup:</h6>
<pre>&#x3C;ol class=&#x22;<mark>breadcrumb breadcrumb--green</mark>&#x22;&#x3E;
  ...
&#x3C;/ol&#x3E;</pre>
<pre>&#x3C;ol class=&#x22;<mark>breadcrumb breadcrumb--red</mark>&#x22;&#x3E;
  ...
&#x3C;/ol&#x3E;</pre>
<pre>&#x3C;ol class=&#x22;<mark>breadcrumb breadcrumb--blue</mark>&#x22;&#x3E;
  ...
&#x3C;/ol&#x3E;</pre>
  </div>
</section>