<section class="paragraph">
  <h4 class="section__title" id="breadcrumbs"><i class="icon fas fa-hashtag" aria-hidden="true"></i>breadcrumbs</h4>
  <div class="container">
    <p></p>
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Library</a></li>
      <li class="active">Data</li>
    </ol>
<pre>&lt;ol class="breadcrumb"&gt;<br />
&lt;li&gt;&lt;a href="#"&gt;Home&lt;/a&gt;&lt;/li&gt;<br />
&lt;li&gt;&lt;a href="#"&gt;Library&lt;/a&gt;&lt;/li&gt;<br />
&lt;li class="active"&gt;Data&lt;/li&gt;<br />
&lt;/ol&gt;</pre>
  </div>
</section>