<h4>Button Groups</h4>
<p>Buttons used as an action bar or toolbar. Wrap a collection of button in a <code>.btn-group</code> element. Add colors to the buttons just as you normally would.</p>
<h6>Demo:</h6>
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-group__btn btn--outline-default">Middle</button>
  <button type="button" class="btn btn-group__btn btn--outline-default">Left</button>
  <button type="button" class="btn btn-group__btn btn--outline-default">Right</button>
</div>
<h6>Markup:</h6>
<pre>&#x3C;div class=&#x22;<mark>btn-group</mark>&#x22; role=&#x22;group&#x22; aria-label=&#x22;...&#x22;&#x3E;
  &#x3C;button type=&#x22;button&#x22; class=&#x22;btn btn-group__btn btn--outline-default&#x22;&#x3E;Middle&#x3C;/button&#x3E;
  &#x3C;button type=&#x22;button&#x22; class=&#x22;btn btn-group__btn btn--outline-default&#x22;&#x3E;Left&#x3C;/button&#x3E;
  &#x3C;button type=&#x22;button&#x22; class=&#x22;btn btn-group__btn btn--outline-default&#x22;&#x3E;Right&#x3C;/button&#x3E;
&#x3C;/div&#x3E;</pre>