<h5 class="section__title" id="buttons">buttons groups</h5>
<div class="container">
  <p>We also have button groups used for action bar items. Wrap a collection of <code>&lt;button&gt;&lt;/button&gt;</code> in a <code>&lt;div class="btn--group"&gt;</code> element. Add a skin for colors.</p>
  <div class="btn--group" role="group" aria-label="...">
    <button type="button" class="btn skin-reverse-gray">Left</button>
    <button type="button" class="btn skin-reverse-gray">Middle</button>
    <button type="button" class="btn skin-reverse-gray">Right</button>
  </div>
  <br><br>
  <p>Example: Button Group</p>
<pre>&lt;div class="btn--group" role="group" aria-label="..."&gt;<br />
&nbsp;&nbsp;&lt;button type="button" class="btn skin-reverse-gray"&gt;Left&lt;/button&gt;<br />
&nbsp;&nbsp;&lt;button type="button" class="btn skin-reverse-gray"&gt;Middle&lt;/button&gt;<br />
&nbsp;&nbsp;&lt;button type="button" class="btn skin-reverse-gray"&gt;Right&lt;/button&gt;<br />
&lt;/divp&gt;</pre>
</div>