<h5>Striped Tables</h5>
<p>To add a zerbra like pattern to the rows add the <code>table--stripe</code> class to the <code>&#x3C;table&#x3E;</code> element.</p>
<h6>Demo:</h6>
<table class="table--stripe">
  <thead>
    <tr>
      <td>#</td>
      <td>Header Column 1</td>
      <td>Header Column 2</td>
      <td>Header Column 3</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Body Column</td>
      <td>Body Column</td>
      <td>Body Column</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Body Column</td>
      <td>Body Column</td>
      <td>Body Column</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Body Column</td>
      <td>Body Column</td>
      <td>Body Column</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Body Column</td>
      <td>Body Column</td>
      <td>Body Column</td>
    </tr>
  </tbody>
</table>
<h6>Markup:</h6>
<pre>&#x3C;table class=&#x22;<mark>table--stripe</mark>&#x22;&#x3E;...&#x3C;/table&#x3E;</pre>