<div class="container">
  <p>Generic slide switche</p>
  <ul class="toggle-list">
    <li class="toggle-list-item">
      <h4>Slide</h4>
      <input class="toggle toggle-slide" id="switch1" type="checkbox"/>
      <label class="toggle-btn" data-tg-off="OFF" data-tg-on="ON" for="switch1"></label>
    </li>
  </ul>
  <br />
<pre>&lt;ul class="toggle-list"&gt;<br />
&nbsp;&nbsp;&lt;li class="toggle-list-item"&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class="toggle toggle-slide" id="switch1" type="checkbox"/&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;label class="toggle-btn" data-tg-off="OFF" data-tg-on="ON" for="switch1"&gt;&lt;/label&gt;<br />
&nbsp;&nbsp;&lt;/li&gt;
&lt;/ul&gt;</pre>
  <p>Note: for custom colors please override color styles for different cheked states.</p>
</div>