<section class="paragraph">
  <h2 class="section__title">table</h2>
  <div class="container">
    <p>A table component is used for tabular data, not layout. The default <code>&#x3C;table&#x3E;</code> element has no column dividers, only row divders.</p>
    <p>Best Practices: Use the <code>&#x3C;table&#x3E;</code> element and not a class name. For accessibility if you are going to be displaying tabular data use <code>&#x3C;table&#x3E;</code>, <code>&#x3C;thead&#x3E;</code>, <code>&#x3C;tbody&#x3E;</code>, <code>&#x3C;tr&#x3E;</code>, <code>&#x3C;td&#x3E;</code>, and <code>&#x3C;caption&#x3E;</code> elements where appropriate. Screen readers and assistive technologies cannot read class names therefore don't know how to translate their functions.</p>
    <hr>
    <h6>Demo:</h6>
    <table>
      <caption>This is an example of a table caption</caption>
      <thead>
        <tr>
          <td>#</td>
          <td>Header Column 1</td>
          <td>Header Column 2</td>
          <td>Header Column 3</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Body Column 1</td>
          <td>Body Column 2</td>
          <td>Body Column 3</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Body Column 1</td>
          <td>Body Column 2</td>
          <td>Body Column 3</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Body Column 1</td>
          <td>Body Column 2</td>
          <td>Body Column 3</td>
        </tr>
      </tbody>
    </table>
    <h6>Markup:</h6>
<pre>&#x3C;table&#x3E;
  &#x3C;caption&#x3E;table caption&#x3C;/caption&#x3E;
  &#x3C;thead&#x3E;
    &#x3C;tr&#x3E;
      &#x3C;td&#x3E;#&#x3C;/td&#x3E;
      &#x3C;td&#x3E;Header Column 1&#x3C;/td&#x3E;
      &#x3C;td&#x3E;Header Column 2&#x3C;/td&#x3E;
      &#x3C;td&#x3E;Header Column 3&#x3C;/td&#x3E;
    &#x3C;/tr&#x3E;
  &#x3C;/thead&#x3E;
  &#x3C;tbody&#x3E;
    &#x3C;tr&#x3E;
      &#x3C;td&#x3E;1&#x3C;/td&#x3E;
      &#x3C;td&#x3E;Body Column 1&#x3C;/td&#x3E;
      &#x3C;td&#x3E;Body Column 2&#x3C;/td&#x3E;
      &#x3C;td&#x3E;Body Column 3&#x3C;/td&#x3E;
    &#x3C;/tr&#x3E;
    ...
  &#x3C;/tbody&#x3E;
&#x3C;/table&#x3E;</pre>
    <hr>
    <bordered></bordered>
    <hr>
    <striped></striped>
  </div>
</section>