<h5>Custom CSS Checkboxes</h5>
<div class="container">
  <p>Need to play around with certain styles if you want to change the size.</p>
  <span class="custom-checkbox">
    <input id="custom-checkbox1" type="checkbox" />
    <label for="custom-checkbox1">
      <span></span>
      Label
    </label>
  </span>
  <br />
<pre>&lt;span class="custom-checkbox"&gt;<br />
&lt;input id="custom-checkbox1" type="checkbox" /&gt;<br />
&lt;label for="custom-checkbox1"&gt;<br />
&lt;span&gt;&lt;/span&gt;<br />
Label for checkbox goes here<br />
&lt;/label&gt;<br />
&lt;/span&gt;</pre>
  <br />
  <p>To change size and position of check inside the box change the top, left styles here:</p>
<pre>input[type='checkbox']:checked + label &gt; span:before {{'{'}}<br />
top: 5px;<br />
left: 2px;<br />
{{'}'}}</pre>
  <br />
  <p>The default colors for a checkbox is set below. To change the color of the checked state use these variables and set your own color defaults.</p>
</div>