<input type="checkbox" class="mobile-nav__toggle" (click)="toggleNav()" aria-label="toggle for mobile navigation">
<fa-icon for="mobile-nav" *ngIf="!isOpen" icon="bars" class="nav__hamburger fa-lg" aria-label="menu icon"></fa-icon>
<fa-icon for="mobile-nav" *ngIf="isOpen" icon="times" class="nav__close fa-lg" aria-label="close menu icon"></fa-icon>
<h5 class="mobile-nav__title" routerLink="/">LegoCSS</h5>
<div class="mobile-nav__content" *ngIf="isOpen">
  <navigation class="nav--vert" (newItemEvent)="addItem($event)" [isOpen]="currentState"></navigation>
</div>