<section class="paragraph">
  <h3 class="section__title" id="containers">
    <i class="icon fas fa-hashtag" aria-hidden="true"></i>
    <span>containers</span>
  </h3>
  <div class="container">
    <p>There are three classes that can quickly address the layout of content. These are only intended to be used for simple base layouts. For more complex implementation you may need to add more specific css of your own.</p>
    <h5>Base Container</h5>
    <p>Just a simplified outer container. The <code>.container</code> class creates a responsive box essentially and adds space on the bottom of each containers.</p>
    <p><em>* Note:</em> If you nest a <code>.container</code> inside of another <code>.container</code> a <code>padding-left&#58; 25px</code> will be added to the inside container. This is to be used as indenting subsections of text or sectioning out different parts of a form, as an example.</p>
    <h6>Markup:</h6>
<pre>position&#58; relative
margin&#58; 0 auto 20px auto
padding&#58; 0
width&#58; 100%</pre>
    <h5>Flex Row</h5>
    <p>Use the <code>.flex-container</code> class as it's own flex container (default row), alongside the base container class to turn it into a flex container, or inside of a base container. This flex container uses the styles below.</p>
    <h6>Markup:</h6>
<pre>display&#58; flex
flex-wrap&#58; wrap
justify-content&#58; flex-start
align-items&#58; center</pre>
    <h5>Flex Column</h5>
    <p>Use the <code>.flex-column</code> container class as it's own flex container with a column format. It does not share styles with the <code>.flex-container</code> class. Like the <code>.flex-container</code> this can be used with or without the base <code>.container</code> class. This flex container uses the styles below.</p>
    <h6>Markup:</h6>
<pre>display&#58; flex
flex-direction&#58; column</pre>
  </div>
</section>