<h5 class="section__title" id="inputs">native selects</h5>
<div class="container">
  <p>Note that many native select menus—namely in Safari and Chrome—have rounded corners that cannot be modified via border-radius properties.</p>
  <p>We have a custom block level select: <code>.select</code></p>
  <div class="select">
    <select name="selectExample" id="selectExample">
      <option>Choose</option>
      <option value="1">Pure CSS</option>
      <option value="2">No JS</option>
      <option value="3">Nice!</option>
    </select>
  </div>
  <p>As wells as an inline select: <code>.select-inline</code></p>
  <div class="select-inline skin-blue">
    <select name="selectExample" id="selectExample">
      <option>Choose</option>
      <option value="1">Pure CSS</option>
      <option value="2">No JS</option>
      <option value="3">Nice!</option>
    </select>
  </div>
  <div class="select-inline skin-reverse-blue">
    <select name="selectExample" id="selectExample">
      <option>Choose</option>
      <option value="1">Pure CSS</option>
      <option value="2">No JS</option>
      <option value="3">Nice!</option>
    </select>
  </div>
  <div class="select-inline skin-reverse-blue disabled">
    <select name="selectExample" id="selectExample" disabled>
      <option>Choose</option>
      <option value="1">Pure CSS</option>
      <option value="2">No JS</option>
      <option value="3">Nice!</option>
    </select>
  </div>
  <p>Add any of the custom button colors to the <code>.select</code> wrapper.</p>
<pre>&lt;div class="select or select-inline"&gt;<br />
&nbsp;&nbsp;&lt;select name="selectExample" id="selectExample"&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;option>Choose an option&lt;/option&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;option value="1">&lt;/option&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;option value="2">&lt;/option&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;option value="3">&lt;/option&gt;<br />
&nbsp;&nbsp;&lt;/select&gt;<br />
&lt;/div&gt;</pre>
  <p>To add a color class or a button class you need to apply the classes in the following places. The <code>.skin-{{color}}</code> goes on the select wrapper and the <code>.skin-{{size}}</code> goes on the select itself. Example below.</p>
<pre>&lt;div class="select skin-green"&gt;<br />
&nbsp;&nbsp;&lt;select name="selectExample" id="selectExample" class="skin-md"&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;option>Choose an option&lt;/option&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;option value="1">&lt;/option&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;option value="2">&lt;/option&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;option value="3">&lt;/option&gt;<br />
&nbsp;&nbsp;&lt;/select&gt;<br />
&lt;/div&gt;</pre>
</div>