<section class="paragraph">
  <h4 class="section__title" id="chips"><i class="fas fa-hashtag icon--pad--right" aria-hidden="true"></i>Chips</h4>
  <div class="container">
    <p>Chips Basic</p>
    <div class="chips">
      <span class="chip chip-default">Hockey</span>
      <span class="chip chip-default">Lacrosse</span>
      <span class="chip chip-default">Baseball</span>
    </div>
<pre>&lt;div class="chips"&gt;<br />
&nbsp;&nbsp;&lt;span class="chip chip-default"&gt;Hockey&lt;/span&gt;<br />
&nbsp;&nbsp;&lt;span class="chip chip-default"&gt;Lacrosse&lt;/span&gt;<br />
&nbsp;&nbsp;&lt;span class="chip chip-default"&gt;Baseball&lt;/span&gt;<br />
&lt;/div&gt;</pre>
    <p>Chips with skins:<br />
      - Add one of the several skin classes to the chips span element.<br />
      - Use <code>.skin-</code> or <code>.skin-reverse</code> classes. Refer to <a href="#skins">global styles documentation</a>.</p>
    <div class="chips">
      <span class="chip skin-green">Hockey</span>
      <span class="chip skin-gray">Lacrosse</span>
      <span class="chip skin-red">Baseball</span>
      <span class="chip skin-blue">Football</span>
      <span class="chip skin-input">Soccer</span>
    </div>
    <div class="chips">
      <span class="chip skin-reverse-green">Hockey</span>
      <span class="chip skin-reverse-gray">Lacrosse</span>
      <span class="chip skin-reverse-red">Baseball</span>
      <span class="chip skin-reverse-blue">Football</span>
      <span class="chip skin-reverse-input">Soccer</span>
    </div>
    <p>Example:</p>
<pre>&lt;span class="chip skin-green"&gt;Hockey&lt;/span&gt;<br />
&lt;span class="chip skin-reverse-blue"&gt;Lacrosse&lt;/span&gt;<br />
&lt;span class="chip skin-red"&gt;Baseball&lt;/span&gt;</pre>
    <p>Chips that are removable</p>
    <div class="chips">
      <span class="chip chip-default removable">Hockey<i class="fas fa-times close-icon"></i></span>
      <span class="chip chip-default removable">Lacrosse<i class="fas fa-times close-icon"></i></span>
      <span class="chip chip-default removable">Baseball<i class="fas fa-times close-icon"></i></span>
    </div>
  </div>
</section>