<section class="paragraph">
  <h3 class="section__title" id="colors">
    <i class="icon fas fa-hashtag" aria-hidden="true"></i>
    <span>colors</span>
  </h3>
  <div class="container">
    <h5>Gray Scale</h5>
    <div class="flex-container">
      <div class="card">
        <span class="card__display bg-gray-6"></span>
        <span class="card__title"></span>
        <span class="card__title">Hex:</span>
        <span class="card__name">#333333</span>
        <span class="card__title">Variable:</span>
        <span class="card__name">$lego-gray-6</span>
      </div>    
      <div class="card">
        <span class="card__display bg-gray-5"></span>
        <span class="card__title"></span>
        <span class="card__title">Hex:</span>
        <span class="card__name">#585858</span>
        <span class="card__title">Variable:</span>
        <span class="card__name">$lego-gray-2</span>
      </div>
      <div class="card">
        <span class="card__display bg-gray-4"></span>
        <span class="card__title"></span>
        <span class="card__title">Hex:</span>
        <span class="card__name">#7E7E7E</span>
        <span class="card__title">Variable:</span>
        <span class="card__name">$lego-gray-4</span>
      </div>
      <div class="card">
        <span class="card__display bg-gray-3"></span>
        <span class="card__title"></span>
        <span class="card__title">Hex:</span>
        <span class="card__name">#A3A3A3</span>
        <span class="card__title">Variable:</span>
        <span class="card__name">$lego-gray-3</span>
      </div>
      <div class="card">
        <span class="card__display bg-gray-2"></span>
        <span class="card__title"></span>
        <span class="card__title">Hex:</span>
        <span class="card__name">#C9C9C9</span>
        <span class="card__title">Variable:</span>
        <span class="card__name">$lego-gray-2</span>
      </div>  
      <div class="card">
        <span class="card__display bg-gray-1"></span>
        <span class="card__title"></span>
        <span class="card__title">Hex:</span>
        <span class="card__name">#EEEEEE</span>
        <span class="card__title">Variable:</span>
        <span class="card__name">$lego-gray-1</span>
      </div>      
    </div>
    <h5>Action Colors</h5>
    <div class="flex-container">
      <div class="card">
        <span class="card__display bg-primary"></span>
        <span class="card__title"></span>
        <span class="card__title">Hex:</span>
        <span class="card__name">#337ab7</span>
        <span class="card__title">Variable:</span>
        <span class="card__name">$lego-primary</span>
      </div>
      <div class="card">
        <span class="card__display bg-success"></span>
        <span class="card__title"></span>
        <span class="card__title">Hex:</span>
        <span class="card__name">#5cb85c</span>
        <span class="card__title">Variable:</span>
        <span class="card__name">$lego-success</span>
      </div>
      <div class="card">
        <span class="card__display bg-info"></span>
        <span class="card__title"></span>
        <span class="card__title">Hex:</span>
        <span class="card__name">#5bc0de</span>
        <span class="card__title">Variable:</span>
        <span class="card__name">$lego-info</span>
      </div>
      <div class="card">
        <span class="card__display bg-warning"></span>
        <span class="card__title"></span>
        <span class="card__title">Hex:</span>
        <span class="card__name">#fdae61</span>
        <span class="card__title">Variable:</span>
        <span class="card__name">$lego-warning</span>
      </div>
      <div class="card">
        <span class="card__display bg-danger"></span>
        <span class="card__title"></span>
        <span class="card__title">Hex:</span>
        <span class="card__name">#d53e4f</span>
        <span class="card__title">Variable:</span>
        <span class="card__name">$lego-danger</span>
      </div>
    </div>
  </div>  
</section>