<section class="paragraph">
  <h3 class="section__title" id="colors">
    <i class="icon fas fa-hashtag" aria-hidden="true"></i>
    <span>colors</span>
  </h3>
  <div class="container">
    <p>Gray Scale</p>
    <div class="flex-container">
      <div class="card card--sm">
        <div class="card-display--top bg-gray-6"></div>
        <div class="card-body">
          <span class="card-title">Hex:</span>
          <span class="card-text">#333333</span>
          <span class="card-title">Variable:</span>
          <span class="card-text">$lego-gray-6</span>
        </div>
      </div>    
      <div class="card card--sm">
        <div class="card-display--top bg-gray-5"></div>
        <div class="card-body">
          <span class="card-title">Hex:</span>
          <span class="card-text">#585858</span>
          <span class="card-title">Variable:</span>
          <span class="card-text">$lego-gray-2</span>
        </div>
      </div>
      <div class="card card--sm">
        <div class="card-display--top bg-gray-4"></div>
        <div class="card-body">
          <span class="card-title">Hex:</span>
          <span class="card-text">#7E7E7E</span>
          <span class="card-title">Variable:</span>
          <span class="card-text">$lego-gray-4</span>
        </div>
      </div>
      <div class="card card--sm">
        <div class="card-display--top bg-gray-3"></div>
        <div class="card-body">
          <span class="card-title">Hex:</span>
          <span class="card-text">#A3A3A3</span>
          <span class="card-title">Variable:</span>
          <span class="card-text">$lego-gray-3</span>
        </div>
      </div>
      <div class="card card--sm">
        <div class="card-display--top bg-gray-2"></div>
        <div class="card-body">
          <span class="card-title">Hex:</span>
          <span class="card-text">#C9C9C9</span>
          <span class="card-title">Variable:</span>
          <span class="card-text">$lego-gray-2</span>
        </div>
      </div>  
      <div class="card card--sm">
        <div class="card-display--top bg-gray-1"></div>
        <div class="card-body">
          <span class="card-title">Hex:</span>
          <span class="card-text">#EEEEEE</span>
          <span class="card-title">Variable:</span>
          <span class="card-text">$lego-gray-1</span>
        </div>
      </div>      
    </div>
    <p>Action Colors</p>
    <div class="flex-container">
      <div class="card card--sm">
        <div class="card-display--top bg-primary"></div>
        <div class="card-body">
          <span class="card-title">Hex:</span>
          <span class="card-text">#337ab7</span>
          <span class="card-title">Variable:</span>
          <span class="card-text">$lego-primary</span>
        </div>
      </div>
      <div class="card card--sm">
        <div class="card-display--top bg-success"></div>
        <div class="card-body">
          <span class="card-title">Hex:</span>
          <span class="card-text">#5cb85c</span>
          <span class="card-title">Variable:</span>
          <span class="card-text">$lego-success</span>
        </div>
      </div>
      <div class="card card--sm">
        <div class="card-display--top bg-info"></div>
        <div class="card-body">
          <span class="card-title">Hex:</span>
          <span class="card-text">#5bc0de</span>
          <span class="card-title">Variable:</span>
          <span class="card-text">$lego-info</span>
        </div>
      </div>
      <div class="card card--sm">
        <div class="card-display--top bg-warning"></div>
        <div class="card-body">
          <span class="card-title">Hex:</span>
          <span class="card-text">#fdae61</span>
          <span class="card-title">Variable:</span>
          <span class="card-text">$lego-warning</span>
        </div>
      </div>
      <div class="card card--sm">
        <div class="card-display--top bg-danger"></div>
        <div class="card-body">
          <span class="card-title">Hex:</span>
          <span class="card-text">#d53e4f</span>
          <span class="card-title">Variable:</span>
          <span class="card-text">$lego-danger</span>
        </div>
      </div>
    </div>
  </div>
</section>