<section class="paragraph">
  <h3 class="section__title" id="switches">
  	<i class="icon fas fa-hashtag" aria-hidden="true"></i>
  	<span>switches</span>
  </h3>
  <div class="container">
    <p>Switches, or a Toggle, are a UI element that you can use instead of two radio buttons or a single checkbox to allow users to choose between two opposite states. They are best used on simple yes no tasks. Toggles should only be used when there is a clear (yes or no) or (on or off) decision to be made. </p>
    <p>Example: When I wake up in the morning I turn my light switch on and the lights immediately turn on. I don't need to do anything extra and as effortlessly as they came on I can hit the switch again and they turn off. There are only two choices, off or on. That is how you should view and make use of switches.</p>
    <light-switch></light-switch>
  </div>
</section>