<section class="paragraph">
  <h4 class="section__title" id="tabs"><i class="icon fas fa-hashtag" aria-hidden="true"></i>tabs</h4>
  <div class="container">
    <p>Our base tabs float with no prominent container around them. There are no borders, just a bottom border on the tab that is selected at the moment.</p>
    <p>You can choose where the blue line is, either top or bottom by putting <code>--top</code> or <code>--bottom</code> on each of the labels, ex: <code>&lt;label class="border--top" for="tab1"&gt;</code>.</p>
    <div class="tab__container">
      <input id="tab1" type="radio" name="tabs" checked>
      <label class="border--bottom" for="tab1"><i class="icon fas fa-code"></i><span>Thing 1</span></label>

      <input id="tab2" type="radio" name="tabs">
      <label class="border--bottom" for="tab2"><i class="icon fas fa-pencil-square-o"></i><span>Thing 2</span></label>

      <input id="tab3" type="radio" name="tabs">
      <label class="border--bottom" for="tab3"><i class="icon fas fa-bar-chart-o"></i><span>Thing 3</span></label>

      <input id="tab4" type="radio" name="tabs">
      <label class="border--bottom" for="tab4"><i class="icon fas fa-folder-open-o"></i><span>Thing 4</span></label>

      <input id="tab5" type="radio" name="tabs">
      <label class="border--bottom" for="tab5"><i class="icon fas fa-envelope-o"></i><span>Thing 5</span></label>

      <section id="content1" class="tab__content">
        <h3>Headline 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim v
        cillum dolore eu fugiat nulla pariatur.</p>
      </section>

      <section id="content2" class="tab__content">
        <h3>Headline 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
      </section>

      <section id="content3" class="tab__content">
        <h3>Headline 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
      </section>

      <section id="content4" class="tab__content">
        <h3>Headline 4</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</p>
      </section>

      <section id="content5" class="tab__content">
        <h3>Headline 5</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
      </section>
    </div>
<pre>&lt;div class="tab__container"&gt;<br />
&lt;input id="tab1" type="radio" name="tabs" checked&gt;<br />
&lt;label for="tab1" class="border--bottom"&gt;<br />
&lt;i class="icon fas fa-code"&gt;&lt;/i&gt;<br />
&lt;span&gt;Tab Title&lt;/span&gt;<br />
&lt;/label&gt;<br />
<br />
&lt;section id="content1" class="tab__content"&gt;<br />
&lt;h3&gt;Headline 1&lt;/h3&gt;<br />
&lt;p&gt;Content goes here...&lt;/p&gt;<br />
&lt;/section&gt;<br />
&lt;/div&gt;</pre>
    <h5 class="section__title">Tab Customizations</h5>
    <p>One of the customizations for the tabs is having it bordered. If you add <code>--bordered</code> to the <code>tab__container</code> class.</p>
    <p>Also this defalut tab component is made for 5 tabs and 5 content areas. If you have more than 5 you are going to need to adjust a couple of things. There is a section in the _tabs.scss file that controls what is shown when you click on a tab.</p>
<pre>#tab1:checked ~ #content1,<br />
#tab2:checked ~ #content2,<br />
#tab3:checked ~ #content3,<br />
#tab4:checked ~ #content4,<br />
#tab5:checked ~ #content5 &#123;<br />
display: block;<br />
padding: 20px;<br />
background: $white;<br />
color: #999;<br />
&#125;</pre>
    <p>You'll just need to add your addtional tabs to your own file. If you have a sixth tab for example you would add : <code>#tab6:checked ~ #content6</code> and then just extend the <code>%show--tab--content</code> placeholder like below.</p>
<pre>#tab6:checked ~ #content6,<br />
#tab7:checked ~ #content7 &#123;<br />
@extend %show--tab--content;<br />
&#125;</pre>      
  </div>
</section>