<h1>Skin</h1>
<section class="container">
  <p>Skins are global classes that can be used on components. Visit the individual component pages to see how to implement them.</p>
  <h4>Colors</h4>
  <ul>
    <li *ngFor="let color of colors" class="color-swatch"><code>skin-{{ color }}</code><span class="swatch {{ color }}"></span></li>
  </ul>
  <hr>
  <h4>Skins Control:</h4> 
  <ul>
    <li>Background Color</li>
    <li>Font Color</li>
    <li>Border Color (optional add-on)</li>
  </ul>
  <hr>
  <h4>Components:</h4>
  <ul>
    <li>Select Input</li>
    <li>Accordion</li>
    <li>Breadcrumb</li>
    <li>Switch</li>
  </ul>
  <hr>
  <h4>Not Available For:</h4>
  <p>Some components don't use global skins. Those components need more specific styles to facilitate their skins. The below components have special skin classes. See their pages for more information.</p>
  <ul>
    <li>Button</li>
    <li>Chips</li>
    <li>Tab</li>
    <li>Pagination</li>
  </ul>
</section>