<section class="paragraph">
  <h4 class="section__title" id="buttons"><i class="fas fa-hashtag icon--pad--right" aria-hidden="true"></i>buttons</h4>
  <div class="container">
    <p>Feel free to use an <code>&lt;a&gt;, &lt;span&gt;, &lt;button&gt;, or &lt;input&gt;</code> tag to represent a button. *Thought you should be using best practices and use what is most symantic. As long as you put the <code>.btn</code> class on an <code>&lt;a&gt;, &lt;span&gt;, &lt;input&gt;</code> tag the same styles for a button will be applied to them.</p>
    <p>Example: button that looks like a link</p>
<pre>&lt;button class="btn link-green"&gt;link green&lt;/button&gt;</pre>
    <div class="container__row">
      <button class="btn link-green">link green</button>
      <button class="btn link-gray">link gray</button>
      <button class="btn link-red">link red</button>
      <button class="btn link-blue">link blue</button>
    </div>
    <p>There is also a <code>link-white</code> for dark backgrounds.</p>
    <div class="container__row" style="background-color: #999;">
      <button class="btn link-white">link blue</button>
    </div>
    <states></states>
    <icon></icon>
    <groups></groups>
    <dropdowns></dropdowns>
  </div>
</section>