<section class="paragraph">
  <h3 class="section__title" id="buttons">
    <i class="icon fas fa-hashtag" aria-hidden="true"></i>
    <span>buttons</span>
  </h3>
  <div class="container">
    <p>When making a button please be sure to use a <code>button</code> or <code>a</code> tag for accessability purposes. There are three different type of buttons.</p>
    <h5>Filled Buttons</h5>
    <p>Filled buttons have colored borders and backgrounds with a white font color.</p>
    <h6>Demo:</h6>
    <button class="btn btn--default">filled default</button>
    <h6>Markup:</h6>
<pre>&#x3C;button class=&#x22;<mark>btn btn--default</mark>&#x22;&#x3E;...&#x3C;/button&#x3E;</pre>
    <h5>Outlined Buttons</h5>
    <p>Outlined buttons only have colored text and borders, otherwise they are the exact same as filled buttons. Same rules apply.</p>
    <h6>Demo:</h6>
    <button class="btn btn--outline-default">outlined default</button>
    <h6>Markup:</h6>
<pre>&#x3C;button class=&#x22;<mark>btn btn--outline-default</mark>&#x22;&#x3E;...&#x3C;/button&#x3E;</pre>
    <h5>Link</h5>
    <p>While a link does look different than a button, its base is still the same. The text is the color and that's it. No border or background color.</p>
    <h6>Demo:</h6>
    <button class="btn link--default">link default</button>
    <h6>Markup:</h6>
<pre>&#x3C;button class=&#x22;<mark>btn link--default</mark>&#x22;&#x3E;...&#x3C;/button&#x3E;</pre>
    <h5>Colors</h5>
    <ul>
      <li class="color-swatch"><code>--primary</code><span class="swatch-primary"></span></li>
      <li class="color-swatch"><code>--success</code><span class="swatch-success"></span></li>
      <li class="color-swatch"><code>--danger</code><span class="swatch-danger"></span></li>
      <li class="color-swatch"><code>--default</code><span class="swatch-default"></span></li>
    </ul>
    <div class="container flex-column">
      <div>Filled: </div>
      <div>
        <button class="btn btn--primary">primary</button>
        <button class="btn btn--success">success</button>
        <button class="btn btn--danger">danger</button>
        <button class="btn btn--default">default</button>
      </div>
    </div>
    <div class="container flex-column">
      <div>Outlined: </div>
      <div>
        <button class="btn btn--outline-primary">outlined primary</button>
        <button class="btn btn--outline-success">outlined success</button>
        <button class="btn btn--outline-danger">outlined danger</button>
        <button class="btn btn--outline-default">outlined default</button>
      </div>
    </div>
    <div class="container flex-column">
      <div>Links: </div>
      <div>
        <button class="btn link--primary">link blue</button>
        <button class="btn link--success">link green</button>
        <button class="btn link--danger">link red</button>
        <button class="btn link--default">link gray</button>
        <div class="custom-bg-dark"><button class="btn link--white">link white</button></div>
      </div>
    </div>
    <p><em><sup>*</sup>Note: Above background just to show the white link.</em></p>
    <h5>Block Buttons</h5>
    <p>For block buttons that span the entire width of the parent container use <code>.btn--block</code>.</p>
    <h6>Demo:</h6>
    <div class="container" style="width: 400px; border: 1px solid #999; padding: 10px; border-radius: 6px; margin: 0;">
      <button class="btn btn--danger btn--block">Default Size</button>
      <button class="btn btn--outline-danger btn--block">Default Size</button>
    </div>
    <h6>Markup:</h6>
<pre>&#x3C;button class=&#x22;<mark>btn btn--danger btn--block</mark>&#x22;&#x3E;Default Size&#x3C;/button&#x3E;</pre>

    <states></states>
    <icon></icon>
    <groups></groups>
    <dropdowns></dropdowns>
  </div>
</section>