<h5 class="section__title">Checkboxes Groups</h5>
<div class="container">
  <p>In our forms checkboxes are <strong>stacked by default</strong>. Just add a the <code>.checkbox</code> class around a parent container for the inputs.</p>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="">Checkbox Option 1
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="" >Checkbox Option 2
    </label>
  </div>
<pre>&lt;div class="checkbox"&gt;<br />
&nbsp;&nbsp;&lt;label&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="checkbox" value="" &gt;Checkbox Option 2<br />
&nbsp;&nbsp;&lt;/label&gt;<br />
&lt;/div&gt;</pre>
</div>
<h5 class="section__title">Inline Checkboxes</h5>
<div class="container">
  <p>Similarly use <code>.checkbox--inline</code> class on a series of checkboxes that you want to appear alongside eachother.</p>
  <label class="checkbox--inline">
      <input type="checkbox" value="">Checkbox Option 1
  </label>
  <label class="checkbox--inline">
      <input type="checkbox" value="" >Checkbox Option 2
  </label>
  <br /><br />
<pre>&lt;label class="checkbox--inline"&gt;<br />
&nbsp;&nbsp;&lt;input type="checkbox" id="" value=""&gt; 2<br />
&lt;/label&gt;<br />
&lt;label class="checkbox--inline"&gt;<br />
&nbsp;&nbsp;&lt;input type="checkbox" id="" value=""&gt; 3<br />
&lt;/label&gt;</pre>
</div>
<custom-checkboxes></custom-checkboxes>