<h5>Custom CSS Radio Inputs</h5>
<div class="container">
  <span class="custom-radio">
    <input id="custom-radio1" type="radio" name="radioDemo"/>
    <label for="custom-radio1">
      <span></span>
      Label
    </label>
  </span>
  <span class="custom-radio">
    <input id="custom-radio2" type="radio" name="radioDemo"/>
    <label for="custom-radio2">
      <span></span>
      Label
    </label>
  </span>
  <br />
<pre>&lt;span class="custom-radio"&gt;<br />
&lt;input id="custom-radio1" type="radio" name="radioDemo"/&gt;<br />
&lt;label for="custom-radio1"&gt;<br />
&lt;span&gt;&lt;/span&gt;<br />
Label<br />
&lt;/label&gt;<br />
&lt;/span&gt;</pre>
  <br />
  <p>Like the checkboxes you can change the color scheme by changing these variable colors. This gives you the green border with a white circle around a green inner circle.</p>
</div>