<h5 class="section__title">Bordered Tables</h5>
<p>Alternatively add table-bordered to add a border to all of the columns and rows.</p>
<pre>&lt;table class="table-bordered"&gt;...&lt;/table&gt;</pre>
<table class="table-bordered">
  <thead>
    <tr>
      <td>#</td>
      <td>Header Column 1</td>
      <td>Header Column 2</td>
      <td>Header Column 3</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Body Column</td>
      <td>Body Column</td>
      <td>Body Column</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Body Column</td>
      <td>Body Column</td>
      <td>Body Column</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Body Column</td>
      <td>Body Column</td>
      <td>Body Column</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Body Column</td>
      <td>Body Column</td>
      <td>Body Column</td>
    </tr>
  </tbody>
</table>