<h1>Introduction</h1>
<section class="container">
  <p>It's no secret I'm a LEGO<sup>&reg;</sup> fan and have been ever since childhood. The name is slightly cheesy and obvious. With reusable pieces of code, I made components similar to LEGO<sup>&reg;</sup> bricks being used to make different objects.</p>
  <h3>What does this solve:</h3>
  <p>When I was first learning to program I used the Twitter Bootstrap and Material Design libraries. They made creating websites painless and easy. The downside, a considerable amount of code that came with those libraries that I would never use. I would spend a countless amount of time rewriting specific styles to my liking. When I noticed I was doing this for every project the idea for the LegoCSS project was born.</p>
  <p>My inspiration:</p>
  <ul>
    <li><a href="https://purecss.io/" alt="Pure CSS Design Library" target="_blank" rel="noreferrer">PureCSS.io</a> - the standard for minimal reusable code</li>
    <li><a href="https://primer.style/css/" alt="Primer CSS" target="_blank" rel="noreferrer">Github</a></li>
    <li><a href="https://www.yelp.com/styleguide" alt="Yelp Style Guide" target="_blank" rel="noreferrer">Yelp Styleguide</a></li>
    <li><a href="https://www.carbondesignsystem.com/" alt="Carbon Design System" target="_blank" rel="noreferrer">Carbon</a> - IBMs Design Language </li>
  </ul>
  <p>... plus many many more.</p>
  <p>These guides helped me understand, appreciate, and design this library. I encourage anyone with the same interest to make one. The decisions and processes you go through are truly valuable.</p>
</section>