<h1>Introduction</h1>
<section class="container">
  <p>It's no secret I'm a LEGO<sup>&reg;</sup> fan and have been ever since childhood. The name is slightly cheesy and obvious. With reusable pieces of code, I can make components just like using LEGO<sup>&reg;</sup> bricks to make a castle.</p>
  <h3>What does this solve:</h3>
  <p>When I was first learning how to program I used the Twitter Bootstrap and Material Design libraries. They made creating a website painless and easy. On the downside, there was a considerable amount of code that came along that I would never use. I would spend countless hours rewriting specific styles to my liking. When I noticed I was doing this for every project I saw how much time I was wasting and that's how the LegoCSS project was born.</p>
  <p>My inspiration:</p>
  <ul>
    <li><a href="https://purecss.io/" alt="Pure CSS Design Library" target="_blank" rel="noreferrer">PureCSS.io</a> - the standard for minimal reusable code</li>
    <li><a href="https://primer.style/css/" alt="Primer CSS" target="_blank" rel="noreferrer">Github</a></li>
    <li><a href="https://www.yelp.com/styleguide" alt="Yelp Style Guide" target="_blank" rel="noreferrer">Yelp Styleguide</a></li>
    <li><a href="https://www.carbondesignsystem.com/" alt="Carbon Design System" target="_blank" rel="noreferrer">Carbon</a> - IBMs Design Language </li>
  </ul>
  <p>... plus many many more.</p>
  <p>These guides helped me understand, appreciate, and create this library. I encourage anyone with the same interest to make a library. The decisions and processes are truly valuable to the process of learning.</p>
</section>