<div class="page">
  <sidebar class="sidebar--fixed"></sidebar>
  <section class="content">
    <app-name></app-name>
    <!-- Base -->
    <h2>Base</h2>
    <p>Approach:</p>
    <buttons></buttons>
    <hr>
    <colors></colors>
    <hr>
    <containers></containers>
    <hr>
    <icons></icons>
    <hr>
    <inputs></inputs>
    <hr>
    <typography></typography>
    <hr>
    <!-- Components -->
    <h2>Components</h2>
    <p>Approach:</p>
    <accordion></accordion>
    <hr>
    <alerts></alerts>
    <hr>
    <breadcrumbs></breadcrumbs>
    <hr>
    <cards></cards>
    <hr>
    <chips></chips>
    <hr>
    <pagination></pagination>
    <hr>
    <switches></switches>
    <hr>
    <tabs></tabs>
    <hr>
    <tables></tables>
    <!-- Molecules -->
  </section>
</div>