<div class="page">
  <!-- <header style="position: fixed;">
    <mobile-nav id="nav-mobile" class="mobile-nav"></mobile-nav> 
    <nav class="nav">
      <a class="nav__item">Item 1</a>
      <a class="nav__item">Item 2</a>
      <div class="accordion">
        <input type="checkbox" class="accordion__toggle">
        <i></i>
        <div class="nav__item accordion__title">
          Introduction
        </div>
        <p class="accordion__container">
          <a class="nav__item">
            <span>an accordion of stuff</span>
          </a>
        </p>
      </div>
      <a class="nav__item">Item 3</a>
      <button class="btn btn--blue">Button</button>
    </nav>
  </header> -->
  <mobile-nav id="nav-mobile" type="button" class="mobile-nav skin-blue"></mobile-nav>  
  <aside class="sidebar skin-blue">
    <h5 class="sidebar__title truncate" routerLink="/">LegoCSS</h5>
    <navigation class="nav--vert nav--lego"></navigation>
  </aside>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>