@import "src/scss/utils/index.scss";

sidebar + section {
  margin-left: 20px;
  padding-left: 45px;

  @include for-size(tablet-landscape-up) {
    padding-top: 55px;
    margin-left: 300px;
  }
}






