<div id="sidebar" class="sidebar sidebar--fixed">
  <h6 class="menu__title montserrat-text">Menu</h6>
  <ul class="accordion__wrapper list--unstyled">
    <li class="accordion">
      <input type="checkbox" checked>
      <i></i>
      <div class="accordion__title">
        GroundTruth
      </div>
      <p class="accordion__container">
        <span>
          <a href="#colors" class="list__item montserrat-text"><span>Colors</span></a>
          <a href="#typography" class="list__item montserrat-text"><span>Typography</span></a>
          <a href="#global" class="list__item montserrat-text"><span>Global</span></a>
        </span>
      </p>
    </li>
    <li class="accordion">
      <input type="checkbox" checked>
      <i></i>
      <div class="accordion__title">
        Atoms
      </div>
      <p class="accordion__container">
        <span>
          <a href="#icons" class="list__item montserrat-text"><span>Icons</span></a>
          <a href="#buttons" class="list__item montserrat-text"><span>Buttons</span></a>
          <a href="#inputs" class="list__item montserrat-text"><span>Inputs</span></a> 
          <a href="#utilities" class="list__item montserrat-text"><span>Utilities</span></a>  
        </span>
      </p>
    </li>
    <li class="accordion">
      <input type="checkbox" checked>
      <i></i>
      <div class="accordion__title">
        Components
      </div>
      <p class="accordion__container">
        <span>
          <a href="#accordion" class="list__item montserrat-text"><span>Accordion</span></a>
          <a href="#alerts" class="list__item montserrat-text"><span>Alerts</span></a>
          <a href="#autocomplete" class="list__item montserrat-text"><span>Autocomplete</span></a>
          <a href="#chips-autocomplete" class="list__item montserrat-text"><span>Autocomplete w/ Chips</span></a>
          <a href="#breadcrumbs" class="list__item montserrat-text"><span>Breadcrumbs</span></a> 
          <a href="#cards" class="list__item montserrat-text"><span>Cards</span></a>
          <a href="#chips" class="list__item montserrat-text"><span>Chips</span></a>
          <a href="#pagination" class="list__item montserrat-text"><span>Pagination</span></a>
          <a href="#switches" class="list__item montserrat-text"><span>Switches</span></a>
          <a href="#tabs" class="list__item montserrat-text"><span>Tabs</span></a>
          <a href="#table" class="list__item montserrat-text"><span>Table</span></a>
          <a href="#tooltip" class="list__item montserrat-text"><span>Tooltip</span></a>  
        </span>
      </p>
    </li>
    <li class="accordion">
      <input type="checkbox" checked>
      <i></i>
      <div class="accordion__title">
        Molecules
      </div>
      <p class="accordion__container">
        <span>
          <a href="#navigation" class="list__item montserrat-text"><span>Navigation</span></a>
          <a href="#header" class="list__item montserrat-text"><span>Header</span></a>
          <a href="#sidebar" class="list__item montserrat-text"><span>Sidebar</span></a>
          <a href="#footer" class="list__item montserrat-text"><span>Footer</span></a>
          <a href="#dividers" class="list__item montserrat-text"><span>Dividers</span></a>
          <a href="#search" class="list__item montserrat-text"><span>Search</span></a>
          <a href="#form" class="list__item montserrat-text"><span>Form</span></a>
          <a href="#modal" class="list__item montserrat-text"><span>Modal</span></a>
        </span>
      </p>
    </li>
  </ul>
</div>