<div id="sidebar">
  <div class="accordion__wrapper acc-custom">
    <div class="accordion">
      <input type="checkbox">
      <i></i>
      <div class="accordion__title">
        Introduction
      </div>
      <p class="accordion__container">
        <a *ngFor="let item of introitems" routerLink="{{ item.link }}" class="{{ item.class }}"><span>{{ item.name }}</span></a>
      </p>
    </div>
    <div class="accordion">
      <input type="checkbox">
      <i></i>
      <div class="accordion__title">
        Getting Started
      </div>
      <p class="accordion__container">
        <a *ngFor="let item of startingitems" routerLink="{{ item.link }}" class="{{ item.class }}"><span>{{ item.name }}</span></a>
      </p>
    </div>
    <div class="accordion">
      <input type="checkbox">
      <i></i>
      <div class="accordion__title">
        Base
      </div>
      <p class="accordion__container">
        <a *ngFor="let item of baseitems" routerLink="{{ item.link }}" class="{{ item.class }}"><span>{{ item.name }}</span></a>
      </p>
    </div>
    <div class="accordion">
      <input type="checkbox">
      <i></i>
      <div class="accordion__title">
        Components
      </div>
      <p class="accordion__container">
        <a *ngFor="let item of componentitems" routerLink="{{ item.link }}" class="{{ item.class }}"><span>{{ item.name }}</span></a>
      </p>
    </div>
  </div>
</div>