<div id="sidebar">
  <div class="accordion__wrapper acc-custom">
    <div class="accordion">
      <input type="checkbox">
      <i></i>
      <div class="accordion__title">
        Base
      </div>
      <p class="accordion__container">
        <a href="#buttons" class="list__item"><span>Buttons</span></a>
        <a href="#colors" class="list__item"><span>Colors</span></a>
        <a href="#containers" class="list__item"><span>Containers</span></a>
        <a href="#dividers" class="list__item"><span>Dividers</span></a>
        <a href="#icons" class="list__item"><span>Icons</span></a>
        
        <a href="#global" class="list__item"><span>Element Skins</span></a>
        <a href="#global" class="list__item"><span>Element Sizes</span></a>
        <a href="#inputs" class="list__item"><span>Inputs</span></a>
        <a href="#typography" class="list__item"><span>Typography</span></a>
      </p>
    </div>
    <div class="accordion">
      <input type="checkbox">
      <i></i>
      <div class="accordion__title">
        Components
      </div>
      <p class="accordion__container">
        <a href="#accordion" class="list__item"><span>Accordion</span></a>
        <a href="#alerts" class="list__item"><span>Alerts</span></a>
        <a href="#breadcrumbs" class="list__item"><span>Breadcrumbs</span></a> 
        <a href="#cards" class="list__item"><span>Cards</span></a>
        <a href="#chips" class="list__item"><span>Chips</span></a>
        <a href="#pagination" class="list__item"><span>Pagination</span></a>
        <a href="#switches" class="list__item"><span>Switches</span></a>
        <a href="#tabs" class="list__item"><span>Tabs</span></a>
        <a href="#table" class="list__item"><span>Table</span></a> 
      </p>
    </div>
<!--     <div class="accordion">
      <input type="checkbox">
      <i></i>
      <div class="accordion__title">
        Layout
      </div>
      <p class="accordion__container">
        <span>
          <a href="#header" class="list__item"><span>Header</span></a>
          <a href="#navigation" class="list__item"><span>Navigation</span></a>
          <a href="#sidebar" class="list__item"><span>Sidebar</span></a>
          <a href="#footer" class="list__item"><span>Footer</span></a>
          <a href="#form" class="list__item"><span>Form</span></a>
          <a href="#modal" class="list__item"><span>Modal</span></a>
        </span>
      </p>
    </div> -->
  </div>
</div>