<section class="paragraph">
  <h2 class="section__title" id="pagination">pagination</h2>
  <div class="container">
    <p>For showing multiple pages of similar content.</p>
    <p>Attribute: <code>aria-label=&#x22;&#x22;</code>, <code>role="menu"</code></p>
    <h4>Accesability</h4>
    <p>For accesability purposes the pagination component should be wrapped in a <code>&#x3C;nav&#x3E;</code> element to identify it as a navigation section. It is also possible and highly likely that a page may have more than one <code>&#x3C;nav&#x3E;</code> element already (such as the primary navigation in the header, or a sidebar navigation). Best practices dictate providing a descriptive <code>aria-label</code> for the <code>&#x3C;nav&#x3E;</code> element to signal to screen readers and other assistive technologies what the element really is.</p>
    <p><strong>Example:</strong> If the pagination component is used to navigate between a set of pages in a sign up form, an appropriate label could be <code>aria-label="sign up form pages"</code>.</p>
    <h6>Demo:</h6>
    <div class="flex-container">
      <nav class="pagination" role="menu">
        <li class="pagination__item--first disabled" role="menu-item">
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="pagination__item active" role="menu-item"><a href="#">1</a></li>
        <li class="pagination__item" role="menu-item"><a href="#">2</a></li>
        <li class="pagination__item" role="menu-item"><a href="#">3</a></li>
        <li class="pagination__item" role="menu-item"><a href="#">4</a></li>
        <li class="pagination__item" role="menu-item"><a href="#">5</a></li>
        <li class="pagination__item--last" role="menu-item">
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </nav>
    </div>
    <h6>Markup:</h6>
<pre>&#x3C;nav class=&#x22;<mark>pagination</mark>&#x22; role=&#x22;menu&#x22;&#x3E;
  &#x3C;li class=&#x22;<mark>pagination__item--first</mark> [ifDisabled]&#x22; role=&#x22;menu-item&#x22;&#x3E;
    &#x3C;a href=&#x22;#&#x22; aria-label=&#x22;[Previous or < symbol]&#x22;&#x3E;
      &#x3C;span aria-hidden=&#x22;true&#x22;&#x3E;First&#x3C;/span&#x3E;
    &#x3C;/a&#x3E;
  &#x3C;/li&#x3E;
  &#x3C;li class=&#x22;<mark>pagination__item</mark>&#x22; role=&#x22;menu-item&#x22;&#x3E;
    &#x3C;a href=&#x22;#&#x22;&#x3E;&amp;#60;&#x3C;/a&#x3E;
  &#x3C;/li&#x3E;
  &#x3C;li class=&#x22;<mark>pagination__item</mark>&#x22; role=&#x22;menu-item&#x22; class=&#x22;active&#x22;&#x3E;
    &#x3C;a href=&#x22;#&#x22;&#x3E;1&#x3C;/a&#x3E;
  &#x3C;/li&#x3E;
  &#x3C;li class=&#x22;<mark>pagination__item</mark>&#x22; role=&#x22;menu-item&#x22;&#x3E;
    &#x3C;a href=&#x22;#&#x22;&#x3E;2&#x3C;/a&#x3E;
  &#x3C;/li&#x3E;
  &#x3C;li class=&#x22;<mark>pagination__item</mark>&#x22; role=&#x22;menu-item&#x22;&#x3E;
    &#x3C;a href=&#x22;#&#x22;&#x3E;3&#x3C;/a&#x3E;
  &#x3C;/li&#x3E;
  &#x3C;li class=&#x22;<mark>pagination__item</mark>&#x22; role=&#x22;menu-item&#x22;&#x3E;
    &#x3C;a href=&#x22;#&#x22;&#x3E;&amp;#62;&#x3C;/a&#x3E;
  &#x3C;/li&#x3E;
  &#x3C;li class&#x22;<mark>pagination__item--last</mark>&#x22; role=&#x22;menu-item&#x22;&#x3E;
    &#x3C;a href=&#x22;#&#x22; aria-label=&#x22;[Next or > symbol]&#x22;&#x3E;
      &#x3C;span aria-hidden=&#x22;true&#x22;&#x3E;Last&#x3C;/span&#x3E;
    &#x3C;/a&#x3E;
  &#x3C;/li&#x3E;
&#x3C;/nav&#x3E;</pre>
    <h4>Prev/Next Labels</h4>
    <p>You can customize how you want to represent the previous/first and next/last items. You could choose to have all of them displayed, or just choose one set. Either way you can use words or symbols. The only thing that changes when you add <code>--first</code> or <code>--last</code> to <code>.pagination__item</code> is the spacing. The first and last buttons have a margin that seperate them from the inner set of buttons.</p>
    <h6>Demo:</h6>
    <div class="flex-container">
      <nav class="pagination" role="menu">
        <li class="pagination__item--first disabled" role="menu-item">
          <a href="#" aria-label="First">
            <span aria-hidden="true">First</span>
          </a>
        </li>
        <li class="pagination__item" role="menu-item">
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="pagination__item active" role="menu-item"><a href="#">1</a></li>
        <li class="pagination__item" role="menu-item"><a href="#">2</a></li>
        <li class="pagination__item" role="menu-item"><a href="#">3</a></li>
        <li class="pagination__item" role="menu-item"><a href="#">4</a></li>
        <li class="pagination__item" role="menu-item"><a href="#">5</a></li>
        <li  class="pagination__item"role="menu-item">
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        <li class="pagination__item--last" role="menu-item">
          <a href="#" aria-label="last">
            <span aria-hidden="true">Last</span>
          </a>
        </li>
      </nav>
    </div>
    <h6>Markup:</h6>
<pre>&#x3C;nav class=&#x22;pagination&#x22; role=&#x22;menu&#x22;&#x3E;
  &#x3C;li class=&#x22;pagination__item--first&#x22; role=&#x22;menu-item&#x22;&#x3E;
    &#x3C;a href=&#x22;#&#x22; aria-label=&#x22;First&#x22;&#x3E;
      &#x3C;span aria-hidden=&#x22;true&#x22;&#x3E;First&#x3C;/span&#x3E;
    &#x3C;/a&#x3E;
  &#x3C;/li&#x3E;
  &#x3C;li class=&#x22;pagination__item&#x22; role=&#x22;menu-item&#x22;&#x3E;
    &#x3C;a href=&#x22;#&#x22; aria-label=&#x22;[Previous or < symbol]&#x22;&#x3E;
      &#x3C;span aria-hidden=&#x22;true&#x22;&#x3E;&laquo;&#x3C;/span&#x3E;
    &#x3C;/a&#x3E;
  &#x3C;/li&#x3E;
  ...
  &#x3C;li class=&#x22;pagination__item&#x22; role=&#x22;menu-item&#x22;&#x3E;
    &#x3C;a href=&#x22;#&#x22; aria-label=&#x22;[Next or > symbol]&#x22;&#x3E;
      &#x3C;span aria-hidden=&#x22;true&#x22;&#x3E;&raquo;&#x3C;/span&#x3E;
    &#x3C;/a&#x3E;
  &#x3C;/li&#x3E;
  &#x3C;li class=&#x22;pagination__item--last&#x22; role=&#x22;menu-item&#x22;&#x3E;
    &#x3C;a href=&#x22;#&#x22; aria-label=&#x22;Last&#x22;&#x3E;
      &#x3C;span aria-hidden=&#x22;true&#x22;&#x3E;Last&#x3C;/span&#x3E;
    &#x3C;/a&#x3E;
  &#x3C;/li&#x3E;
&#x3C;/nav&#x3E;</pre>
    <h4>Skins</h4>
    <h6>Demo: <code>pagination--green</code></h6>
    <div class="flex-container">
      <nav class="pagination pagination--green" role="menu">
        <li class="pagination__item--first disabled" role="menu-tem">
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="pagination__item active" role="menu-item"><a href="#">1</a></li>
        <li class="pagination__item" role="menu-item"><a href="#">2</a></li>
        <li class="pagination__item" role="menu-item"><a href="#">3</a></li>
        <li class="pagination__item" role="menu-item"><a href="#">4</a></li>
        <li class="pagination__item" role="menu-item"><a href="#">5</a></li>
        <li class="pagination__item--last" role="menu-item">
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </nav>
    </div>
    <h6>Markup:</h6>
<pre>&#x3C;nav class=&#x22;pagination <mark>pagination--green</mark>&#x22; role=&#x22;menu&#x22;&#x3E;
  ...
&#x3C;/nav&#x3E;</pre>
    <h6>Demo: <code>pagination--red</code></h6>
    <div class="flex-container">
      <nav class="pagination pagination--red" role="menu">
        <li class="pagination__item--first disabled" role="menu-item">
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="pagination__item active" role="menu-item"><a href="#">1</a></li>
        <li class="pagination__item" role="menu-item"><a href="#">2</a></li>
        <li class="pagination__item" role="menu-item"><a href="#">3</a></li>
        <li class="pagination__item" role="menu-item"><a href="#">4</a></li>
        <li class="pagination__item" role="menu-item"><a href="#">5</a></li>
        <li class="pagination__item--last" role="menu-item">
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </nav>
    </div>
    <h6>Markup:</h6>
<pre>&#x3C;nav class=&#x22;pagination <mark>pagination--red</mark>&#x22; role=&#x22;menu&#x22;&#x3E;
  ...
&#x3C;/nav&#x3E;</pre>
    <h6>Demo: <code>pagination--blue</code></h6>
    <div class="flex-container">
      <nav class="pagination pagination--blue" role="menu">
        <li class="pagination__item--first disabled" role="menu-item">
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="pagination__item active" role="menu-item"><a href="#">1</a></li>
        <li class="pagination__item" role="menu-item"><a href="#">2</a></li>
        <li class="pagination__item" role="menu-item"><a href="#">3</a></li>
        <li class="pagination__item" role="menu-item"><a href="#">4</a></li>
        <li class="pagination__item" role="menu-item"><a href="#">5</a></li>
        <li class="pagination__item--last" role="menu-item">
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </nav>
    </div>
    <h6>Markup:</h6>
<pre>&#x3C;nav class=&#x22;pagination <mark>pagination--blue</mark>&#x22; role=&#x22;menu&#x22;&#x3E;
  ...
&#x3C;/nav&#x3E;</pre>
  </div>
</section>