<h1>Pagination</h1>
<section class="container">
  <p>The pagination component is for showing multiple pages of related content.</p>
  <h6>Attributes:</h6>
  <ul class="list--unstyled">
    <li role="listitem"><code>role</code> : <code>'navigation'</code><sup>*</sup></li>
    <li role="listitem"><code>aria-label</code> : defines a label for the element (only used when label text not visible on screen)</li>
  </ul>
  <p><sup>*</sup>Note: The role attribute needs to be used for the nav element as well as the items inside. There are many roles to choose from, <a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques" target="_blank" rel="noreferrer">see the full list</a>.</p>
  <hr>
  <h4>Accessibility</h4>
  <p>For accessibility purposes, the pagination component is a <code>nav</code> element. It is also possible and highly likely that a page may have more than one navignation, such as the primary navigation in the header or sidebar. It is best practice to have a descriptive <code>aria-label</code> on the <code>nav</code> element. This will signal to screen readers and other assistive technologies what the element is.</p>
  <p><strong>Example:</strong> If the pagination component is used to navigate between a set of pages in a signup form, the label could be <code>aria-label="sign up form pages"</code>.</p>
  <hr>
  <h6>Demo:</h6>
  <div class="flex-container">
    <nav class="pagination" role="navigation" aria-label="Pagination Navigation">
      <span class="pagination__item pagination__item--first disabled" role="button">
        <a aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </span>
      <span class="pagination__item active" role="button"><a>1</a></span>
      <span class="pagination__item" role="button"><a>2</a></span>
      <span class="pagination__item" role="button"><a>3</a></span>
      <span class="pagination__item" role="button"><a>4</a></span>
      <span class="pagination__item" role="button"><a>5</a></span>
      <span class="pagination__item pagination__item--last" role="button">
        <a aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </span>
    </nav>
  </div>
  <h6>Markup:</h6>
<pre>&#x3C;nav class=&#x22;<mark>pagination</mark>&#x22; <mark>role=&#x22;navigation&#x22;</mark> <mark>aria-label</mark>=&#x22;Pagination Navigation&#x22;&#x3E;
  &#x3C;span class=&#x22;<mark>pagination__item pagination__item--first</mark> [ifDisabled]&#x22; <mark>role</mark>=&#x22;button&#x22;&#x3E;
    &#x3C;a href=&#x22;&#x22; <mark>aria-label</mark>=&#x22;[Previous or < symbol]&#x22;&#x3E;First&#x3C;/a&#x3E;
  &#x3C;/span&#x3E;
  &#x3C;span class=&#x22;<mark>pagination__item</mark>&#x22; <mark>role</mark>=&#x22;button&#x22;&#x3E;
    &#x3C;a href=&#x22;&#x22;&#x3E;&amp;#60;&#x3C;/a&#x3E;
  &#x3C;/span&#x3E;
  &#x3C;span class=&#x22;<mark>pagination__item</mark>&#x22; <mark>role</mark>=&#x22;button&#x22; class=&#x22;active&#x22;&#x3E;
    &#x3C;a href=&#x22;&#x22;&#x3E;1&#x3C;/a&#x3E;
  &#x3C;/span&#x3E;
  &#x3C;span class=&#x22;<mark>pagination__item</mark>&#x22; <mark>role</mark>=&#x22;button&#x22;&#x3E;
    &#x3C;a href=&#x22;&#x22;&#x3E;2&#x3C;/a&#x3E;
  &#x3C;/span&#x3E;
  &#x3C;span class=&#x22;<mark>pagination__item</mark>&#x22; <mark>role</mark>=&#x22;button&#x22;&#x3E;
    &#x3C;a href=&#x22;&#x22;&#x3E;3&#x3C;/a&#x3E;
  &#x3C;/span&#x3E;
  &#x3C;span class=&#x22;<mark>pagination__item</mark>&#x22; <mark>role</mark>=&#x22;button&#x22;&#x3E;
    &#x3C;a href=&#x22;&#x22;&#x3E;&amp;#62;&#x3C;/a&#x3E;
  &#x3C;/span&#x3E;
  &#x3C;span class&#x22;<mark>pagination__item pagination__item--last</mark>&#x22; <mark>role</mark>=&#x22;button&#x22;&#x3E;
    &#x3C;a href=&#x22;&#x22; <mark>aria-label</mark>=&#x22;[Next or > symbol]&#x22;&#x3E;Last&#x3C;/a&#x3E;
  &#x3C;/span&#x3E;
&#x3C;/nav&#x3E;</pre>
  <hr>
  <h4>Prev/Next Labels</h4>
  <p>Customize how to show the previous/first and next/last items. Either choose to have all of them display, or just choose one set. Either way, both symbols, and words are allowed. Adding <code>--first</code> or <code>--last</code> to a <code>.pagination__item</code> gives them a margin that separates them from the inner pagination buttons.</p>
  <h6>Demo:</h6>
  <div class="flex-container">
    <nav class="pagination" role="navigation" aria-label="Pagination Navigation">
      <span class="pagination__item pagination__item--first disabled" role="button">
        <a aria-label="First">First</a>
      </span>
      <span class="pagination__item" role="button">
        <a aria-label="Previous">&laquo;</a>
      </span>
      <span class="pagination__item active" role="button"><a>1</a></span>
      <span class="pagination__item" role="button"><a>2</a></span>
      <span  class="pagination__item"role="button">
        <a aria-label="Next">&raquo;</a>
      </span>
      <span class="pagination__item pagination__item--last" role="button">
        <a aria-label="last">Last</a>
      </span>
    </nav>
  </div>
  <h6>Markup:</h6>
<pre>&#x3C;nav class=&#x22;pagination&#x22; role=&#x22;navigation&#x22;&#x3E;
  &#x3C;span class=&#x22;pagination__item pagination__item--first&#x22; role=&#x22;button&#x22;&#x3E;
    &#x3C;a href=&#x22;&#x22; aria-label=&#x22;First&#x22;&#x3E;First&#x3C;/a&#x3E;
  &#x3C;/span&#x3E;
  &#x3C;span class=&#x22;pagination__item&#x22; role=&#x22;button&#x22;&#x3E;
    &#x3C;a href=&#x22;&#x22; aria-label=&#x22;[Previous or < symbol]&#x22;&#x3E;&laquo;&#x3C;/a&#x3E;
  &#x3C;/span&#x3E;
  ...
  &#x3C;span class=&#x22;pagination__item&#x22; role=&#x22;button&#x22;&#x3E;
    &#x3C;a href=&#x22;&#x22; aria-label=&#x22;[Next or > symbol]&#x22;&#x3E;&raquo;&#x3C;/a&#x3E;
  &#x3C;/span&#x3E;
  &#x3C;span class=&#x22;pagination__item pagination__item--last&#x22; role=&#x22;button&#x22;&#x3E;
    &#x3C;a href=&#x22;&#x22; aria-label=&#x22;Last&#x22;&#x3E;Last&#x3C;/a&#x3E;
  &#x3C;/span&#x3E;
&#x3C;/nav&#x3E;</pre>
  <hr>
  <h4>Skins</h4>
  <p>All basic skins are available for this component.</p>
  <p>Add the skin class to the main pagination element for the class to take effect.</p>
  <p><sup>*</sup>Note: The gray skin is not available for the pagination component. The default color is already gray.</p>
  <div *ngFor="let color of colors">
    <h6>Demo: <code>pagination--{{ color }}</code></h6>
    <nav class="pagination pagination--{{ color }}" role="navigation" aria-label="Pagination Navigation">
      <span class="pagination__item pagination__item--first disabled" role="button">
        <a aria-label="Previous">&laquo;</a>
      </span>
      <span class="pagination__item active" role="button"><a>1</a></span>
      <span class="pagination__item" role="button"><a>2</a></span>
      <span class="pagination__item" role="button"><a>3</a></span>
      <span class="pagination__item" role="button"><a>4</a></span>
      <span class="pagination__item" role="button"><a>5</a></span>
      <span class="pagination__item pagination__item--last" role="button">
        <a aria-label="Next">&raquo;</a>
      </span>
    </nav>
  </div>
  <h6>Markup:</h6>
<pre>&#x3C;nav class=&#x22;pagination <mark>pagination--{{ '{' }}{{ '{' }} color {{ '}' }}{{ '}' }}</mark>&#x22; role=&#x22;navigation&#x22;&#x3E;</pre>
</section>