<section class="paragraph">
  <h3 class="section__title" id="accordion">
    <i class="icon fas fa-hashtag" aria-hidden="true"></i>
    <span>accordion</span>
  </h3>
  <div class="container">
    <p>Our base accordion is very simple with a few enhancements that you can add depending on what you want to use it for. The accordion has a wrapper, meaning you can add several accordions to one containers for them to be grouped together. By default the accordion is in the closed state but with a slight modification you can switch it to open by defaul. They will take up the entire space of their parent container or you can add a max-width property to the wrapper element. There are also additional modification styles you can add on. I'll walk you through them below.</p>
    <h5>Basic</h5>
    <p>The basic accordion has squared corners and has a white background.</p>
    <h6>Demo:</h6>
    <div class="accordion__wrapper acc-custom">
      <div class="accordion">
        <input type="checkbox" checked>
        <i></i>
        <div class="accordion__title">
          Accordion 1
        </div>
        <div class="accordion__container">
          Accordion 1 Item
        </div>
      </div>
      <div class="accordion">
        <input type="checkbox" checked>
        <i></i>
        <div class="accordion__title">
          Accordion 2
        </div>
        <div class="accordion__container">
          Accordion 2 Item
        </div>
      </div>
    </div>
    <h6>Markup:</h6>
<pre>&#x3C;div class=&#x22;<mark>accordion__wrapper</mark>&#x22;&#x3E;
  &#x3C;div class=&#x22;<mark>accordion</mark>&#x22;&#x3E;
    &#x3C;input type=&#x22;checkbox&#x22; checked&#x3E;
    &#x3C;i&#x3E;&#x3C;/i&#x3E;
    &#x3C;div class=&#x22;<mark>accordion__title</mark>&#x22;&#x3E;
      Header 1
    &#x3C;/div&#x3E;
    &#x3C;p class=&#x22;<mark>accordion__container</mark>&#x22;&#x3E;
      &#x3C;span&#x3E;This is something in the container&#x3C;/span&#x3E;
    &#x3C;/p&#x3E;
  &#x3C;/div&#x3E;
&#x3C;/div&#x3E;</pre>
    <h5>Panel</h5>
    <p>To make your accordions look like panels just add these classes onto the base classess. Add <code>--panel</code> to the <code>accordion</code> class. That's it!</p>
    <p>By changing your accordion to a panel it:</p>
    <ul>
      <li>rounds the edges</li>
      <li>adds a background color for the title</li>
      <li>adds uniform padding to the accordion contents</li>
    </ul>
    <h6>Demo:</h6>
    <div class="accordion__wrapper">
      <div class="accordion--panel">
        <input type="checkbox" checked>
        <i></i>
        <div class="accordion__title">
          Header 1
        </div>
        <p class="accordion__container">
          <span>This is something in the container</span>
        </p>
      </div>
    </div>
    <h6>Markup:</h6>
<pre>&#x3C;div class=&#x22;accordion__wrapper&#x22;&#x3E;
  &#x3C;div class=&#x22;<mark>accordion--panel</mark>&#x22;&#x3E;
    &#x3C;input type=&#x22;checkbox&#x22; checked&#x3E;
    &#x3C;i&#x3E;&#x3C;/i&#x3E;
    &#x3C;div class=&#x22;accordion__title&#x22;&#x3E;
      Header 2
    &#x3C;/span&#x3E;
    &#x3C;/div&#x3E;
    &#x3C;p class=&#x22;accordion__container&#x22;&#x3E;
      &#x3C;span&#x3E;This is something in the container&#x3C;/span&#x3E;
    &#x3C;/p&#x3E;
  &#x3C;/div&#x3E;
&#x3C;/div&#x3E;</pre>
    <h5>Other Modifications</h5>
    <ul>
      <li>Add secondary text on title</li>
      <li>Add icons inside the title</li>
      <li>Round the edged of the accordion (can't see unless you have a skin on the basic version or a background color behind it)</li>
      <li>Add skin colors</li>
    </ul>
    <h6>Demo:</h6>
    <div class="accordion__wrapper">
      <div class="accordion">
        <input type="checkbox" checked>
        <i></i>
        <div class="accordion__title">
          Header 1
          <span class="accordion__title--secondary">secondary text</span>
        </div>
        <p class="accordion__container">
          <span>This is something in the container</span>
        </p>
      </div>
      <div class="accordion--panel">
        <input type="checkbox" checked>
        <i></i>
        <div class="accordion__title">
          Header 2 w/ icon
          <span class="accordion__title--secondary"><span class="icon fas fa-info-circle" aria-hidden="true"></span></span>
        </div>
        <p class="accordion__container">
          <span>This is something in the container</span>
        </p>
      </div>
    </div>
    <h6>Markup:</h6>
<pre>&#x3C;div class=&#x22;accordion__wrapper&#x22;&#x3E;
  &#x3C;div class=&#x22;accordion--panel&#x22;&#x3E;
    &#x3C;input type=&#x22;checkbox&#x22; checked&#x3E;
    &#x3C;i&#x3E;&#x3C;/i&#x3E;
    &#x3C;div class=&#x22;accordion__title&#x22;&#x3E;
      Header 2
      <mark>&#x3C;span class=&#x22;accordion__title--secondary&#x22;&#x3E;secondary text&#x3C;/span&#x3E;</mark>
      <mark>&#x3C;span class=&#x22;icon fas fa-info-circle&#x22; aria-hidden=&#x22;true&#x22;&#x3E;</mark>
    &#x3C;/span&#x3E;
    &#x3C;/div&#x3E;
    &#x3C;p class=&#x22;accordion__container&#x22;&#x3E;
      &#x3C;span&#x3E;This is something in the container&#x3C;/span&#x3E;
    &#x3C;/p&#x3E;
  &#x3C;/div&#x3E;
&#x3C;/div&#x3E;</pre>
    <h5>Skins</h5>
    <p>We provide four different types of skins. They transform color, border-color, background-color, and arrow color. You have to put the skin color with the <code>accordion</code> class, inside the <code>accordion__wrapper</code> or it will not work. This only really useful for the <code>accordion--panel</code> because the default <code>accordion</code> was made to look like it was floating. The two different accordions have very different use cases.</p>
    <p>Example: the floating navigation on the left side of the screen.</p>
    <h6>Demo:</h6>
    <div class="accordion__wrapper acc-custom">
      <div class="accordion--panel skin-green">
        <input type="checkbox">
        <i></i>
        <div class="accordion__title">
          Panel Green Accordion
        </div>
        <div class="accordion__container">
<pre>&#x3C;div class=&#x22;accordion__wrapper&#x22;&#x3E;
  &#x3C;div class=&#x22;accordion--panel <mark>skin-green</mark>&#x22;&#x3E;
    ...
  &#x3C;/div&#x3E;
&#x3C;/div&#x3E;</pre>
        </div>
      </div>
      <div class="accordion--panel skin-gray">
        <input type="checkbox" checked>
        <i></i>
        <div class="accordion__title">
         Panel Gray Accordion
        </div>
        <div class="accordion__container">
<pre>&#x3C;div class=&#x22;accordion__wrapper&#x22;&#x3E;
  &#x3C;div class=&#x22;accordion--panel <mark>skin-gray</mark>&#x22;&#x3E;
    ...
  &#x3C;/div&#x3E;
&#x3C;/div&#x3E;</pre>
        </div>
      </div>
      <div class="accordion--panel skin-red">
        <input type="checkbox" checked>
        <i></i>
        <div class="accordion__title">
          Panel Red Accordion
        </div>
        <div class="accordion__container">
<pre>&#x3C;div class=&#x22;accordion__wrapper&#x22;&#x3E;
  &#x3C;div class=&#x22;accordion--panel <mark>skin-red</mark>&#x22;&#x3E;
    ...
  &#x3C;/div&#x3E;
&#x3C;/div&#x3E;</pre>
        </div>
      </div>
      <div class="accordion--panel skin-blue">
        <input type="checkbox" checked>
        <i></i>
        <div class="accordion__title">
          Panel Blue Accordion
        </div>
        <div class="accordion__container">
<pre>&#x3C;div class=&#x22;accordion__wrapper&#x22;&#x3E;
  &#x3C;div class=&#x22;accordion--panel <mark>skin-blue</mark>&#x22;&#x3E;
    ...
  &#x3C;/div&#x3E;
&#x3C;/div&#x3E;</pre>
        </div>
      </div>
    </div>
  </div>
</section>