<section class="container">
  <h3 class="section__title" id="including">Adding Lego to Your Project</h3>
  <p>Adding Lego to your project is as easy as downloading and inluding the minified file in your project or using our hosted version.</p>
  <p>Add the following inside the <code>&#x3C;head&#x3E;</code> element of your code before your projects stylesheet.</p>
<pre>&#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;&#x22; integrity=&#x22;look up what this is&#x22; 
crossorigin=&#x22;anonymous&#x22;&#x3E;</pre>
  <h3 class="section__title">Choose what you want to include</h3>
  <h6>Lego Stylesheet</h6>
  <table class="table--border">
    <thead>
      <tr>
        <td>Name</td>
        <td>URL</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Lego</td><td>URL Placeholder</td>
      </tr>
    </tbody>
  </table>
  <h6>Sections</h6>
  <p>It is also possible to use only the sections that you need. No point in using a larger file with code you won't be using.</p>
  <table class="table--border">
    <thead>
      <tr>
        <td>Name</td>
        <td>URL</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Resets</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Base</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Components</td><td>URL Placeholder</td>
      </tr>
    </tbody>
  </table>
  <h6>Base Sections</h6>
  <table class="table--border">
    <thead>
      <tr>
        <td>Name</td>
        <td>URL</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Buttons</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Colors</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Containers</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Icons</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Inputs</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Tables</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Typography</td><td>URL Placeholder</td>
      </tr>
    </tbody>
  </table>
  <h6>Lego Component Sections</h6>
  <table class="table--border">
    <thead>
      <tr>
        <td>Name</td>
        <td>URL</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Accordion</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Alerts</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Breadcrumbs</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Cards</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Chips</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Forms</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Pagination</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Switches</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Tabs</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Toast</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Tooltips</td><td>URL Placeholder</td>
      </tr>
    </tbody>
  </table>
</section>