<section class="container">
	<h2 class="section__title" id="including">including</h2>
	<p>For now the only way to use the library in your project is to either download and inlude the minified file in your project or link to the file the we host on our server. You can also download the unminified version of the library in order to see where you might want to make some overrides.</p>
	<table class="table--border">
	  <thead>
	    <tr>
	      <td>Name</td>
	      <td>URL</td>
	    </tr>
	  </thead>
	  <tbody>
	  	<tr>
	      <td>Lego</td><td>URL Placeholder</td>
	    </tr>
	  </tbody>
	</table>
	<h4>Customization</h4>
	<h6>Lego Sections</h6>
	<p>It is also possible to use only the sections that you need. No point in using a larger file with code you won't be using.</p>
	<table class="table--border">
	  <thead>
	    <tr>
	      <td>Name</td>
	      <td>URL</td>
	    </tr>
	  </thead>
	  <tbody>
	  	<tr>
	      <td>Resets</td><td>URL Placeholder</td>
	    </tr>
	    <tr>
	      <td>Base</td><td>URL Placeholder</td>
	    </tr>
	    <tr>
	      <td>Components</td><td>URL Placeholder</td>
	    </tr>
	  </tbody>
	</table>
	<h6>Lego Base Sections</h6>
	<table class="table--border">
	  <thead>
	    <tr>
	      <td>Name</td>
	      <td>URL</td>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>Buttons</td><td>URL Placeholder</td>
	    </tr>
	    <tr>
	      <td>Colors</td><td>URL Placeholder</td>
	    </tr>
	    <tr>
	      <td>Containers</td><td>URL Placeholder</td>
	    </tr>
	    <tr>
	      <td>Icons</td><td>URL Placeholder</td>
	    </tr>
	    <tr>
	      <td>Inputs</td><td>URL Placeholder</td>
	    </tr>
	    <tr>
	      <td>Tables</td><td>URL Placeholder</td>
	    </tr>
	    <tr>
	      <td>Typography</td><td>URL Placeholder</td>
	    </tr>
	  </tbody>
	</table>
	<h6>Lego Component Sections</h6>
	<table class="table--border">
	  <thead>
	    <tr>
	      <td>Name</td>
	      <td>URL</td>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>Accordion</td><td>URL Placeholder</td>
	    </tr>
	    <tr>
	      <td>Alerts</td><td>URL Placeholder</td>
	    </tr>
	    <tr>
	      <td>Breadcrumbs</td><td>URL Placeholder</td>
	    </tr>
	    <tr>
	      <td>Cards</td><td>URL Placeholder</td>
	    </tr>
	    <tr>
	      <td>Chips</td><td>URL Placeholder</td>
	    </tr>
	    <tr>
	      <td>Forms</td><td>URL Placeholder</td>
	    </tr>
	    <tr>
	      <td>Pagination</td><td>URL Placeholder</td>
	    </tr>
	    <tr>
	      <td>Switches</td><td>URL Placeholder</td>
	    </tr>
	    <tr>
	      <td>Tabs</td><td>URL Placeholder</td>
	    </tr>
	    <tr>
	      <td>Toast</td><td>URL Placeholder</td>
	    </tr>
	    <tr>
	      <td>Tooltips</td><td>URL Placeholder</td>
	    </tr>
	  </tbody>
	</table>
</section>