<section class="container">
  <h3>Add to Your Project</h3>
  <p>Adding LegoCSS to your project is as easy as downloading and including the minified file in your project or using our hosted version.</p>
  <a href="https://legocss.com/build/lego.min.css" download title="Download minified LegoCSS file">
    <button type="button" class="btn btn--blue">Download LegoCSS</button>
  </a>
  <p>Add the following <code>&#x3C;head&#x3E;</code> inside the <code>&#x3C;head&#x3E;</code> tag before any other stylesheets.</p>
<pre>&#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;https://legocss.com/build/lego.min.css&#x22;</pre>
  <hr>
  <h3>Packages</h3>
  <h6>LegoCSS Minified Stylesheet</h6>
  <table class="table--border">
    <thead>
      <tr>
        <td>Name</td>
        <td>URL</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>LegoCSS</td><td>https://legocss.com/build/lego.min.css</td>
      </tr>
    </tbody>
  </table>
  <h6>Sections</h6>
  <p>It possible to only include the sections that you want as well. No point in using a larger file with code you won't be using.</p>
  <table class="table--border">
    <thead>
      <tr>
        <td>Name</td>
        <td>URL</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Resets</td><td>https://legocss.com/build/reset/reset.min.css</td>
      </tr>
      <tr>
        <td>Base</td><td>https://legocss.com/build/base/base.min.css</td>
      </tr>
      <tr>
        <td>Components</td><td>https://legocss.com/build/components/components.min.css</td>
      </tr>
    </tbody>
  </table>
  <!-- <h6>Base Sections</h6>
  <table class="table--border">
    <thead>
      <tr>
        <td>Name</td>
        <td>URL</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Buttons</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Colors</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Containers</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Icons</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Inputs</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Tables</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Typography</td><td>URL Placeholder</td>
      </tr>
    </tbody>
  </table>
  <h6>Component Sections</h6>
  <table class="table--border">
    <thead>
      <tr>
        <td>Name</td>
        <td>URL</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Accordion</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Alerts</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Breadcrumbs</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Cards</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Chips</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Forms</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Pagination</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Switches</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Tabs</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Toast</td><td>URL Placeholder</td>
      </tr>
      <tr>
        <td>Tooltips</td><td>URL Placeholder</td>
      </tr>
    </tbody>
  </table> -->
</section>