<h1>Chip</h1>
<section class="container">
  <p>Chips are pill-shaped components that can be used in several ways. Some examples are list items, labels, or as a counter. They can remain static elements or allow users to interact and remove them.</p>
  <p>To create chips you need to house them in a <code>.chips</code> container. This will keep them all together. Each chip gets the <code>.chip</code> class. Chips are bare by default leaving room for the skin to be applied.</p>
  <hr>
  <h6>Demo:</h6>
  <div class="chips">
    <span class="chip">Hockey</span>
    <span class="chip">Lacrosse</span>
    <span class="chip">Baseball</span>
  </div>
  <h6>Markup:</h6>
<pre>&#x3C;div class=&#x22;<mark>chips</mark>&#x22;&#x3E;
  &#x3C;span class=&#x22;<mark>chip</mark>&#x22;&#x3E;Hockey&#x3C;/span&#x3E;
&#x3C;/div&#x3E;</pre>
  <hr>
  <h4>Skins</h4>
  <p>Add a skin to the <code>.chip</code> element. The skin will alter the background color, font color, border color, and if the chips are removable the close icon color as well. There are two options for skins that can be applied. Just like other elements, there is a filled skin and an outlined skin. See below for examples.</p>
  <h6>Demo:</h6>
  <div class="chips">
    <span class="chip">No Skin</span>
    <span class="chip skin-green">Hockey</span>
    <span class="chip skin-gray">Lacrosse</span>
    <span class="chip skin-red">Baseball</span>
    <span class="chip skin-blue">Football</span>
  </div>
  <div class="chips">
    <span class="chip">No Skin</span>
    <span class="chip skin-outline-green">Hockey</span>
    <span class="chip skin-outline-gray">Lacrosse</span>
    <span class="chip skin-outline-red">Baseball</span>
    <span class="chip skin-outline-blue">Football</span>
  </div>
  <h6>Markup:</h6>
<pre>&#x3C;div class&#x22;chips&#x22;&#x3E;
  &#x3C;span class=&#x22;chip <mark>skin-green</mark>&#x22;&#x3E;Hockey&#x3C;/span&#x3E;
  &#x3C;span class=&#x22;chip <mark>skin-outline-blue</mark>&#x22;&#x3E;Lacrosse&#x3C;/span&#x3E;
&#x3C;span class=&#x22;chip <mark>skin-red</mark>&#x22;&#x3E;Baseball&#x3C;/span&#x3E;
&#x3C;div/&#x3E;</pre>
  <hr>
  <h4>Removable (Optional)</h4>
  <p>You may want to allow the user to remove chips. Add the <code>--removable</code> modifier to the <code>.chip</code> class and add the icon element after your chip text. This will add the "x" icon to the end of the chip and allow the user to delete the chip.</p>
  <h6>Demo:</h6>
  <div class="chips">
    <span class="chip--removable skin-outline-gray">
      Hockey
      <fa-icon icon="times" class="icon chip__close-btn" aria-hidden="true" aria-label="remove hockey chip"></fa-icon>
    </span>
    <span class="chip--removable skin-green ">
      Lacrosse
      <fa-icon icon="times" class="icon chip__close-btn" aria-hidden="true" aria-label="remove lacrosse chip"></fa-icon>
    </span>
    <span class="chip--removable skin-outline-blue">
      Baseball
      <fa-icon icon="times" class="icon chip__close-btn" aria-hidden="true" aria-label="remove baseball chip"></fa-icon>
    </span>
  </div>
  <h6>Markup:</h6>
<pre>&#x3C;div class=&#x22;chips&#x22;&#x3E;
  &#x3C;span class=&#x22;chip--<mark>removable</mark>&#x22;&#x3E;
    Hockey
    <mark>&#x3C;i class=&#x22;icon fas fa-times chip__close-btn&#x22; aria-hidden=&#x22;true&#x22; aria-label=&#x22;&#x22;&#x3E;&#x3C;/i&#x3E;</mark>
  &#x3C;/span&#x3E;
&#x3C;/div&#x3E;</pre>
</section>