<h1>Chip</h1>
<section class="container">
  <p>Chips are pill-shaped components that can be used in several ways. Some examples are list items, labels, or as a counter. They can remain static elements or allow users to interact and remove them.</p>
  <p>To create chips you need to house them in a <code>.chips</code> container. This will keep them all together. Each chip gets the <code>.chip</code> class. Chips are bare by default leaving room for the skin to be applied.</p>
  <hr>
  <h6>Demo:</h6>
  <div class="chips">
    <span *ngFor="let chip of chips" class="chip">{{ chip[1] }}</span>
  </div>
  <h6>Markup:</h6>
<pre>&#x3C;div class=&#x22;<mark>chips</mark>&#x22;&#x3E;
  &#x3C;span class=&#x22;<mark>chip</mark>&#x22;&#x3E;Hockey&#x3C;/span&#x3E;
&#x3C;/div&#x3E;</pre>
  <hr>
  <h4>Removable (Optional)</h4>
  <p>You may want to allow the user to remove chips. Add the <code>--removable</code> modifier to the <code>.chip</code> class and add the icon element after your chip text. This will add the "x" icon to the end of the chip and allow the user to delete the chip.</p>
  <h6>Demo:</h6>
  <div class="chips">
    <span class="chip--removable chip--green">
      Hockey
      <fa-icon icon="times" class="icon chip__close-btn" aria-hidden="true"></fa-icon>
    </span>
  </div>
  <h6>Markup:</h6>
<pre>&#x3C;div class=&#x22;chips&#x22;&#x3E;
  &#x3C;span class=&#x22;chip--<mark>removable</mark>&#x22;&#x3E;
    Hockey
    <mark>&#x3C;i class=&#x22;icon fas fa-times chip__close-btn&#x22; aria-hidden=&#x22;true&#x22; aria-label=&#x22;&#x22;&#x3E;&#x3C;/i&#x3E;</mark>
  &#x3C;/span&#x3E;
&#x3C;/div&#x3E;</pre>
  <hr>
  <h4>Skins</h4>
  <p>Chips have their own specific skin styles. They are very similar to the global skins but with additional styles just for them. The skin class controls background color, font color, shadow color, border color, close button color (optional).</p>
  <p>Add a skin to the <code>.chip</code> element. The skin will also alter the close icon color if present and shadow on the chip.</p>
  <h6>Demo:</h6>
  <div class="chips" *ngFor="let chip of chips">
    <span class="chip chip--{{ chip[0] }}">chip--{{ chip[0] }}</span>
    <span class="chip chip--outline-{{ chip[0] }}">chip--outlined-{{ chip[0] }}</span>
  </div>
  <h6>Markup:</h6>
<pre>&#x3C;div class&#x22;chips&#x22;&#x3E;
  &#x3C;span class=&#x22;chip <mark>chip--green</mark>&#x22;&#x3E;Hockey&#x3C;/span&#x3E;
  &#x3C;span class=&#x22;chip <mark>chip--outline-blue</mark>&#x22;&#x3E;Lacrosse&#x3C;/span&#x3E;
&#x3C;div/&#x3E;</pre>
</section>