<h1>Input Group</h1>
<section class="container">
  <p>An input-group component is explicitly used to combine <code>button</code> and <code>input</code> elements into a single element. They are by default inline like other <code>input</code> elements. Wrap both with a <code>.input-group</code> class for the desired effect. On mobile devices <code>input-group</code> components will become full width.</p>
  <p>If you are trying to unite any other elements such as:</p>
  <ul>
    <li>label + input</li>
    <li>label + checkbox/radio</li>
  </ul>
  <p>That should be done with the <code>form-group</code> class. See the form component page for more details on how to implement.</p>
  <hr>
  <h6>Demo:</h6>
  <div class="input-group">
    <input type="text" class="input input-group__input" aria-label="input-group example">
    <button type="submit" class="btn input-group__btn btn--blue">Submit</button>
  </div>
  <div class="input-group">
    <button type="submit" class="btn input-group__btn btn--gray">Submit</button>
    <input type="text" class="input input-group__input" aria-label="input-group example">
  </div>
  <h6>Markup:</h6>
<pre>&#x3C;div class=&#x22;<mark>input-group</mark>&#x22;&#x3E;
  &#x3C;input type=&#x22;text&#x22; class=&#x22;input <mark>input-group__input</mark>&#x22;&#x3E;
  &#x3C;button type=&#x22;submit&#x22; class=&#x22;btn <mark>input-group__btn</mark> btn--blue&#x22;&#x3E;Submit&#x3C;/button&#x3E;
&#x3C;/div&#x3E;</pre>
  <hr>
  <h4>Stacked</h4>
  <h6>Demo:</h6>
  <div class="input-group--stacked">
    <input type="text" class="input input-group__input" aria-label="input-group example">
    <button type="submit" class="btn input-group__btn btn--blue">Submit</button>
  </div>
  <div class="input-group--stacked">
    <button type="submit" class="btn input-group__btn btn--gray">Submit</button>
    <input type="text" class="input input-group__input" aria-label="input-group example">
  </div>
  <h6>Markup:</h6>
<pre>&#x3C;div class=&#x22;<mark>input-group--stacked</mark>&#x22;&#x3E;...&#x3C;/div&#x3E;</pre>
</section>