<section class="paragraph">
  <h3 class="section__title" id="table">
    <i class="icon fas fa-hashtag" aria-hidden="true"></i>
    <span>table</span>
  </h3>
  <div class="container">
    <p>For basic styling just use <code>&lt;table&gt;&lt;/table&gt;</code>. There are no column dividers by default only row. Add a <code>&lt;caption&gt;&lt;/caption&gt;</code> right inside the table element.</p>
    <table>
      <caption>This is an example of a table caption</caption>
      <thead>
        <tr>
          <td>#</td>
          <td>Header Column 1</td>
          <td>Header Column 2</td>
          <td>Header Column 3</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Body Column</td>
          <td>Body Column</td>
          <td>Body Column</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Body Column</td>
          <td>Body Column</td>
          <td>Body Column</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Body Column</td>
          <td>Body Column</td>
          <td>Body Column</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Body Column</td>
          <td>Body Column</td>
          <td>Body Column</td>
        </tr>
      </tbody>
    </table>
    <striped></striped>
    <bordered></bordered>
  </div>
</section>