<h1>Form</h1>
<section class="container">
  <p>Forms are a large part of our daily lives. We spend our time filling out a contact form, adding items to a shopping cart, and taking a survey. Those form elements and how they all fit together are critical to web design and user experience.</p>
  <h6>Attributes:</h6>
  <ul class="list--unstyled">
    <li role="listitem"><code>for</code> : <code>label</code> element</li>
    <li role="listitem"><code>id</code> : <code>input</code> element</li>
    <li role="listitem"><code>type</code> : <code>input</code> element</li>
    <li role="listitem"><code>placeholder</code> : <code>input</code> element</li>
    <li role="listitem"><code>aria-label, title</code> : <code>input</code> element, defines a label for the element (only used when label text not visible on screen)</li>
    <li role="listitem"><code>type</code> : <code>button</code> element</li>
  </ul>
  <hr>
  <h4>Accessibility</h4>
  <p>Forms are made up of <code>input</code>, <code>label</code>, and <code>button</code> elements. Match <code>label</code> elements with its associated <code>input</code> element using the <code>for</code> and <code>id</code> attributes. Utilize the <code>placeholder</code> attribute for certain <code>input</code> elements that need to be given a hint.</p>
  <h4>Form Group</h4>
  <p>The <code>.form-group</code> class combines a <code>label</code> and <code>input</code> element. This is not needed for small inline forms. It is intended for lengthier <code>--stacked</code> or <code>--aligned</code> forms.</p>
  <hr>
  <h4>Labels</h4>
  <p>Don't use a <code>div</code> or <code>p</code> element instead of a <code>label</code> element in a form. The <code>.form__label</code> properties will override a paragraph element's characteristics but it is best practice to write semantic code.</p>
  <hr>
  <h6>Demo:</h6>
  <form class="form form--inline">
    <div class="form-group">
      <label for="name">Name:</label>
      <input id="name" type="text" aria-label="name input field" placeholder="john doe">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" type="email" aria-label="email input field" placeholder="someone@something.com">
    </div>
  </form>
  <h6>Markup:</h6>
<pre>&#x3C;form class=&#x22;<mark>form--inline</mark>&#x22;&#x3E;
  &#x3C;label for=&#x22;name&#x22;&#x3E;Name:&#x3C;/label&#x3E;
  &#x3C;input id=&#x22;name&#x22; type=&#x22;text&#x22; placeholder=&#x22;...&#x22;&#x3E;
  &#x3C;label for=&#x22;email&#x22;&#x3E;Email:&#x3C;/label&#x3E;
  &#x3C;input id=&#x22;email&#x22; type=&#x22;email&#x22; placeholder=&#x22;...&#x22;&#x3E;
  &#x3C;button class=&#x22;btn btn--blue&#x22; type=&#x22;button&#x22;&#x3E;Submit&#x3C;/button&#x3E;
&#x3C;/form&#x3E;</pre>
  <hr>
  <h4>Stacked</h4>
  <p>To create a stacked form with <code>input</code> elements below their corresponding <code>label</code> elements, add <code>--stacked</code> to the <code>.form</code> class on the <code>form</code> element.</p>
  <h6>Demo:</h6>
  <form class="form form--stacked">
    <div class="form-group">
      <label for="name">Name:</label>
      <input id="name" type="text" aria-label="name input field" placeholder="john doe">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" type="email" aria-label="email input field" placeholder="someone@something.com">
    </div>
    <div class="form-group">
    <label class="checkbox" aria-label="question for checkbox1">Receive emails:</label>
    <label class="checkbox">
      <input type="checkbox">Yes
    </label>
    <label class="checkbox">
      <input type="checkbox" >No
    </label>
  </div>
    <button class="btn btn--green" type="submit">Submit</button>
  </form>
  <h6>Markup:</h6>
<pre>&#x3C;form class=&#x22;form <mark>form--stacked</mark>&#x22;&#x3E;
  &#x3C;div class=&#x22;<mark>form-group</mark>&#x22;&#x3E;
    &#x3C;label for=&#x22;name&#x22;&#x3E;Name:&#x3C;/label&#x3E;
    &#x3C;input id=&#x22;name&#x22; type=&#x22;text&#x22; placeholder=&#x22;...&#x22;&#x3E;
  &#x3C;/div&#x3E;
  ...
&#x3C;/form&#x3E;</pre>
  <hr>
  <h4>Aligned</h4>
  <p>Three alignment classes are available, <code>-left</code>, <code>-middle</code>, and <code>-right</code>. To add an alignment to a form, add <code>.form--aligned-[direction]</code> to the <code>form</code> element. On smaller screens, the aligned forms will switch to a <code>--stacked</code> form for a better user experience.</p>
  <h6>Demo: Aligned-left</h6>
  <form class="form form--aligned-left">
    <div class="form-group">
      <label for="name">Name:</label>
      <input id="name" type="text" aria-label="name input field" placeholder="john doe">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" type="email" aria-label="email input field" placeholder="someone@something.com">
    </div>
    <div class="form-group">
      <label for="address">A long label form element:</label>
      <input id="address" type="text" aria-label="example input field" placeholder="example">
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input id="phone" type="phone" aria-label="phone input field" placeholder="(xxx)xxx-xxxx">
    </div>
    <button class="btn btn--green" type="submit">Submit</button>
  </form>
  <h6>Demo: Aligned-center</h6>
  <form class="form form--aligned-center">
    <div class="form-group">
      <label for="name">Name:</label>
      <input id="name" type="text" aria-label="name input field" placeholder="john doe">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" type="email" aria-label="email input field" placeholder="someone@something.com">
    </div>
    <div class="form-group">
      <label for="address">A long label form element:</label>
      <input id="address" type="text" aria-label="text input field" placeholder="example">
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input id="phone" type="phone" aria-label="phone input field" placeholder="(xxx)xxx-xxxx">
    </div>
    <button class="btn btn--green" type="submit">Submit</button>
  </form>
  <h6>Demo: Aligned-right</h6>
  <form class="form form--aligned-right">
    <div class="form-group">
      <label for="name">Name:</label>
      <input id="name" type="text" aria-label="name input field" placeholder="john doe">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" type="email" aria-label="email input field" placeholder="someone@something.com">
    </div>
    <div class="form-group">
      <label for="address">A long label form element:</label>
      <input id="address" type="text" aria-label="text input field" placeholder="example">
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input id="phone" type="phone" aria-label="phone input field" placeholder="(xxx)xxx-xxxx">
    </div>
    <button class="btn btn--green" type="submit">Submit</button>
  </form>
  <h6>Markup:</h6>
<pre>&#x3C;form class=&#x22;form <mark>form--aligned-[center]</mark>&#x22;&#x3E;
  &#x3C;div class=&#x22;form <mark>form-group</mark>&#x22;&#x3E;
    &#x3C;label for=&#x22;name&#x22;&#x3E;Name:&#x3C;/label&#x3E;
    &#x3C;input id=&#x22;name&#x22; type=&#x22;text&#x22; placeholder=&#x22;...&#x22;&#x3E;
  &#x3C;/div&#x3E;
  ...
&#x3C;/form&#x3E;</pre>
  <hr>
  <h4>Legends</h4>
  <p>Visually group related elements within the <code>fieldset</code> element. An optional <code>legend</code> can be used to give the group a name and border.</p>
  <h6>Demo:</h6>
  <form class="form form--stacked">
    <fieldset>
      <legend>User</legend>
        <div class="form-group">
          <label>Username</label>
          <input type="text" aria-label="username input field" placeholder="username">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" aria-label="password input field" placeholder="password">
        </div>
        <button class="btn btn--green" type="submit">Submit</button>
    </fieldset>
  </form>
  <h6>Markup:</h6>
<pre>&#x3C;form class=&#x22;form form--stacked&#x22;&#x3E;
  <mark>&#x3C;fieldset&#x3E;</mark>
    <mark>&#x3C;legend&#x3E;User&#x3C;/legend&#x3E;</mark>
      &#x3C;div class=&#x22;form-group&#x22;&#x3E;
        &#x3C;label&#x3E;Username&#x3C;/label&#x3E;
        &#x3C;input type=&#x22;text&#x22; placeholder=&#x22;...&#x22;&#x3E;
      &#x3C;/div&#x3E;
      &#x3C;div class=&#x22;form-group&#x22;&#x3E;
        &#x3C;label&#x3E;Password&#x3C;/label&#x3E;
        &#x3C;input type=&#x22;password&#x22; placeholder=&#x22;...&#x22;&#x3E;
      &#x3C;/div&#x3E;
      &#x3C;button class=&#x22;btn btn--green&#x22; type=&#x22;submit&#x22;&#x3E;Submit&#x3C;/button&#x3E;
  <mark>&#x3C;/fieldset&#x3E;</mark>
&#x3C;/form&#x3E;</pre>
</section>