<h1>Button</h1>
<section class="container">
  <p>When creating a button use a <code>&#x3C;button&#x3E;</code> or <code>&#x3C;a&#x3E;</code> element for accessibility purposes. There are three different types of buttons.</p>
  <h6>Attributes:</h6>
  <ul class="list--unstyled">
    <li><code>type</code> : <code>&#x22;submit&#x22;</code>, <code>&#x22;reset&#x22;</code>, <code>&#x22;button&#x22;</code></li>
    <li><code>aria-label</code> : defines a label for the element (only used when label text not visible on screen)</li>
    <li><code>name</code></li>
    <li><code>value</code></li>
  </ul>
  <hr>
  <h4>States</h4>
  <p>Buttons have three states besides the standard button state.</p>
  <p>They are <code>:hover</code>, <code>:active, .active</code> and <code>:disabled</code>.</p>
  <hr>
  <h4>Skin</h4>
  <p>Buttons are one of the components that have their own dedicated skin. It is very similar to global skins but with additional characteristics.</p>
  <ul>
    <li *ngFor="let color of colors" class="color-swatch"><code>btn--{{ color }}</code><span class="swatch {{ color }}"></span></li>
    <li *ngFor="let color of colors" class="color-swatch"><code>btn--outline-{{ color }}</code><span class="swatch outline-{{ color }}"></span></li>
  </ul>
  <hr>
  <h4>Filled</h4>
  <p>Filled buttons have colored borders, backgrounds, and white font color.</p>
  <h6>Demo:</h6>
  <div *ngFor="let color of colors">
    <button type="button" class="btn btn--{{ color }}">{{ color }}</button>
    <button type="button" class="btn btn--{{ color }}" disabled>disabled {{ color }}</button>
  </div>
  <h6>Markup:</h6>
<pre>&#x3C;button type=&#x22;button&#x22; class=&#x22;btn <mark>btn--blue</mark>&#x22;&#x3E;...&#x3C;/button&#x3E;
&#x3C;button type=&#x22;button&#x22; class=&#x22;btn <mark>btn--green</mark>&#x22;&#x3E;...&#x3C;/button&#x3E;</pre>
  <hr>
  <h4>Outlined</h4>
  <p>Outlined buttons are the reverse of filled buttons. Their font and border have color while the background is white. Otherwise, they are the same as filled buttons.</p>
  <h6>Demo:</h6>
  <div *ngFor="let color of colors">
    <button type="button" class="btn btn--outline-{{ color }}">outlined {{ color }}</button>
    <button type="button" class="btn btn--outline-{{ color }}" disabled>outlined {{ color }}</button>
  </div>
  <h6>Markup:</h6>
<pre>&#x3C;button type=&#x22;button&#x22; class=&#x22;btn <mark>btn--outline-red</mark>&#x22;&#x3E;...&#x3C;/button&#x3E;
&#x3C;button type=&#x22;button&#x22; class=&#x22;btn <mark>btn--outline-orange</mark>&#x22;&#x3E;...&#x3C;/button&#x3E;</pre>
  <hr>
  <h4>Links</h4>
  <p>This element is not a <code>button</code> element, it is infact an <code>a</code> element.</p>
  <p>While not specifically a button (it does not get the .btn base), links are still in the button category because they use the same skin and hover actions. A link is an inline element with text that takes up only the amount of space it needs, unlike buttons who have padding.</p>
  <p>Outline skins are not available for links.</p>
  <p><sup>*</sup>Note: Anchor elements do not have the <code>:disabled</code> state. Use the <code>aria-disabled=&#x22;true&#x22;</code> attribute to style a disabled anchor element the same as a disabled button.</p>
  <h6>Demo:</h6>
  <div>
    <div *ngFor="let color of colors">
      <a type="button" class="link--{{ color }} link-demo">link {{ color }}</a>
      <a type="button" class="link--{{ color }} link-demo" aria-disabled="true">disabled link {{ color }}</a>
    </div>
  </div>
  <h6>Markup:</h6>
<pre>&#x3C;a class=&#x22;<mark>link--blue</mark>&#x22;&#x3E;...&#x3C;/a&#x3E;
&#x3C;a class=&#x22;<mark>link--green</mark>&#x22; <mark>aria-disabled=&#x22;true&#x22;</mark>&#x3E;...&#x3C;/a&#x3E;</pre>
  <hr>
  <h4>Block Buttons</h4>
  <p>Block buttons take up the entire width of their parent container.</p>
  <h6>Demo:</h6>
  <div class="container" style="max-width: 400px; border: 1px solid #999; padding: 10px; border-radius: 6px; margin: 0;">
    <button type="button" class="btn btn--red btn--block">Default Size</button>
    <button type="button" class="btn btn--outline-red btn--block">Default Size</button>
  </div>
  <h6>Markup:</h6>
<pre>&#x3C;button type=&#x22;button&#x22; class=&#x22;btn <mark>btn--block</mark>&#x22;&#x3E;Default Size&#x3C;/button&#x3E;</pre>
</section>