<section class="paragraph">
  <h2 class="section__title">select</h2>
  <div class="container">
    <p>Note that many native select menus—namely in Safari and Chrome—are not customizable. They have rounded corners that cannot be modified via the border-radius property. With our custom select element, we can customize whether you want rounded or squared corners.</p>
    <h6>Attributes:</h6>
    <ul class="list--unstyled" role="group">
      <li role="listitem"><code>name</code> : <code>select</code> element, specifies the name of the control group</li>
      <li role="listitem"><code>multiple</code> : <code>select</code> element, indicates whether more than option is allowed to be selected</li>
      <li role="listitem"><code>label</code> : <code>option</code> element, if there is not label present then the value becomes the label text</li>
      <li role="listitem"><code>value</code> : <code>option</code> element, the value to be submitted with the form</li>
      <li role="listitem"><code>aria-label</code> : defines a label for the element (only used when label text not visible on screen)</li>
    </ul>
    <hr>
    <h4>Block Level</h4>
    <p>When you want the select element to take up its entire parent container or span the entire line.</p>
    <h6>Demo:</h6>
    <div class="select">
      <select name="selectExample" id="selectExample" aria-label="select example">
        <option>Choose</option>
        <option value="1">Pure CSS</option>
        <option value="2">No JS</option>
        <option value="3">Nice!</option>
      </select>
    </div>
    <h6>Markup:</h6>
<pre>&#x3C;div <mark>class=&#x22;select&#x22;</mark>&#x3E;
  &#x3C;select name=&#x22;name&#x22; id=&#x22;id&#x22;&#x3E;
    &#x3C;option>Choose an option&#x3C;/option&#x3E;
    &#x3C;option value=&#x22;1&#x22;>&#x3C;/option&#x3E;
    &#x3C;option value=&#x22;2&#x22;>&#x3C;/option&#x3E;
    &#x3C;option value=&#x22;3&#x22;>&#x3C;/option&#x3E;
  &#x3C;/select&#x3E;
&#x3C;/div&#x3E;</pre>
    <hr>
    <h4>Inline</h4>
    <p>If you want to put a <code>&#x3C;select&#x3E;</code> element next to another <code>&#x3C;input&#x3E;</code> element or <code>&#x3C;button&#x3E;</code> use the <code>.select--inline</code> class.</p>
    <h6>Demo:</h6>
    <input type="email" aria-label="email input">
    <div class="select--inline">
      <select name="selectExample" id="selectExample" aria-label="inline select example">
        <option>Choose</option>
        <option value="1">Pure CSS</option>
        <option value="2">No JS</option>
        <option value="3">Nice!</option>
      </select>
    </div>
    <button type="button" class="btn btn--default">Default</button>
    <h6>Markup:</h6>
<pre>&#x3C;div <mark>class=&#x22;select--inline&#x22;</mark>&#x3E;
  &#x3C;select name=&#x22;name&#x22; id=&#x22;id&#x22;&#x3E;
    ...
  &#x3C;/select&#x3E;
&#x3C;/div&#x3E;</pre>
    <hr>
    <h4>Squared Corners</h4>
    <p>To change the corners of the <code>&#x3C;select&#x3E;</code> element to be squared add the <code>.select--squared</code> class to the <code>&#x3C;select&#x3E;</code> wrapper.</p>
    <h6>Demo:</h6>
    <div class="select--inline select--squared">
      <select name="selectExample" id="selectExample" aria-label="squared corners select example">
        <option>Choose</option>
        <option value="1">Pure CSS</option>
        <option value="2">No JS</option>
        <option value="3">Nice!</option>
      </select>
    </div>
    <h6>Markup:</h6>
<pre>&#x3C;div class=&#x22;select <mark>select--squared</mark>&#x22;&#x3E;
  &#x3C;select name=&#x22;name&#x22; id=&#x22;id&#x22;&#x3E;
    ...
  &#x3C;/select&#x3E;
&#x3C;/div&#x3E;</pre>
    <hr>
    <h4>Select Skins</h4>
    <p>Just like buttons, you can customize a select to have a skin color. To do this add the skin class to the <code>.select</code> wrapper.</p>
    <h6>Demo:</h6>
    <div class="select skin-blue">
      <select name="selectExample" id="selectExample" aria-label="select skin example">
        <option>Choose</option>
        <option value="1">Pure CSS</option>
        <option value="2">No JS</option>
        <option value="3">Nice!</option>
      </select>
    </div>
    <h6>Markup:</h6>
<pre>&#x3C;div class=&#x22;select <mark>skin-blue</mark>&#x22;&#x3E;
  &#x3C;select name=&#x22;name&#x22; id=&#x22;ID&#x22;&#x3E;
    ...
  &#x3C;/select&#x3E;
&#x3C;/div&#x3E;</pre>
  </div>
</section>