<h1>Select</h1>
<section class="container">
  <p>Native select menus, namely in Safari and Chrome, are not customizable. They have rounded corners that cannot be modified with CSS which can be frustrating. This select component customizes the border-radius, color, and arrow icons.</p>
  <p>To disable a select component the inner <code>select</code> element needs to be <code>:disabled</code>, and a <code>.disabled</code> class added to the select component wrapper.</p>
  <h6>Attributes:</h6>
  <ul role="group">
    <li role="listitem"><code>name</code> : <code>select</code> element, specifies the name of the control group</li>
    <li role="listitem"><code>multiple</code> : <code>select</code> element, indicates whether more than one option is allowed to be selected</li>
    <li role="listitem"><code>label</code> : <code>option</code> element, if there is no label present then the value attribute becomes the label text</li>
    <li role="listitem"><code>value</code> : <code>option</code> element, the value to be submitted with the form</li>
    <li role="listitem"><code>aria-label</code> : defines a label for the element (only used when label text not visible on screen)</li>
  </ul>
  <hr>
  <h4>Block Level</h4>
  <p>By default, the select component is a block element and takes up its entire parent container.</p>
  <h6>Demo:</h6>
  <div class="select">
    <select name="selectExample" id="selectExample" aria-label="select example">
      <option>Choose</option>
      <option value="1">Pure CSS</option>
      <option value="2">No JS</option>
      <option value="3">Nice!</option>
    </select>
  </div>
  <h6>Markup:</h6>
<pre>&#x3C;div <mark>class=&#x22;select&#x22;</mark>&#x3E;
  &#x3C;select name=&#x22;name&#x22; id=&#x22;id&#x22;&#x3E;
    &#x3C;option>Choose an option&#x3C;/option&#x3E;
    &#x3C;option value=&#x22;1&#x22;>&#x3C;/option&#x3E;
    &#x3C;option value=&#x22;2&#x22;>&#x3C;/option&#x3E;
    &#x3C;option value=&#x22;3&#x22;>&#x3C;/option&#x3E;
  &#x3C;/select&#x3E;
&#x3C;/div&#x3E;</pre>
  <hr>
  <h4>Inline</h4>
  <p>To make a select component inline with another inline element add the <code>.select--inline</code> class to the select wrapper.</p>
  <h6>Demo:</h6>
  <input type="email" aria-label="email input">
  <div class="select--inline">
    <select name="selectExample" id="selectExample" aria-label="inline select example">
      <option>Choose</option>
      <option value="1">Pure CSS</option>
      <option value="2">No JS</option>
      <option value="3">Nice!</option>
    </select>
  </div>
  <button type="button" class="btn btn--blue">Button</button>
  <h6>Markup:</h6>
<pre>&#x3C;div <mark>class=&#x22;select--inline&#x22;</mark>&#x3E;
  &#x3C;select name=&#x22;name&#x22; id=&#x22;id&#x22;&#x3E;
    ...
  &#x3C;/select&#x3E;
&#x3C;/div&#x3E;</pre>
  <hr>
  <h4>Squared Corners</h4>
  <p>To change the <code>border-radius</code> on the select component to be squared add <code>.select--squared</code> to the select wrapper.</p>
  <h6>Demo:</h6>
  <div class="select--inline select--squared">
    <select name="selectExample" id="selectExample" aria-label="squared corners select example">
      <option>Select an option</option>
      <option value="1">Pure CSS</option>
      <option value="2">No JS</option>
      <option value="3">Nice!</option>
    </select>
  </div>
  <h6>Markup:</h6>
<pre>&#x3C;div class=&#x22;select <mark>select--squared</mark>&#x22;&#x3E;
  &#x3C;select name=&#x22;name&#x22; id=&#x22;id&#x22;&#x3E;
    ...
  &#x3C;/select&#x3E;
&#x3C;/div&#x3E;</pre>
  <hr>
  <h4>Skins</h4>
  <p>All basic skins are available for this component.</p>
  <div *ngFor="let color of colors">
    <h6>Demo: <code>skin-{{ color }}</code></h6>
    <div class="select skin-{{ color }}">
      <select name="selectExample" id="selectExample" aria-label="select skin example">
        <option>Select</option>
        <option value="1">Pure CSS</option>
        <option value="2">No JS</option>
        <option value="3">Nice!</option>
      </select>
    </div>
    <div class="select skin-{{ color }} disabled">
      <select name="selectExample" id="selectExample" disabled aria-label="select skin example">
        <option>Select Disabled</option>
        <option value="1">Pure CSS</option>
        <option value="2">No JS</option>
        <option value="3">Nice!</option>
      </select>
    </div>
  </div>
  <h6>Markup:</h6>
<pre>&#x3C;div class=&#x22;select <mark>skin-{{ '{' }}{{ '{' }} color {{ '}' }}{{ '}' }}</mark>&#x22;&#x3E;...&#x3C;/div&#x3E;</pre>
</section>