<h1>Tab</h1>
<section class="container">
  <p>Usually, tabs are created with Javascript via a framework like Angular or React. If you're looking for a pure CSS version and you don't need a complex large amount of tabs here's a solution. The default style has no visual container, just a bottom border on the tab that's currently selected.</p>
  <p>The tab component uses the <code>input</code> and <code>section</code> elements <code>id</code> attribute to make the tabs dynamically show and hide the current tab content.</p>
  <p>Customize where the active border is on the active tab, top or bottom, by putting <code>--top</code> or <code>--bottom</code> on the <code>label</code> element.</p>
  <hr>
  <h6>Demo:</h6>
  <div class="tab">
    <input id="tab-1" type="radio" name="demotabs1" aria-label="Thing 1 tab" checked>
    <label class="border--bottom" for="tab-1">
      <fa-icon icon="code" class="icon" aria-hidden="true"></fa-icon>
      <span>Thing 1</span>
    </label>
    <input id="tab-2" type="radio" name="demotabs1" aria-label="Thing 2 tab">
    <label class="border--bottom" for="tab-2">
      <fa-icon icon="code" class="icon" aria-hidden="true"></fa-icon>
      <span>Thing 2</span>
    </label>
    <input id="tab-3" type="radio" name="demotabs1" aria-label="Thing 3 tab">
    <label class="border--bottom" for="tab-3">
      <fa-icon icon="code" class="icon" aria-hidden="true"></fa-icon>
      <span>Thing 3</span>
    </label>
    <input id="tab-4" type="radio" name="demotabs1" aria-label="Thing 4 tab">
    <label class="border--bottom" for="tab-4">
      <fa-icon icon="code" class="icon" aria-hidden="true"></fa-icon>
      <span>Thing 4</span>
    </label>
    <section id="content-1" class="tab__content">
      <h3>Headline 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim v
      cillum dolore eu fugiat nulla pariatur.</p>
    </section>
    <section id="content-2" class="tab__content">
      <h3>Headline 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
    </section>
    <section id="content-3" class="tab__content">
      <h3>Headline 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
    </section>
    <section id="content-4" class="tab__content">
      <h3>Headline 4</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.</p>
    </section>
  </div>
  <h6>Markup:</h6>
<pre>&#x3C;div class=&#x22;<mark>tab</mark>&#x22;&#x3E;
  &#x3C;input <mark>id=&#x22;tab-1&#x22;</mark> type=&#x22;radio&#x22; name=&#x22;&#x22; aria-label=&#x22;&#x22; checked&#x3E;
  &#x3C;label for=&#x22;tab-1&#x22; class=&#x22;<mark>border--bottom</mark>&#x22;&#x3E;
    &#x3C;i class=&#x22;icon fas fa-code&#x22; aria-hidden=&#x22;true&#x22;&#x3E;&#x3C;/i&#x3E;
    &#x3C;span&#x3E;Tab Title&#x3C;/span&#x3E;
  &#x3C;/label&#x3E;
  ... more tabs here
  &#x3C;section <mark>id=&#x22;content-1&#x22;</mark> class=&#x22;<mark>tabs__content</mark>&#x22;&#x3E;
    &#x3C;h3&#x3E;Headline 1&#x3C;/h3&#x3E;
    &#x3C;p&#x3E;Content goes here...&#x3C;/p&#x3E;
  &#x3C;/section&#x3E;
  ... more sections here
&#x3C;/div&#x3E;</pre>
  <hr>
  <h4>Bordered</h4>
  <p>To add a border to the tab component add <code>--bordered</code> to the <code>.tabs</code> class.</p>
  <h6>Demo:</h6>
  <div class="tab--bordered">
    <input id="tab-5" type="radio" name="demotabs2" aria-label="Thing 5 tab" checked>
    <label class="border--bottom" for="tab-5">
      <fa-icon icon="code" class="icon" aria-hidden="true"></fa-icon>
      <span>Thing 1</span>
    </label>
    <input id="tab-6" type="radio" name="demotabs2" aria-label="Thing 6 tab">
    <label class="border--bottom" for="tab-6">
      <fa-icon icon="code" class="icon" aria-hidden="true"></fa-icon>
      <span>Thing 2</span>
    </label>
    <input id="tab-7" type="radio" name="demotabs2" aria-label="Thing 7 tab">
    <label class="border--bottom" for="tab-7">
      <fa-icon icon="code" class="icon" aria-hidden="true"></fa-icon>
      <span>Thing 3</span>
    </label>
    <section id="content-5" class="tab__content">
      <h3>Headline 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim v
      cillum dolore eu fugiat nulla pariatur.</p>
    </section>
    <section id="content-6" class="tab__content">
      <h3>Headline 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
    </section>
    <section id="content-7" class="tab__content">
      <h3>Headline 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
    </section>
  </div>
  <h6>Markup:</h6>
<pre>&#x3C;div class=&#x22;<mark>tab--bordered</mark>&#x22;&#x3E;...&#x3C;/div&#x3E;</pre>
  <hr>
  <h4>Skins</h4>
  <p>Tab skins have specific styles. They are very similar to global skins with additional characteristics.</p>
  <p>Add the skin to the <code>.chip</code> element. The skin will also alter the close icon color if present and shadow on the chip.</p>
  <h6>Demo:</h6>
  <div class="tab--bordered tab--green">
    <input id="tab-8" type="radio" name="demotabs3" aria-label="Thing 5 tab" checked>
    <label class="border--bottom" for="tab-8">
      <fa-icon icon="code" class="icon" aria-hidden="true"></fa-icon>
      <span>Thing 1</span>
    </label>
    <input id="tab-9" type="radio" name="demotabs3" aria-label="Thing 6 tab">
    <label class="border--bottom" for="tab-9">
      <fa-icon icon="code" class="icon" aria-hidden="true"></fa-icon>
      <span>Thing 2</span>
    </label>
    <section id="content-8" class="tab__content">
      <h3>Headline 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim v
      cillum dolore eu fugiat nulla pariatur.</p>
    </section>
    <section id="content-9" class="tab__content">
      <h3>Headline 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
    </section>
  </div>
  <h6>Markup:</h6>
  <pre>&#x3C;div class=&#x22;tab--bordered <mark>tab--green</mark>&#x22;&#x3E;...&#x3C;/div&#x3E;</pre>
  <hr>
  <h4>Tab Amount</h4>
  <p>Depending on how many tabs are needed you might need to customize your CSS. By default three tabs are generated for use but if you need more than that add the below code to your Sass file to generate more.</p>
  <p><code>$tabCount</code> designates how many tabs you're going to need and how many should be generated in your CSS file.</p>
<pre><mark>$tabCount: 6;</mark>

.show--tab--content {{ '{' }}
  display: block;
  padding: 20px;
  background: #fff;
{{ '}' }}

// generates two new classes for extra tabs
@for $i from 1 through $tabCount {{ '{' }}
  #tab-#{{ '{' }}$i{{ '}' }}:checked ~ #content-#{{ '{' }}$i{{ '}' }} {{ '{' }}
    @extend .show--tab--content;
  {{ '}' }}
{{ '}' }}

// if you don't need the bordered version then you don't need this
.tab__container--bordered {{ '{' }}
  @for $i from 1 through $tabCount {{ '{' }}
    #tab-#{{ '{' }}$i{{ '}' }}:checked ~ #content-#{{ '{' }}$i{{ '}' }} {{ '{' }}
      @extend .show--tab--content; 
    {{ '}' }}
  {{ '}' }}
{{ '}' }}</pre>     
</section>