<h1>Color</h1>
<section class="container">
  <h4>Gray Scale</h4>
  <div class="flex-container">
    <div class="card card--colors" *ngFor="let grayColor of grayColors">
      <div class="card__display--top" [ngStyle]="{'background':  grayColor[0] }"></div>
      <div class="card__body">
        <span class="card__title">Hex:</span>
        <span class="card__text">{{ grayColor[0] }}</span>
        <span class="card__title">Variable:</span>
        <span class="card__text">{{ grayColor[1] }}</span>
      </div>
    </div> 
  </div>
  <hr>
  <h4>Action Colors</h4>
  <div class="flex-container">
    <div class="card card--colors" *ngFor="let actionColor of actionColors">
      <div class="card__display--top bg-primary" [ngStyle]="{'background':  actionColor[0] }"></div>
      <div class="card__body">
        <span class="card__title">Hex:</span>
        <span class="card__text">{{ actionColor[0] }}</span>
        <span class="card__title">Variable:</span>
        <span class="card__text">{{ actionColor[1] }}</span>
      </div>
    </div>
  </div>
</section>