<section class="paragraph">
  <h2 class="section__title">color</h2>
  <div class="container">
    <h4>Gray Scale</h4>
    <div class="flex-container">
      <div class="card card--colors">
        <div class="card__display--top bg-gray-6"></div>
        <div class="card__body">
          <span class="card__title">Hex:</span>
          <span class="card__text">#333333</span>
          <span class="card__title">Variable:</span>
          <span class="card__text">$lego-gray-6</span>
        </div>
      </div>    
      <div class="card card--colors">
        <div class="card__display--top bg-gray-5"></div>
        <div class="card__body">
          <span class="card__title">Hex:</span>
          <span class="card__text">#585858</span>
          <span class="card__title">Variable:</span>
          <span class="card__text">$lego-gray-2</span>
        </div>
      </div>
      <div class="card card--colors">
        <div class="card__display--top bg-gray-4"></div>
        <div class="card__body">
          <span class="card__title">Hex:</span>
          <span class="card__text">#7E7E7E</span>
          <span class="card__title">Variable:</span>
          <span class="card__text">$lego-gray-4</span>
        </div>
      </div>
      <div class="card card--colors">
        <div class="card__display--top bg-gray-3"></div>
        <div class="card__body">
          <span class="card__title">Hex:</span>
          <span class="card__text">#A3A3A3</span>
          <span class="card__title">Variable:</span>
          <span class="card__text">$lego-gray-3</span>
        </div>
      </div>
      <div class="card card--colors">
        <div class="card__display--top bg-gray-2"></div>
        <div class="card__body">
          <span class="card__title">Hex:</span>
          <span class="card__text">#C9C9C9</span>
          <span class="card__title">Variable:</span>
          <span class="card__text">$lego-gray-2</span>
        </div>
      </div>  
      <div class="card card--colors">
        <div class="card__display--top bg-gray-1"></div>
        <div class="card__body">
          <span class="card__title">Hex:</span>
          <span class="card__text">#EEEEEE</span>
          <span class="card__title">Variable:</span>
          <span class="card__text">$lego-gray-1</span>
        </div>
      </div>      
    </div>
    <h4>Action Colors</h4>
    <div class="flex-container">
      <div class="card card--colors">
        <div class="card__display--top bg-primary"></div>
        <div class="card__body">
          <span class="card__title">Hex:</span>
          <span class="card__text">#337ab7</span>
          <span class="card__title">Variable:</span>
          <span class="card__text">$lego-primary</span>
        </div>
      </div>
      <div class="card card--colors">
        <div class="card__display--top bg-success"></div>
        <div class="card__body">
          <span class="card__title">Hex:</span>
          <span class="card__text">#5cb85c</span>
          <span class="card__title">Variable:</span>
          <span class="card__text">$lego-success</span>
        </div>
      </div>
      <div class="card card--colors">
        <div class="card__display--top bg-info"></div>
        <div class="card__body">
          <span class="card__title">Hex:</span>
          <span class="card__text">#5bc0de</span>
          <span class="card__title">Variable:</span>
          <span class="card__text">$lego-info</span>
        </div>
      </div>
      <div class="card card--colors">
        <div class="card__display--top bg-warning"></div>
        <div class="card__body">
          <span class="card__title">Hex:</span>
          <span class="card__text">#fdae61</span>
          <span class="card__title">Variable:</span>
          <span class="card__text">$lego-warning</span>
        </div>
      </div>
      <div class="card card--colors">
        <div class="card__display--top bg-danger"></div>
        <div class="card__body">
          <span class="card__title">Hex:</span>
          <span class="card__text">#d53e4f</span>
          <span class="card__title">Variable:</span>
          <span class="card__text">$lego-danger</span>
        </div>
      </div>
    </div>
  </div>
</section>