
<h5>Disabled Buttons</h5>
<p>The <code>[disabled] or .disabled</code> state just changes the opacity on the button but keeps the original color.</p>
<div class="container flex-column">
  <div>Filled: </div>
  <div>
    <button class="btn btn--primary" disabled>primary</button>
    <button class="btn btn--success" disabled>success</button>
    <button class="btn btn--danger" disabled>danger</button>
    <button class="btn btn--default" disabled>default</button>
  </div>
</div>
<div class="container flex-column">
  <div>Outlined: </div>
  <div>
    <button class="btn btn--outline-primary" disabled>outlined primary</button>
    <button class="btn btn--outline-success" disabled>outlined success</button>
    <button class="btn btn--outline-danger" disabled>outlined danger</button>
    <button class="btn btn--outline-default" disabled>outlined default</button>
  </div>
</div>
<div class="container flex-column">
  <div>Links: </div>
  <div>
    <button class="btn link--primary" disabled>link primary / default</button>
    <button class="btn link--success" disabled>link success</button>
    <button class="btn link--danger" disabled>link danger</button>
    <button class="btn link--gray" disabled>link gray</button>
    <div class="custom-bg-dark"><button class="btn link--white" disabled>link white</button></div>
  </div>
</div>
