
<h5>Disabled Buttons</h5>
<p>The <code>[disabled] or .disabled</code> state just changes the opacity on the button but keeps the original color.</p>
<div class="container_row">
  <button class="btn btn--success" disabled>success</button>
  <button class="btn btn--default" disabled>default</button>
  <button class="btn btn--danger" disabled>danger</button>
  <button class="btn btn--primary" disabled>primary</button>
</div>
<br>
<div class="container_row">
  <button class="btn btn--outline-success" disabled>outline success</button>
  <button class="btn btn--outline-default" disabled>outline default</button>
  <button class="btn btn--outline-danger" disabled>outline danger</button>
  <button class="btn btn--outline-primary" disabled>outline primary</button>
</div>
<br>
<div class="container_row">
  <button class="btn link--success" disabled>link success</button>
  <button class="btn link--default" disabled>link default</button>
  <button class="btn link--danger" disabled>link danger</button>
  <button class="btn link--primary" disabled>link primary</button>
</div>
