<h5 class="section__title" id="buttons">button states</h5>
<div class="container">
  <p>Disabled State</p>
  <p>The <code>[disabled] or .disabled</code> state just changes the opacity on the button but keeps the original color.</p>
  <div class="container">
    <button class="btn skin-green" disabled>green</button>
    <button class="btn skin-gray" disabled>gray</button>
    <button class="btn skin-red" disabled>red</button>
    <button class="btn skin-blue" disabled>blue</button>
    <button class="btn skin-input" disabled>input</button>
  </div>
  <div class="container">
    <button class="btn skin-reverse-green" disabled>reverse green</button>
    <button class="btn skin-reverse-gray" disabled>reverse gray</button>
    <button class="btn skin-reverse-red" disabled>reverse red</button>
    <button class="btn skin-reverse-blue" disabled>reverse blue</button>
    <button class="btn skin-reverse-input" disabled>reverse input</button>
  </div>
  <p>Active State</p>
  <div class="container">
    <p>The <code>.active</code> state will make a button appear pressed (with a darker background, darker border, and inset shadow).</p>
    <button class="btn skin-green active">green</button>
    <button class="btn skin-gray active">gray</button>
    <button class="btn skin-red active">red</button>
    <button class="btn skin-blue active">blue</button>
    <button class="btn skin-input active">input</button>
  </div>
  <p>Block Level Buttons</p>
  <div class="container">
    <p>For block level buttons that span the entire width of the parent container use <code>.btn-block</code>.</p>
    <div class="container" style="width: 400px; border: 1px solid #999; padding: 10px; border-radius: 6px; margin: 0;">
      <button class="btn btn-block skin-red">Default Size</button>
      <button class="btn btn-block skin-reverse-red">Default Size</button>
    </div> 
  </div> 
</div> 