<h1>Switch</h1>
<section class="container">
  <p>Switches (toggle), are a UI element that you can use instead of two radio buttons or a single checkbox to allow users to choose between two opposite states. Toggles should only be used when there is a clear (yes or no) or (on or off) decision to be made.</p>
  <p>Example: When I wake up in the morning I turn my light switch on and the lights immediately turn on. I don't need to do anything extra and as effortlessly as they came on I can hit the switch again and turn them back off. There are only two choices, off or on. That is how you should view and make use of switches.</p>
  <h6>Attributes:</h6>
  <ul role="group">
    <li role="listitem"><code>aria-label</code> : defines a label for the element (only used when label text not visible on screen)</li>
  </ul>
  <p>The light switch is created with a hidden <code>input[type="checkbox"]</code>, therefore, we need to add an <code>aria-label</code> to tell screen readers this is the toggle for the switch.</p>
  <hr>
  <light-switch></light-switch>
</section>