<h1>Typography</h1>
<section class="container">
  <p>The typography section covers fonts, heading tags, paragraph copy,  blockquotes, and text formatting. All heading tags are "Helvetica", and have a slightly heavier weight than the body copy.</p>
  <table class="table--border">
    <tbody>
      <tr>
        <td><code>&#x3C;h1&#x3E;</code></td>
        <td><h1 class="demo-h1">Heading 1</h1></td>
      </tr>
      <tr>
        <td><code>&#x3C;h2&#x3E;</code></td>
        <td><h2>Heading 2</h2></td>
      </tr>
      <tr>
        <td><code>&#x3C;h3&#x3E;</code></td>
        <td><h3>Heading 3</h3></td>
      </tr>
      <tr>
        <td><code>&#x3C;h4&#x3E;</code></td>
        <td><h4>Heading 4</h4></td>
      </tr>
      <tr>
        <td><code>&#x3C;h5&#x3E;</code></td>
        <td><h5>Heading 5</h5></td>
      </tr>
      <tr>
        <td><code>&#x3C;h6&#x3E;</code></td>
        <td><h6>Heading 6</h6></td>
      </tr>
      <tr>
        <td><code>&#x3C;p&#x3E;</code></td>
        <td><p>This is normal body copy with Arial.</p></td>
      </tr>
    </tbody>
  </table>
  <p>There is also a slightly larger line-height for increased legibility and readability on paragraph copy. Bacon ipsum dolor amet meatloaf pariatur irure, swine ground round jerky brisket venison turducken hamburger pancetta anim aliquip. Sed ut sint ad jowl lorem nostrud dolore sunt et andouille pancetta kielbasa. Ham boudin tail do, alcatra tenderloin bresaola veniam. Capicola eu pig, nostrud doner sausage meatloaf bresaola. Pork belly tri-tip aliqua anim est magna pork chop jerky dolore fatback commodo irure.</p>
  <blockquote>This is a blockquote. Most don't use this often type of text formatting regularly but this is the default. If you add a <code>&#x3C;footer&#x3E;&#x3C;/footer&#x3E;</code> inside of a blockquote it will look like the example below. It will add ::before styles to the footer.
  <footer>Blockquote footer </footer>
  </blockquote>
  <hr>
  <h4>Text Formatting</h4>
  <p>This is not an exhaustive list of all text formatting elements but some of the most commonly used ones.</p>
  <table class="table--border">
    <tbody>
      <tr>
        <td><code>&#x3C;strong&#x3E;</code></td>
        <td><strong>Contents have strong importance</strong></td>
      </tr>
      <tr>
        <td><code>&#x3C;em&#x3E;</code></td>
        <td><em>Text that has stress emphasis</em></td>
      </tr>
      <tr>
        <td><code>&#x3C;s&#x3E;</code></td>
        <td><s>text with a strikethrough, or a line through it</s></td>
      </tr>
      <tr>
        <td><code>&#x3C;small&#x3E;</code></td>
        <td><small>small print, like copyright and legal text</small></td>
      </tr>
      <tr>
        <td><code>&#x3C;sup&#x3E;</code></td>
        <td>Normal Text<sup>Superscript text</sup></td>
      </tr>
      <tr>
        <td><code>&#x3C;sub&#x3E;</code></td>
        <td>Normal Text<sub>Subscript text</sub></td>
      </tr>
      <tr>
        <td><code>&#x3C;code&#x3E;</code></td>
        <td><code>Short fragment of computer code</code></td>
      </tr>
      <tr>
        <td><code>&#x3C;kbd&#x3E;</code></td>
        <td><kbd>Cmd</kbd> + <kbd>C</kbd> Textual user input from a keyboard</td>
      </tr>
      <tr>
        <td><code>&#x3C;samp&#x3E;</code></td>
        <td><samp>Represents sample output from a computer program</samp></td>
      </tr>
      <tr>
        <td><code>&#x3C;mark&#x3E;</code></td>
        <td><mark>Text which is marked or highlighted</mark></td>
      </tr>
    </tbody>
  </table>
</section>