<h5 class="section__title">Legos dropdowns</h5>
  <div class="container">
    <p>Our dropdowns are pur css that is activated with an invisible input checkbox. The only downside is if it is open you need to click it again to close it. Clicking outside of it will not close it.</p>
    <div class="lego-dropdown">
      <input type="checkbox">
      <button class="btn skin-reverse-blue">
        Dropdown Menu
        <i class="fas fa-caret-down" aria-hidden="true"></i>
      </button>
      <ul>
        <li><a href="#">A Link</a></li>
        <li><a href="#">Another Link</a></li>
        <li><a href="#">Sign off</a></li>
        <li><a href="#">A Link</a></li>
        <li><a href="#">Another Link</a></li>
      </ul>
    </div>
    <div class="lego-dropdown">
      <input type="checkbox" disabled>
      <button class="btn skin-reverse-blue" disabled>
        Dropdown Menu
        <i class="fas fa-caret-down" aria-hidden="true"></i>
      </button>
      <ul>
        <li><a href="#">A Link</a></li>
        <li><a href="#">Another Link</a></li>
        <li><a href="#">Sign off</a></li>
      </ul>
    </div>
    <div class="lego-dropdown">
      <input type="checkbox">
      <button class="btn skin-reverse-blue">
        <span class="icon--sm">
          Words
        </span>
        <i class="fas fa-caret-down icon--pad--left" aria-hidden="true"></i>
      </button>
      <ul>
        <li><a href="#">A Link</a></li>
        <li><a href="#">Another Link</a></li>
        <li><a href="#">Sign off</a></li>
      </ul>
    </div>
    <p>Example: Pure Css Dropdown</p>
<pre>&lt;div class="lego-dropdown"&gt;<br />
&lt;input type="checkbox"&gt;<br />
&lt;button class="btn skin-reverse-blue"&gt;<br />
Dropdown Menu<br />
&lt;i class="fas fa-caret-down" aria-hidden="true"&gt;&lt;/i&gt;<br />
&lt;/button&gt;<br />
&lt;ul&gt;<br />
&lt;li&gt;&lt;a href="#"&gt;A Link&lt;/a&gt;&lt;/li&gt;<br />
&lt;li&gt;&lt;a href="#"&gt;Another Link&lt;/a&gt;&lt;/li&gt;<br />
&lt;li&gt;&lt;a href="#"&gt;Sign off&lt;/a&gt;&lt;/li&gt;<br />
&lt;/ul&gt;<br />
&lt;/div&gt;</pre>
</div>