<section class="paragraph">
  <h4 class="section__title" id="alerts"><i class="icon fas fa-hashtag" aria-hidden="true"></i>alerts</h4>
  <div class="container">
    <p>The different color classes for the alerts are: <code>alert--danger, alert--success, alert--info, alert--warning</code>.</p>
    <p>Feel free to make your own custom one.</p>
    <div class="alert alert--global alert--danger" role="alert">
      <div>
        Oh snap! Class alert-danger.
      </div>
      <button type="button" class="alert-close">
        <i class="icon fas fa-times" aria-hidden="true"></i>
      </button>
    </div>
    <div class="alert alert--success">
      <div>
        Oh snap! Class alert-success.
      </div>
      <button type="button" class="alert-close">
        <i class="icon fas fa-times" aria-hidden="true"></i>
      </button>
    </div>
    <div class="alert alert--info">
      <div>
        Oh snap! Class alert-info.
      </div>
      <button type="button" class="alert-close">
        <i class="icon fas fa-times" aria-hidden="true"></i>
      </button>
    </div>
    <div class="alert alert--warning">
      <div>
        Oh snap! Class alert-warning.
      </div>
      <button type="button" class="alert-close">
        <i class="icon fas fa-times" aria-hidden="true"></i>
      </button>
    </div>
<pre>&lt;div class="alert alert--danger"&gt;<br />
&lt;div&gt;Oh snap! Class alert-danger.&lt;/div&gt;<br />
&lt;button type="button" class="alert-close"&gt;<br />
&lt;i class="fas fa-times" aria-hidden="true"&gt;&lt;/i&gt;<br />
&lt;/button&gt;<br />
&lt;/div&gt;</pre>
  </div>
</section>