
.content {
  max-width: 1100px;
  min-width: 20px;
  width: 100%;
  padding-top: 40px;
  margin-right: 20px;
  padding-right: 45px;
}

h1 {
  text-align: center;
}
pre {
  max-height: 350px;
}
pre.no-background {
  background-color: #fff;
}

header {
  border: 1px solid #ccc;
}

sidebar + section {
  margin-left: 20px;
  padding-left: 45px;

  @media screen (min-width: 1200px) {
    padding-top: 55px;
    margin-left: 300px;
  }
}
