.page {
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  position:relative;
  display: flex;
}

.content {
  max-width: 1100px;
  min-width: 20px;
  width: 100%;
  padding-top: 40px;
  margin-right: 20px;
  padding-right: 45px;
}

pre.no-background {
  background-color: #fff;
}

header {
  border: 1px solid #ccc;
}

h3 .fas {
  color:  #ccc;
}

sidebar + section {
  margin-left: 20px;
  padding-left: 45px;

  @media screen (min-width: 1200px) {
    padding-top: 55px;
    margin-left: 300px;
  }
}

.acc-custom {
  max-width: 650px;
}
