h1 {
  text-align: center;
  margin-bottom: 1em;
  border-bottom: 1px solid #eee;
}

h2 { margin-top: 0; }

pre { max-height: 350px; }
pre.no-background { background-color: #fff; }
pre + pre {margin-top:15px;}
