<div class="nav__item" routerLink="introduction">Introduction</div>
<div class="accordion">
  <input type="checkbox" class="accordion__toggle" aria-label="toggle for getting started accordion">
  <i aria-label="toggle for accordion component"></i>
  <div class="nav__item accordion__title">
    Getting Started
  </div>
  <div class="accordion__container">
    <ul class="list--nav">
      <li *ngFor="let item of startingitems" 
         routerLink="{{ item.link }}" 
         [ngClass]="{'divider': item.divider}"
         class="{{ item.class }}">
          {{ item.name }}
       </li>
     </ul>
  </div>
</div>
<div class="accordion">
  <input type="checkbox" class="accordion__toggle" aria-label="toggle for base accordion">
  <i aria-label="toggle for accordion component"></i>
  <div class="nav__item accordion__title">
    Base
  </div>
  <div class="accordion__container">
    <ul class="list--nav">
      <li *ngFor="let item of baseitems" 
        routerLink="{{ item.link }}" 
        [ngClass]="{'divider': item.divider}"
        class="{{ item.class }}">
         {{ item.name }}
      </li>
    </ul>
  </div>
</div>
<div class="accordion">
  <input type="checkbox" class="accordion__toggle" aria-label="toggle for components accordion">
  <i aria-label="toggle for accordion component"></i>
  <div class="nav__item accordion__title">
    Components
  </div>
  <div class="accordion__container">
    <ul class="list--nav">
      <li *ngFor="let item of componentitems" 
         routerLink="{{ item.link }}" 
         [ngClass]="{'divider': item.divider}"
         class="{{ item.class }}">
          {{ item.name }}
       </li>
     </ul>
  </div>
</div>