<div class="accordion">
  <input type="checkbox">
  <i></i>
  <div class="nav__item accordion__title">
    Introduction
  </div>
  <p class="accordion__container">
    <a *ngFor="let item of introitems" 
       routerLink="{{ item.link }}" 
       [ngClass]="{'divider': item.divider}"
       class="{{ item.class }}">
       {{ item.name }}
    </a>
  </p>
</div>
<div class="accordion">
  <input type="checkbox">
  <i></i>
  <div class="nav__item accordion__title">
    Getting Started
  </div>
  <p class="accordion__container">
    <a *ngFor="let item of startingitems" 
       routerLink="{{ item.link }}" 
       [ngClass]="{'divider': item.divider}"
       class="{{ item.class }}">
        {{ item.name }}
     </a>
  </p>
</div>
<div class="accordion">
  <input type="checkbox">
  <i></i>
  <div class="nav__item accordion__title">
    Base
  </div>
  <p class="accordion__container">
    <a *ngFor="let item of baseitems" 
      routerLink="{{ item.link }}" 
      [ngClass]="{'divider': item.divider}"
      class="{{ item.class }}">
       {{ item.name }}
    </a>
  </p>
</div>
<div class="accordion">
  <input type="checkbox">
  <i></i>
  <div class="nav__item accordion__title">
    Components
  </div>
  <p class="accordion__container">
    <a *ngFor="let item of componentitems" 
       routerLink="{{ item.link }}" 
       [ngClass]="{'divider': item.divider}"
       class="{{ item.class }}">
        {{ item.name }}
     </a>
  </p>
</div>