
.logo-grid {
  background: #ededed;
  align-items: flex-start;
  padding: 0 0 0 15px;
  display: inline-block;
  width: auto;
}
.logo-item {
  margin: 10px 20px 10px 0;
  max-width:  220px;
}
header {
  border: 1px solid #ccc;
}
.arial-bold-text {
  font-family: arial, sans-serif;
  font-weight: 600;
}
.arial-text {
  font-family: arial, sans-serif;
  font-weight: 400;
}
.flexo-medium-text {
  font-family: 'Flexo-Thin', sans-serif;
  font-weight: 600;
}
.flexo-thin-text {
  font-family: 'Flexo-Thin', sans-serif;
  font-weight: 400;
}
.montserrat-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.icons-container p {
  width:  200px;
}
.section__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
#documentation-table {
  max-width:  600px;
}
#documentation-table input[type="text"], 
#documentation-table input[type="color"], 
#documentation-table input[type="date"], 
#documentation-table input[type="email"], 
#documentation-table input[type="number"], 
#documentation-table input[type="password"], 
#documentation-table input[type="search"], 
#documentation-table input[type="time"], 
#documentation-table input[type="range"], 
#documentation-table select, 
#documentation-table textarea {
  margin:  0;
}
h4 .fas {
  color:  #ccc;
}
h5 {
  text-decoration:  underline;
}
#colors .card {
  width:  110px !important;
}
.card__display.lego-green {
  background: #b7ff05;
}
.card__display.papaya {
  background: #e86160;
}
.card__display.dark-blue {
  background: #212943;
}
.card__display.cool-blue {
  background: #00aeec;
}
.card__display.lego-gray {
  background: #63666a;
}
.card__display.lego-gray-1 {
  background: #e7e8e8;
}
.card__display.lego-gray-2 {
  background: #d0d1d2;
}
.card__display.lego-gray-3 {
  background: #b8babb;
}
.card__display.lego-gray-4 {
  background: #a1a3a5;
}
.card__display.lego-gray-5 {
  background: #898c8f;
}

.card__display.gray-lighter {
  background: #eeeeee;
}
.card__display.gray-light {
  background: #777777;
}
.card__display.gray {
  background: #555555;
}
.card__display.gray-dark {
  background: #333333;
}
.card__display.gray-darker {
  background: #222222;
}

.card__display.gray1 {
  background: #eeeeee;
}
.card__display.gray2 {
  background: #C9C9C9;
}
.card__display.gray3 {
  background: #A3A3A3;
}
.card__display.gray4 {
  background: #7E7E7E;
}
.card__display.gray5 {
  background: #585858;
}
.card__display.gray6 {
  background: #333333;
}
.card__display.lego-primary {
  background: #337ab7;
}
.card__display.lego-success {
  background: #5cb85c;
}
.card__display.lego-info {
  background: #5bc0de;
}
.card__display.lego-warning {
  background: #fdae61;
}
.card__display.lego-danger {
  background: #d53e4f;
} */