<div class="container">
  <p>Generic flip toggle switch</p>
  <ul class="toggle-list">
    <li class="toggle-list-item">
      <h4>Flip</h4>
      <input class="toggle toggle-flip" id="switch2" type="checkbox"/>
      <label class="toggle-btn" data-tg-off="Nope" data-tg-on="Yeah!" for="switch2"></label>
    </li>
  </ul>
  <br />
<pre>&lt;ul class="toggle-list"&gt;<br />
&nbsp;&nbsp;&lt;li class="toggle-list-item"&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class="toggle toggle-flip" id="switch2" type="checkbox"/&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;label class="toggle-btn" data-tg-off="Nope" data-tg-on="Yeah!" for="switch2">&lt;/label&gt;<br />
&nbsp;&nbsp;&lt;/li&gt;<br />
&lt;/ul&gt;</pre>
  <p>Note: for custom colors please override color styles for different cheked states.</p>
</div>