<h1>Card</h1>
<section class="container card-demo">
  <p>Card components are built around a content-first approach. They are extremely versatile to accommodate as many different types of content in any order a user wants.</p>
  <hr>
  <h6>Demo:</h6>
  <div class="card">
    <div class="card__display--top card__display--overlay bg-dark">300 x 168</div>
    <div class="card__body">
      <span class="card__title">Card Title</span>
      <span class="card__text">This is content for a card component. The summary for the card goes here, which should be two to three lines maximum.</span>
    </div>
  </div>
  <h6>Markup:</h6>
<pre>&#x3C;div class=&#x22;<mark>card</mark>&#x22;&#x3E;
  &#x3C;div class=&#x22;<mark>card__body</mark>&#x22;&#x3E;
    &#x3C;span class=&#x22;<mark>card__title</mark>&#x22;&#x3E;card title&#x3C;/span&#x3E;
    &#x3C;span class=&#x22;<mark>card__text</mark>&#x22;&#x3E;card text&#x3C;/span&#x3E;
  &#x3C;/div&#x3E;
&#x3C;/div&#x3E;</pre>
  <p>Next, we'll step through card options and how we can configure them.</p>
  <hr>
  <h4>Images</h4>
  <p>Display an image or div element with the <code>.card__display--top</code> or <code>.card__display--bottom</code> classes. Make sure the image is inside the <code>.card__body</code> element.</p>
  <h6>Demo:</h6>
  <div class="flex-container">
    <div class="card">
      <img class="card__display--top img-demo">
      <div class="card__body">
        <span class="card__title">Card Title</span>
        <span class="card__text">This is content for a card component. The summary for the card goes here, which should be two to three lines maximum.</span>
      </div>
    </div>
    <div class="card">
      <div class="card__body">
        <span class="card__title">Card Title</span>
        <span class="card__text">This is content for a card component. The summary for the card goes here, which should be two to three lines maximum.</span>
      </div>
      <img class="card__display--bottom img-demo">
    </div>
  </div>
  <h6>Markup:</h6>
<pre>&#x3C;div class=&#x22;card&#x22;&#x3E;
  &#x3C;img class=&#x22;<mark>card__display--[top OR bottom]</mark>&#x22;&#x3E;
  &#x3C;div class=&#x22;card__body&#x22;&#x3E;
   ...
  &#x3C;/div&#x3E;
&#x3C;/div&#x3E;</pre>
  <hr>
  <h4>Links &amp; Buttons</h4>
  <h6>Demo:</h6>
  <div class="flex-container cards-container">
    <div class="card">
      <div class="card__body">
        <span class="card__title">Card Title</span>
        <span class="card__text">This is content for a card component. The summary for the card goes here, which should be two to three lines maximum.</span>
        <button type="button" class="card__button btn btn--blue">Card Button</button>
      </div>
    </div>
    <div class="card">
      <div class="card__body">
        <span class="card__title">Card Title</span>
        <span class="card__text">This is content for a card component. The summary for the card goes here, which should be two to three lines maximum.</span>
        <a class="card__link link--blue" href="#">Link</a>
        <a class="card__link link--blue" href="#">More Links</a>
      </div>
    </div>
  </div>
  <h6>Markup:</h6>
<pre>&#x3C;div class=&#x22;card&#x22;&#x3E;
  &#x3C;img class=&#x22;card__display--top&#x22;&#x3E;
  &#x3C;div class=&#x22;card__body&#x22;&#x3E;
    ...
    &#x3C;button type=&#x22;button&#x22; class=&#x22;<mark>card__button</mark> btn btn--blue&#x22;&#x3E;Card Button&#x3C;/button&#x3E;
    &#x3C;a class=&#x22;<mark>card__link</mark> link--blue&#x22; href=&#x22;#&#x22;&#x3E;Link&#x3C;/a&#x3E;
  &#x3C;/div&#x3E;
&#x3C;/div&#x3E;</pre>
  <hr>
  <h4>Header &amp; Footer</h4>
  <h6>Demo:</h6>
  <div class="card">
    <div class="card__header">Card Header</div>
    <div class="card__body">
      <span class="card__title">Card Title</span>
      <span class="card__text">This is content for a card component. The summary for the card goes here, which should be two to three lines maximum.</span>
      <button type="button" class="card__button btn btn--blue">Card Button</button>
    </div>
    <div class="card__footer">Card Footer</div>
  </div>
  <h6>Markup:</h6>
<pre>&#x3C;div class=&#x22;card&#x22;&#x3E;
  &#x3C;div class=&#x22;<mark>card__header</mark>&#x22;&#x3E;Card Header&#x3C;/div&#x3E;
  &#x3C;div class=&#x22;card__body&#x22;&#x3E;...&#x3C;/div&#x3E;
  &#x3C;div class=&#x22;<mark>card__footer</mark>&#x22;&#x3E;Card Footer&#x3C;/div&#x3E;
&#x3C;/div&#x3E;</pre>
  <hr>
  <h4>Sizes</h4>
  <p>Card components have three sizes available. The size of a card, if you don't add a specific class the default width is <code>300px</code>. Add <code>.card--sm</code> or <code>.card--lg</code> to the <code>.card</code> element to adjust.</p>
  <h6>Demo:</h6>
  <div class="flex-container cards-container">
    <div class="card card--sm">
      <div class="card__display--top card__display--overlay bg-dark">150 x 84</div>
      <div class="card__body">
        <span class="card__title">Card Small</span>
        <span class="card__text">Small card text</span>
        <button type="button" class="card__button btn btn--blue">Card Button</button>
      </div>
    </div>
    <div class="card">
      <div class="card__header">Card Header</div>
      <div class="card__display--middle card__display--overlay bg-dark">300 x 169</div>
      <div class="card__body">
        <span class="card__title">Card Normal</span>
        <span class="card__text">This is content for a card component. The summary for the card goes here, which should be two to three lines maximum.</span>
        <a class="card__link link--blue" href="#">Link</a>
        <a class="card__link link--blue" href="#">More Links</a>
      </div>
    </div>
    <div class="card card--lg">
      <div class="card__body">
        <span class="card__title">Card Large</span>
        <span class="card__text">This is content for a card component. The summary for the card goes here, which should be two to three lines maximum.</span>
        <button type="button" class="card__button btn btn--blue">Card Button</button>
      </div>
      <div class="card__display--bottom card__display--overlay bg-dark">450 x 253</div>
    </div>
  </div>
  <hr>
  <h4>Alignment</h4>
  <p>Add <code>.card--left</code>, <code>.card--centered</code>, or <code>.card--right</code> on the <code>.card</code> element to change the alignment of the card content.</p>
  <h6>Demo:</h6>
  <div class="flex-container cards-container">
    <div class="card card--left">
      <div class="card__display--top card__display--overlay bg-dark">300 x 168</div>
      <div class="card__body">
        <span class="card__title">Card Title</span>
        <span class="card__text">This is content for a card component. The summary for the card goes here, which should be two to three lines maximum.</span>
        <button type="button" class="card__button btn btn--blue">Card Button</button>
      </div>
    </div>
    <div class="card card--centered">
      <div class="card__header">Card Header</div>
      <div class="card__body">
        <span class="card__title">Card Title</span>
        <span class="card__text">This is content for a card component. The summary for the card goes here, which should be two to three lines maximum.</span>
        <a class="card__link link--blue" href="#">Link</a>
        <a class="card__link link--blue" href="#">More Links</a>
      </div>
    </div>
    <div class="card card--right">
      <div class="card__body">
        <span class="card__title">Card Title</span>
        <span class="card__text">This is content for a card component. The summary for the card goes here, which should be two to three lines maximum.</span>
        <button type="button" class="card__button btn btn--blue">Card Button</button>
      </div>
      <div class="card__display--bottom card__display--overlay bg-dark">300 x 168</div>
    </div>
  </div>
</section>