<pre class="no-background">
                    ___           ___           ___           ___     
                   /  /\         /  /\         /  /\         /  /\    
                  /  /:/_       /  /:/_       /  /::\       /  /:/_   
                 /  /:/ /\     /  /:/ /\     /  /:/\:\     /  /:/ /\  
  ___      __   /  /:/ /:/_   /  /:/_/::\   /  /:/  \:\   /  /:/ /::\ 
 /__/\    / /\ /__/:/ /:/ /\ /__/:/__\/\:\ /__/:/ \__\:\ /__/:/ /:/\:\
 \  \:\  / /:/ \  \:\/:/ /:/ \  \:\ /~~/:/ \  \:\ /  /:/ \  \:\/:/~/:/
  \  \:\/ /:/   \  \::/ /:/   \  \:\  /:/   \  \:\  /:/   \  \::/ /:/ 
   \  \:\/:/     \  \:\/:/     \  \:\/:/     \  \:\/:/     \__\/ /:/  
    \  \::/       \  \::/       \  \::/       \  \::/        /__/:/   
     \__\/         \__\/         \__\/         \__\/         \__\/    
</pre>
<section class="container">
	<h1>Welcome to LegoCSS!</h1>
	<p>LegoCSS is a small component library that you can easily use in your projects. I was tired of linking to massive style libraries like Boostrap and Angular Material that has far more code than needed. My library consists of base styles and components that I use regularly.</p>
</section>