<pre class="no-background">
                    ___           ___           ___           ___     
                   /  /\         /  /\         /  /\         /  /\    
                  /  /:/_       /  /:/_       /  /::\       /  /:/_   
                 /  /:/ /\     /  /:/ /\     /  /:/\:\     /  /:/ /\  
  ___      __   /  /:/ /:/_   /  /:/_/::\   /  /:/  \:\   /  /:/ /::\ 
 /__/\    / /\ /__/:/ /:/ /\ /__/:/__\/\:\ /__/:/ \__\:\ /__/:/ /:/\:\
 \  \:\  / /:/ \  \:\/:/ /:/ \  \:\ /~~/:/ \  \:\ /  /:/ \  \:\/:/~/:/
  \  \:\/ /:/   \  \::/ /:/   \  \:\  /:/   \  \:\  /:/   \  \::/ /:/ 
   \  \:\/:/     \  \:\/:/     \  \:\/:/     \  \:\/:/     \__\/ /:/  
    \  \::/       \  \::/       \  \::/       \  \::/        /__/:/   
     \__\/         \__\/         \__\/         \__\/         \__\/    
</pre>
<section class="container">
	<h1>Welcome to LegoCSS!</h1>
	<p>Massive style libraries can block creativity and consistency for your brand and contain far more code than is needed for your site. LegoCSS is my small component library using base styles which can be easily outfitted for your brand’s unique look and feel.</p>
</section>