<img class="logo" src="/assets/lego-logo.svg" alt="LegoCSS Logo" />
<section class="container">
  <h1>Welcome to LegoCSS!</h1>
  <p>Massive-style libraries have a way of blocking creativity, consistency, and contain far more code than is necessary for a project. LegoCSS is a minimalistic component library with lego-like pieces that easily fit your brand’s unique look and feel.</p>
  <div class="flex-container">
    <a type="button" class="btn btn--outline-blue" href="https://github.com/morgantaylor/lego-library" target="_blank" rel="noreferrer">
      <fa-icon [icon]="['fab', 'github']" class="icon fa-lg" aria-hidden="true"></fa-icon>
      <span>View Github Project</span>
    </a>
  </div>
</section>