<h5>Radio Groups</h5>
<div class="container">
  <p>In our forms radio inputs are <strong>stacked by default</strong>. Just add a <code>.radio</code> class around a parent container for the inputs.</p>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Radio option 1
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio option 2
    </label>
  </div>
<pre>&lt;div class="radio"&gt;<br />
&nbsp;&nbsp;&lt;label&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="radio" name="" id="" value="" checked&gt;Radio option 1<br />
&nbsp;&nbsp;&lt;/label&gt;<br />
&lt;/div&gt;</pre>
</div>
<h5>Inline Radio Groups</h5>
<div class="container">
  <p>Similarly use the <code>.radio--inline</code> class on a series of radio inputs that you want to appear alongside eachother.</p>
  <label class="radio--inline">
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Radio option 1
  </label>
  <label class="radio--inline">
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio option 2
  </label>
  <br /><br />
<pre>&lt;label class="radio--inline"&gt;<br />
&nbsp;&nbsp;&lt;input type="radio" name="" id="" value=""&gt; 1<br />
&lt;/label&gt;<br />
&lt;label class="radio--inline"&gt;<br />
&nbsp;&nbsp;&lt;input type="radio" name="" id="" value=""&gt; 2<br />
&lt;/label&gt;</pre>
</div>
<custom-radio></custom-radio>