<p>The name is somewhat cheesy and obvious. I'm a huge fan of Legos, the blocks themselves, and have been a huge fan since I was a kid. While working for a past company the idea of creating small bits of reusable code was introduced. There was really no better name for it.</p>
<p>This library is the coming together of two of my passions. The building of something from small interchangeable pieces and using those reusable pieces to make something larger.</p>
<p>I have several inspiration for this library as well. Obviously Bootstrap and Material Design were the ones who started the libraries for me, in a good and bad way. They made it so that getting a website going was easy and painless. At the same time though there was so much code that came with those libraries and most of the time you really only needed a small portion per project. I would spend time overwritting importing my <code>rest.css</code> file, overwritting specific styles of their's to my own preference and doing that for every project. It was quite time consuming.</p>
<p>Some of my inspirations for small modular code have been:</p>
<ul>
	<li><a>PureCSS.io</a>, they have been the standard for minimal reusable code</li>
	<li>Airbnb</li>
	<li>Dropbox</li>
	<li>Yelp</li>
	<li>IBM Design Language</li>
</ul>
<p>...plus many many more. They all helped me to understand, appreciate and customize this library to be what I need and maybe what someone else needs. I encourage anyone interested to try to make you're own. The decisions that you need to make and process you need to go through from start to finish are truely valueable to the process of learning.</p>