<section class="container">
	<h2 class="section__title" id="legos">legos</h2>
	<p>The name is somewhat cheesy and obvious. I'm a Legos fan, have been ever since childhood. This library is the coming together of my two passions. Using smallpieces that are reusable and  interchangeable to make something larger.</p>
	<h5>What problem does this project solve</h5>
	<p>Twitter Bootstrap and Material Design were the style libraries I started coding with when I started coding. They made getting a website going easy and painless. On the downside, there was so much code that came along with those libraries that it would be impossible to really need and use it all on one project. I would spend countless hours overwritting specific styles of theirs to my own preference and doing that for every project. It was quite time consuming, which is how this project came to be.</p>
	<p>Some of my inspirations for small modular code have been:</p>
	<ul>
		<li><a href="https://purecss.io/" alt="Pure CSS Design Library" target="_blank" rel="noreferrer">PureCSS.io</a>, they have been the standard for minimal reusable code</li>
		<li><a href="https://primer.style/css/" alt="Primer CSS" target="_blank" rel="noreferrer">Github</a></li>
		<li><a href="https://www.yelp.com/styleguide" alt="Yelp Style Guide" target="_blank" rel="noreferrer">Yelp Styleguide</a></li>
		<li><a href="https://www.carbondesignsystem.com/" alt="Carbon Design System" target="_blank" rel="noreferrer">Carbon</a> - IBMs Design Language </li>
	</ul>
	<p>...plus many many more. They all helped me to understand, appreciate and customize this library to be what I need and maybe what someone else needs. I encourage anyone interested to try to make you're own. The decisions that you need to make and the process you need to go through from start to finish are truely valueable to the process of learning.</p>
</section>