<h1>Container</h1>
<section class="container">
  <p>Quickly added the layout of content with these three classes. The intention of these classes is to be used for only simple base layouts. For more complex containers you may need to add more explicit CSS.</p>
  <hr>
  <h4>Base Container</h4>
  <p>The <code>.container</code> class creates a responsive box with space on the bottom. The max-width of these containers is <code>700px</code>. This width improves paragraph readability while also providing padding for mobile devices.</p>
  <p><sup>*</sup>Note: If you nested <code>.container</code> classes <code>25px</code> of padding will be added to the left side of the inner container. This is intended to be used for indenting content subsections or dividing parts of a form. </p>
  <h6>Markup:</h6>
<pre>position&#58; relative
  margin&#58; 0 auto 20px auto
  padding&#58; 0
  width&#58; 100%
  max-width&#58; 700px
  padding&#58; 0 20px</pre>
  <hr>
  <h4>Flex Row</h4>
  <p>Add the <code>.flex-container</code> with the <code>.container</code> class to make any <code>.container</code> a flex parent (default row). This class can be used with or without the <code>.container</code> class. This flex container uses the below properties.</p>
  <h6>Markup:</h6>
<pre>display&#58; flex
align-items&#58; center
flex-wrap&#58; wrap</pre>
  <hr>
  <h4>Flex Column</h4>
  <p>Add the <code>.flex-column</code> class with <code>.container</code> class to transform the container into a flex parent with a column direction. This class does not share styles with the <code>.flex-container</code> class. Similar to the <code>.flex-container</code> class this class can be used with or without the <code>.container</code> class. This flex container uses the below properties.</p>
  <h6>Markup:</h6>
<pre>display&#58; flex
flex-direction&#58; column</pre>
</section>