<section class="paragraph">
  <h4 class="section__title" id="inputs"><i class="fas fa-hashtag icon--pad--right" aria-hidden="true"></i>inputs</h4>
  <div class="container">
    <p>Inputs are by default a block item that has <code>width: 100%; display: block</code> properties.</p>
    <p>Make sure you add <code>type=""</code> and <code>placeholder=""</code> to your input. By defaut this is what it looks like below.</p>
    <table id="documentation-table">
      <tbody>
        <tr>
          <td><code>&lt;input type="checkbox"&gt;</code></td>
          <td><input type="checkbox"></td>
        </tr>
        <tr>
          <td><code>&lt;input type="color"&gt;</code></td>
          <td><input type="color"></td>
        </tr>
        <tr>
          <td><code>&lt;input type="date"&gt;</code></td>
          <td><input type="date"></td>
        </tr>
        <tr>
          <td><code>&lt;input type="email"&gt;</code></td>
          <td><input type="email"></td>
        </tr>
        <tr>
          <td><code>&lt;input type="number"&gt;</code></td>
          <td><input type="number"></td>
        </tr>
        <tr>
          <td><code>&lt;input type="password"&gt;</code></td>
          <td><input type="password"></td>
        </tr>
        <tr>
          <td><code>&lt;input type="radio"&gt;</code></td>
          <td><input type="radio"></td><
        </tr>
        <tr>
          <td><code>&lt;input type="range"&gt;</code></td>
          <td><input type="range"></td>
        </tr>
        <tr>
          <td><code>&lt;input type="search"&gt;</code></td>
          <td><input type="search"></td>
        </tr>
        <tr>
          <td><code>&lt;input type="text"&gt;</code></td>
          <td><input type="text"></td>
        </tr>
        <tr>
          <td><code>&lt;input type="time"&gt;</code></td>
          <td><input type="time"></td>
        </tr>
        <tr>
          <td><code>&lt;progress&gt;&lt;/progress&gt;</code></td>
          <td><progress></progress></td>
        </tr>
        <tr>
          <td><code>&lt;select&gt;&lt;select&gt;</code></td>
          <td>
            <select>
              <option>Option 1</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><code>&lt;textarea&gt;&lt;/textarea&gt;</code></td>
          <td><textarea></textarea></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>