<h4>Basic</h4>
<p>By default the light switch component is a block element. The label is encosed within it so that will always be on the same line as its corresponding switch. The default switch is very much light a light switch, dark and gray when off and golden when on. Colors are customizeable along with the default skins that come with the element.</p>
<h6>Demo:</h6>
<div class="switch">
  <div class="switch__title">Light Switch</div>
  <input type="checkbox">
  <span>
    <span>Off</span>
    <span>On</span>
    <a></a>
  </span>
</div>
<h6>Markup:</h6>
<pre>&#x3C;div class=&#x22;<mark>switch</mark>&#x22;&#x3E;
  &#x3C;input type=&#x22;checkbox&#x22;&#x3E;
  &#x3C;div class=&#x22;switch__title&#x22;&#x3E;label text here&#x3C;/div&#x3E;
  &#x3C;span&#x3E;
    &#x3C;span&#x3E;Off&#x3C;/span&#x3E;
    &#x3C;span&#x3E;On&#x3C;/span&#x3E;
    &#x3C;a&#x3E;&#x3C;/a&#x3E;
  &#x3C;/span&#x3E;
&#x3C;/div&#x3E;</pre>
<h4>Inline</h4>
<p>If you want a switch component to be inline with another element just use the <code>switch--inline</code> class instead.</p>
<h6>Demo:</h6>
<div class="switch--inline">
  <div class="switch__title">Light Switch</div>
  <input type="checkbox">
  <span>
    <span>Off</span>
    <span>On</span>
    <a></a>
  </span>
</div>
<div class="switch--inline">
  <div class="switch__title">Light Switch</div>
  <input type="checkbox">
  <span>
    <span>Off</span>
    <span>On</span>
    <a></a>
  </span>
</div>
<h6>Markup:</h6>
<pre>&#x3C;div class=&#x22;<mark>switch--inline</mark>&#x22;&#x3E;
  ...
&#x3C;/div&#x3E;</pre>
<h4>Skins</h4>
<p>Default skins colors availible:</p>
<h6>Demo: <code>switch--primary</code></h6>
<div class="switch switch--primary">
  <div class="switch__title">Light Switch</div>
  <input type="checkbox" checked>
  <span>
    <span>Off</span>
    <span>On</span>
    <a></a>
  </span>
</div>
<h6>Markup:</h6>
<pre>&#x3C;div class=&#x22;<mark>switch switch--primary</mark>&#x22;&#x3E;
  ...
&#x3C;/div&#x3E;</pre>
<h6>Demo: <code>switch--success</code></h6>
<div class="switch switch--success">
  <div class="switch__title">Light Switch</div>
  <input type="checkbox" checked>
  <span>
    <span>Off</span>
    <span>On</span>
    <a></a>
  </span>
</div>
<h6>Markup:</h6>
<pre>&#x3C;div class=&#x22;<mark>switch switch--success</mark>&#x22;&#x3E;
  ...
&#x3C;/div&#x3E;</pre>
<h6>Demo: <code>switch--danger</code></h6>
<div class="switch switch--danger">
  <div class="switch__title">Light Switch</div>
  <input type="checkbox" checked>
  <span>
    <span>Off</span>
    <span>On</span>
    <a></a>
  </span>
</div>
<h6>Markup:</h6>
<pre>&#x3C;div class=&#x22;<mark>switch switch--danger</mark>&#x22;&#x3E;
  ...
&#x3C;/div&#x3E;</pre>
<h4>Color Custumizations</h4>
<p>If you want to customize your switch with a specific color that isn't part of our default skins I recomment making your own skin class, add your styles, to that, and add it alongside the <code>switch</code> element class.</p>
<pre>&#x3C;div class="switch <mark>custom-skin</mark>"&#x3E;</pre>
<p>Inside your stylesheet target these elements:</p> 
<ul>
  <li><code>.switch input:checked + span</code> : targets the background color of the switch when its on</li>
  <li><code>switch input:checked + span a</code> : targets the color of the circle when switch is on</li>
</ul>