<h5>Input Groups</h5>
<p>You can combine input elements with buttons to get a input group. Wrap the input element and button with a <code>.input-group</code>. You still have the option to add on a btn color.</p>
<h6>Demo:</h6>
<div class="input-group">
  <input type="text" class="input-group__input">
  <button type="button" class="btn input-group__btn btn--primary">Submit</button>
</div>
<div class="input-group">
  <button type="button" class="btn input-group__btn btn--default">Submit</button>
  <input type="text" class="input-group__input">
</div>
<h6>Markup:</h6>
<pre>&#x3C;div class=&#x22;<mark>input-group</mark>&#x22;&#x3E;
  &#x3C;input type=&#x22;text&#x22; class=&#x22;<mark>input-group__input</mark>&#x22;&#x3E;
  &#x3C;button type=&#x22;button&#x22; class=&#x22;btn <mark>input-group__btn</mark> btn--primary&#x22;&#x3E;Submit&#x3C;/button&#x3E;
&#x3C;/div&#x3E;</pre>