<h5 class="section__title">Input Groups</h5>
<div class="container">
  <p>You can wrap input elements and buttons by wrapping them in <code>.input--group</code>. Use different btn classes for colors.</p>
  <div class="input__group">
    <div class="input--btn">
      <input type="text">
      <button type="button" class="btn skin-blue">Submit</button>
    </div>
  </div>
  <div class="input__group">
    <div class="input--btn">
      <button type="button" class="btn skin-reverse-gray">Submit</button>
      <input type="text">
    </div>
  </div>
  <div class="input__group">
    <div class="input--btn">
      <input type="text">
      <button type="button" class="btn skin-input">Submit</button>
    </div>
  </div>
  <div class="input__group">
    <div class="input--btn">
      <button type="button" class="btn skin-reverse-input">Submit</button>
      <input type="text">
    </div>
  </div>
<pre>&lt;div class="input--btn"&gt;<br />
&nbsp;&nbsp;&lt;input type="text"&gt;<br />
&nbsp;&nbsp;&lt;button type="button" class="btn skin-blue"&gt;Submit&lt;/button&gt;<br />
&lt;/div&gt;<br />
<br />
&lt;div class="input--btn"&gt;<br />
&nbsp;&nbsp;&lt;button type="button" class="btn skin-reverse-gray"&gt;Submit&lt;/button&gt;<br />
&nbsp;&nbsp;&lt;input type="text"&gt;<br />
&lt;/div&gt;<br />
&lt;div class="input--btn"&gt;<br />
&nbsp;&nbsp;&lt;input type="text"&gt;<br />
&nbsp;&nbsp;&lt;button type="button" class="btn skin-input"&gt;Submit&lt;/button&gt;<br />
&lt;/div&gt;<br />
<br />
&lt;div class="input--btn"&gt;<br />
&nbsp;&nbsp;&lt;button type="button" class="btn skin-reverse-input"&gt;Submit&lt;/button&gt;<br />
&nbsp;&nbsp;&lt;input type="text"&gt;<br />
&lt;/div&gt;</pre>
</div>