<section class="container">
  <h2>Naming Convention: BEM</h2>
  <p>LegoCSS uses the BEM (Block, Element, Modifier) methodology. This approach goes hand in hand with reusable components. Its purpose is to give classes meaning. The more context a class has, the more informative it can be. For more information on the BEM method, see the articles below.</p>
  <ul>
    <li><a href="http://getbem.com/" target="_blank" rel="noreferrer">BEM Official Website</a></li>
    <li><a href="https://css-tricks.com/bem-101/" target="_blank" rel="noreferrer">BEM 101 by CSS-Tricks</a></li>
  </ul>
</section>