<section class="container">
	<h2 class="section__title" id="naming">naming convention: BEM</h2>
	<p>The LegoCSS library uses the BEM naming convention. The primary purpose is to give names meaning so that they are as informative as possible for the developer. For a small refresher see below.</p>
	<h6>B: Block</h6>
	<p>The block name defines the namespace for its elements and modifiers. This is the parent element.</p>
<pre>.block</pre>
	<h6>E: Element</h6>
	<p>The element name is separated from the block name by a double underscore ( __ ). These are elements that are inside the parent that relies specifically on it.</p>
<pre>.block__element</pre>
	<h6>M: Modifier</h6>
	<p>A modifier defines the appearance, state, or behavior of a block or element. The modifier name is separated from the block or element name by two hyphens ( -- ). Modifiers can manipulate the block or element to theme or style that particular component without influencing the styles of the original component.</p>
<pre>.block__element--modifier</pre>
	<p>Naming Rules:</p>
	<ul>
	    <li>Names are written in lowercase letters</li>
	    <li>Words are separated by a hyphen (-)</li>
	</ul>
</section>