<section class="paragraph">
  <h2 class="section__title">input</h2>
  <div class="container">
    <p>This is what the most used inputs look like by default. By changing the <code>type</code> attribute these <code>&#x3C;input&#x3E;</code> elements take on different roles.</p>
    <p>For a comprehensive list of attributes see the <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input" title="MDN Web Docs for input elements">MDN Web Docs</a>.</p>
    <h6>Attributes:</h6>
    <ul class="list--unstyled" role="group">
      <li role="listitem"><code>type</code> : the most important and most powerful attribute for an input element</li>
      <li role="listitem"><code>id</code> : match this attribute with the corresponding <code>for</code> 
        attribute that is on the <code>&#x3C;label&#x3E;</code> element</li>
      <li role="listitem"><code>aria-label</code> : defines a label for the element (only used when label text not visible on screen)</li>
      <li role="listitem"><code>title</code></li>
      <li role="listitem"><code>placeholder</code></li>
    </ul>
    <p>All form elements, such as <code>input</code> elements, should always have associated labels.</p>
    <table id="documentation-table">
      <tbody>
        <tr>
          <td><code>&#x3C;input type=&#x22;checkbox&#x22;&#x3E;</code></td>
          <td><input type="checkbox" aria-label="checkbox input example"></td>
        </tr>
        <tr>
          <td><code>&#x3C;input type=&#x22;color&#x22;&#x3E;</code></td>
          <td><input type="color" aria-label="color input example"></td>
        </tr>
        <tr>
          <td><code>&#x3C;input type=&#x22;date&#x22;&#x3E;</code></td>
          <td><input type="date" aria-label="date input example"></td>
        </tr>
        <tr>
          <td><code>&#x3C;input type=&#x22;email&#x22;&#x3E;</code></td>
          <td><input type="email" aria-label="email input example"></td>
        </tr>
        <tr>
          <td><code>&#x3C;input type=&#x22;number&#x22;&#x3E;</code></td>
          <td><input type="number" aria-label="number input example"></td>
        </tr>
        <tr>
          <td><code>&#x3C;input type=&#x22;password&#x22;&#x3E;</code></td>
          <td><input type="password" aria-label="password input example"></td>
        </tr>
        <tr>
          <td><code>&#x3C;input type=&#x22;radio&#x22;&#x3E;</code></td>
          <td><input type="radio" aria-label="radio input example"></td>
        </tr>
        <tr>
          <td><code>&#x3C;input type=&#x22;range&#x22;&#x3E;</code></td>
          <td><input type="range" aria-label="rangle input example"></td>
        </tr>
        <tr>
          <td><code>&#x3C;input type=&#x22;search&#x22;&#x3E;</code></td>
          <td><input type="search" aria-label="search input example"></td>
        </tr>
        <tr>
          <td><code>&#x3C;input type=&#x22;text&#x22;&#x3E;</code></td>
          <td><input type="text" aria-label="text input example"></td>
        </tr>
        <tr>
          <td><code>&#x3C;input type=&#x22;time&#x22;&#x3E;</code></td>
          <td><input type="time" aria-label="time input example"></td>
        </tr>
        <tr>
          <td><code>&#x3C;progress&#x3E;&#x3C;/progress&#x3E;</code></td>
          <td><progress></progress></td>
        </tr>
        <tr>
          <td><code>&#x3C;select&#x3E;&#x3C;select&#x3E;</code></td>
          <td>
            <div class="select">
              <select aria-label="select input example">
                <option>Option 1</option>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <td><code>&#x3C;textarea&#x3E;&#x3C;/textarea&#x3E;</code></td>
          <td><textarea aria-label="textarea input example"></textarea></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>