<section class="paragraph">
  <h2 class="section__title" id="inputs">inputs</h2>
  <div class="container">
    <p>When adding an input make sure to add <code>type=""</code> and <code>placeholder=""</code> attributes. By defaut this is what the different input types look like by default.</p>
    <table id="documentation-table">
      <tbody>
        <tr>
          <td><code>&#x3C;input type=&#x22;checkbox&#x22;&#x3E;</code></td>
          <td><input type="checkbox"></td>
        </tr>
        <tr>
          <td><code>&#x3C;input type=&#x22;color&#x22;&#x3E;</code></td>
          <td><input type="color"></td>
        </tr>
        <tr>
          <td><code>&#x3C;input type=&#x22;date&#x22;&#x3E;</code></td>
          <td><input type="date"></td>
        </tr>
        <tr>
          <td><code>&#x3C;input type=&#x22;email&#x22;&#x3E;</code></td>
          <td><input type="email"></td>
        </tr>
        <tr>
          <td><code>&#x3C;input type=&#x22;number&#x22;&#x3E;</code></td>
          <td><input type="number"></td>
        </tr>
        <tr>
          <td><code>&#x3C;input type=&#x22;password&#x22;&#x3E;</code></td>
          <td><input type="password"></td>
        </tr>
        <tr>
          <td><code>&#x3C;input type=&#x22;radio&#x22;&#x3E;</code></td>
          <td><input type="radio"></td>
        </tr>
        <tr>
          <td><code>&#x3C;input type=&#x22;range&#x22;&#x3E;</code></td>
          <td><input type="range"></td>
        </tr>
        <tr>
          <td><code>&#x3C;input type=&#x22;search&#x22;&#x3E;</code></td>
          <td><input type="search"></td>
        </tr>
        <tr>
          <td><code>&#x3C;input type=&#x22;text&#x22;&#x3E;</code></td>
          <td><input type="text"></td>
        </tr>
        <tr>
          <td><code>&#x3C;input type=&#x22;time&#x22;&#x3E;</code></td>
          <td><input type="time"></td>
        </tr>
        <tr>
          <td><code>&#x3C;progress&#x3E;&#x3C;/progress&#x3E;</code></td>
          <td><progress></progress></td>
        </tr>
        <tr>
          <td><code>&#x3C;select&#x3E;&#x3C;select&#x3E;</code></td>
          <td>
            <div class="select">
              <select>
                <option>Option 1</option>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <td><code>&#x3C;textarea&#x3E;&#x3C;/textarea&#x3E;</code></td>
          <td><textarea></textarea></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>